Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

feat: simplify local development workflow
  README.md
  packages/widget/.env.development
  packages/widget/.gitignore
  packages/widget/examples/index.html
  packages/widget/vite.config.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@15161a2170bad9ca4f2f69eeaf247a11b4e5c329 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@8104e0c62e51a0a6ea78ef81bc2a888435a96482 🚀
  project.json
Due: none

fix: working local dev with env injection
  packages/widget/.env.development
  packages/widget/examples/index.html
  packages/widget/package.json
  packages/widget/vite.config.ts
  yarn.lock
Due: build-apps, build-all

docs: update local dev steps
  README.md
Due: none

Deploying to docs from @ voiceflow/react-chat@b5b12567791af5f91a05ec88a439b3fd9920f91b 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@5c1e52b242a7d50f7b4af767ec71cdcbb4583d01 🚀
  project.json
Due: none

feat: add script for setting up github pages
  package.json
  scripts/setup_github_pages.sh
  scripts/template.html
Due: build-all

fix: better github pages setup script
  package.json
  packages/widget/.env.production
  scripts/setup_github_pages.sh
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@5381188610daae9174db071896b3e494b300deb2 🚀
  project.json
Due: none

feat: add class names to widget
  packages/react-chat/src/constants.ts
  packages/react-chat/src/styles.css
  packages/react-chat/src/views/ChatWidget/styled.ts
Due: build-apps

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@0764d4c606ffdafdb426be1cf2a5301e3dd9e41c 🚀
  project.json
Due: none

fix: markdown serializer (CT-000)
  packages/react-chat/package.json
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/Text/Default.tsx
  packages/react-chat/src/components/Text/Image.story.tsx
  packages/react-chat/src/components/Text/index.tsx
  yarn.lock
Due: build-apps, build-all

fix: markdown wrapper
  packages/react-chat/package.json
  packages/react-chat/src/components/Text/Default.tsx
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/src/components/Text/index.tsx
  packages/react-chat/src/components/index.ts
  yarn.lock
Due: build-apps, build-all

feat: markdown serializer (CT-000) (#66)
  packages/react-chat/package.json
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/Text/Default.tsx
  packages/react-chat/src/components/Text/Image.story.tsx
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/src/components/Text/index.tsx
  packages/react-chat/src/components/index.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@149187d69ea9b6b8fc023eafcce802ba71aaa656 🚀
  project.json
Due: none

fix: markup styling fixes
  packages/react-chat/package.json
  packages/react-chat/src/components/Text/Markdown.tsx
  yarn.lock
Due: build-apps, build-all

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
