Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@db37b0fcc959fe460a6d124e48cf93b83476cc3d 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-DVmJfu8l.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-DsoI2PX6.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-r1vpOTtE.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-DPXsqhyp.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

fix: add top margin to end chat spacer
  packages/chat/src/components/NewChat/NewChat.css.ts
Due: build-apps

fix: appearance of feedback button
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

chore: rename back to react-chat
  examples/live-agent/package.json
  examples/live-agent/src/config.ts
  examples/live-agent/src/context.tsx
  examples/live-agent/src/main.tsx
  examples/live-agent/src/traces/LiveAgent.trace.ts
  examples/live-agent/src/use-live-agent.hook.ts
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

ci: remove vercel config and fix sonar config
  sonar-project.properties
  vercel.json
Due: none

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

docs: clarify React integration capability in README
  README.md
Due: none

feat: add BeanScan mobile interface component
  packages/react-chat/src/assets/svg/arrow-right.svg
  packages/react-chat/src/assets/svg/coffee.svg
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/components/BeanScan/index.tsx
Due: build-apps

feat(react-chat): add DashboardCard component
  packages/react-chat/src/components/DashboardCard/DashboardCard.story.tsx
  packages/react-chat/src/components/DashboardCard/index.tsx
  packages/react-chat/src/components/DashboardCard/styled.ts
  packages/react-chat/src/constants.ts
Due: build-apps

feat(react-chat): add AgentCard component
  packages/react-chat/src/components/AgentCard/AgentCard.story.tsx
  packages/react-chat/src/components/AgentCard/__tests__/index.test.tsx
  packages/react-chat/src/components/AgentCard/index.tsx
  packages/react-chat/src/components/AgentCard/styled.ts
  packages/react-chat/src/components/DashboardCard/__tests__/index.test.tsx
  packages/react-chat/src/constants.ts
Due: build-apps

test(react-chat): add comprehensive tests for AgentCard component
  packages/react-chat/src/components/AgentCard/AgentCard.story.tsx
  packages/react-chat/src/components/AgentCard/__tests__/index.test.tsx
  packages/react-chat/src/components/AgentCard/index.tsx
  packages/react-chat/src/components/AgentCard/styled.ts
Due: build-apps

test(react-chat): enhance AgentCard test coverage
  packages/react-chat/src/components/AgentCard/__tests__/index.test.tsx
Due: build-apps

test(react-chat): add comprehensive tests for DashboardCard component
  packages/react-chat/src/components/DashboardCard/__tests__/index.test.tsx
Due: build-apps

refactor(react-chat): rename DashboardCard to AgentCard
  packages/react-chat/src/components/AgentCard/AgentCard.story.tsx
  packages/react-chat/src/components/AgentCard/__tests__/index.test.tsx
  packages/react-chat/src/components/AgentCard/index.tsx
  packages/react-chat/src/components/AgentCard/styled.ts
  packages/react-chat/src/constants.ts
Due: build-apps

feat: add console warn deprecation notice to react-chat
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: add console warn deprecation notice to react-chat (COR-4436) (#522)
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

docs(readme): add archival message
  README.md
Due: none

feat: update react-chat deprecation date (MER-187)
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: update deprecation message to users
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: lint issue
  README.md
Due: none

feat: update deprecation message to users (#533)
  README.md
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: hide watermark if in shopify (COR-6853)
  packages/react-chat/src/utils/assistant.test.ts
  packages/react-chat/src/utils/assistant.ts
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
