Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

Revert "fix: linting"
  examples/live-agent/types/global.d.ts
  packages/chat/package.json
  packages/chat/src/components/Header/new-styled.css.ts
  packages/sdk-runtime/src/runtime/runtime.service.auth.ts
  packages/sdk-runtime/src/runtime/runtime.service.prototype.ts
Due: build-apps

fix: really fixing lint
  packages/chat/package.json
Due: build-apps

feat: new voiceflow chat - initial commit (#176)
  yarn.lock
Due: build-all

chore(release): publish --skip-ci
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: add live-chat for the new chat package (COR-0000)
  examples/live-chat/CHANGELOG.md
  examples/live-chat/README.md
  examples/live-chat/example_project.vf
  examples/live-chat/index.html
  examples/live-chat/package.json
  examples/live-chat/shared/live-agent-platform.enum.ts
  examples/live-chat/shared/socket-event.enum.ts
  examples/live-chat/src/config.ts
  examples/live-chat/src/context.tsx
  examples/live-chat/src/main.tsx
  examples/live-chat/src/traces/LiveAgent.trace.ts
  examples/live-chat/src/use-live-agent.hook.ts
  examples/live-chat/tsconfig.json
  examples/live-chat/types/env.d.ts
  examples/live-chat/vite.config.ts
  package.json
  packages/chat/package.json
  packages/chat/vite.config.ts
  yarn.lock
Due: build-apps, build-all

feat: add live-chat for the new chat package (COR-0000)
  package.json
  yarn.lock
Due: build-all

fix: minor lint issue && script env
  package.json
Due: build-all

fix: minor lint issue && script env
  package.json
  packages/chat/vite.config.ts
Due: build-apps, build-all

wip
  yarn.lock
Due: build-all

fix: linting
  examples/live-chat/README.md
Due: none

feat: new UI with existing stitches library - wip
  packages/react-chat/src/components/UserResponse/index.tsx
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/views/ChatWidget/styled.ts
Due: build-apps

feat: add audio interface support (COR-000)
  packages/react-chat/.storybook/preview.tsx
  packages/react-chat/e2e/extensions.spec.ts
  packages/react-chat/package.json
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/assets/svg/microphone.svg
  packages/react-chat/src/assets/svg/sound-off.svg
  packages/react-chat/src/assets/svg/sound.svg
  packages/react-chat/src/assets/svg/stop.svg
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/ChatInput/AudioInputButton.tsx
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/SystemResponse/types.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/contexts/RuntimeContext/audio-controller.ts
  packages/react-chat/src/contexts/RuntimeContext/messages.ts
  packages/react-chat/src/contexts/RuntimeContext/silent-audio.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/AssistantOptions.dto.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/utils/assistant.test.ts
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/sdk-runtime/package.json
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  yarn.lock
Due: build-apps, build-all

feat: add audio interface support (COR-000) (#178)
  packages/react-chat/.storybook/preview.tsx
  packages/react-chat/e2e/extensions.spec.ts
  packages/react-chat/package.json
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/assets/svg/microphone.svg
  packages/react-chat/src/assets/svg/sound-off.svg
  packages/react-chat/src/assets/svg/sound.svg
  packages/react-chat/src/assets/svg/stop.svg
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/ChatInput/AudioInputButton.tsx
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/SystemResponse/types.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/contexts/RuntimeContext/audio-controller.ts
  packages/react-chat/src/contexts/RuntimeContext/messages.ts
  packages/react-chat/src/contexts/RuntimeContext/silent-audio.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/AssistantOptions.dto.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/utils/assistant.test.ts
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/sdk-runtime/package.json
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  yarn.lock
Due: build-apps, build-all

fix: fix lock file (COR-000)
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: fix lock file (COR-000) (#180)
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: fix lock file (COR-000) (#180)
  yarn.lock
Due: build-all

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/sdk-runtime/CHANGELOG.md
  packages/sdk-runtime/package.json
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/sdk-runtime/CHANGELOG.md
  packages/sdk-runtime/package.json
Due: build-apps

feat: vanilla-extract poc
  examples/live-chat/src/main.tsx
  packages/chat/package.json
  packages/chat/src/components/Button/Secondary.ts
  packages/chat/src/components/Button/styled.ts
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/hocs/tag.tsx
  packages/chat/src/index.tsx
  packages/chat/src/styles/new-theme.css.ts
  packages/chat/typings/global.d.ts
  packages/chat/vite.config.ts
  yarn.lock
Due: build-apps, build-all

feat: vanilla-extract poc
  yarn.lock
Due: build-all

feat: add dynamic color support
  yarn.lock
Due: build-all

feat: add dynamic color support
  packages/chat/package.json
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/styles/new-theme.css.ts
  packages/chat/vite.config.ts
  yarn.lock
Due: build-apps, build-all

fix: lint
  examples/live-chat/README.md
Due: none

fix: update icons and persist audio interface setting (COR-000)
  packages/react-chat/src/assets/svg/sound-off.svg
  packages/react-chat/src/assets/svg/sound.svg
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/hooks/useStorage.ts
Due: build-apps

fix: update icons and persist audio interface setting (COR-000) (#182)
  packages/react-chat/src/assets/svg/sound-off.svg
  packages/react-chat/src/assets/svg/sound.svg
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/hooks/useStorage.ts
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

feat: add live-chat for the new chat package (COR-0000) (#177)
  package.json
  yarn.lock
Due: build-all

feat: add live-chat for the new chat package (COR-0000) (#177)
  examples/live-chat/CHANGELOG.md
  examples/live-chat/README.md
  examples/live-chat/example_project.vf
  examples/live-chat/index.html
  examples/live-chat/package.json
  examples/live-chat/shared/live-agent-platform.enum.ts
  examples/live-chat/shared/socket-event.enum.ts
  examples/live-chat/src/config.ts
  examples/live-chat/src/context.tsx
  examples/live-chat/src/main.tsx
  examples/live-chat/src/traces/LiveAgent.trace.ts
  examples/live-chat/src/use-live-agent.hook.ts
  examples/live-chat/tsconfig.json
  examples/live-chat/types/env.d.ts
  examples/live-chat/vite.config.ts
  package.json
  packages/chat/package.json
  packages/chat/vite.config.ts
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: add vanilla-extract to the new chat package (COR-3282)
  yarn.lock
Due: build-all

feat: add vanilla-extract to the new chat package (COR-3282)
  examples/live-chat/src/main.tsx
  packages/chat/package.json
  packages/chat/src/index.tsx
  packages/chat/typings/global.d.ts
  packages/chat/vite.config.ts
  packages/chat/vite.package.config.ts
  yarn.lock
Due: build-apps, build-all

feat: add storybook to new package (COR-0000)
  packages/chat/.storybook/main.ts
  packages/chat/.storybook/preview-head.html
  packages/chat/.storybook/preview.tsx
  packages/chat/src/components/Avatar/styles.css.ts
Due: build-apps

feat: improve custom speech recognition logic (COR-000)
  packages/react-chat/src/components/ChatInput/AudioInputButton.tsx
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
Due: build-apps
