Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@f55e547e03a7a3c2bf833b67a614221cd07ec096 🚀
  project.json
Due: none

fix: transcript user field
  README.md
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/widget/.env.production
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@d3f1ffe141ecbf66d4da273b151019c1917ee279 🚀
  assets/index.7dc4076f.js.map
  project.json
Due: none

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@f611ef0a3e37b554c66e2b9fc4e6192e0ce22000 🚀
  project.json
Due: none

fix: enable user parameter
  packages/react-chat/package.json
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/examples/index.html
  packages/widget/src/config.ts
  yarn.lock
Due: build-apps, build-all

fix: bind session to project id (CT-1050)
  packages/react-chat/src/common/types.ts
  packages/widget/src/index.tsx
  packages/widget/src/session.ts
Due: build-apps

fix: bind session to project id (CT-1050) (#28)
  packages/react-chat/package.json
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/examples/index.html
  packages/widget/src/config.ts
  packages/widget/src/index.tsx
  packages/widget/src/session.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@76cdb7b5d549481b4c4df84eb5ac35a94c6d5ff5 🚀
  assets/index.7dc4076f.js.map
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@327297f54aeddfbb9e83f7fe695eb8720f47d47c 🚀
  project.json
Due: none

fix: unique bundle file (CT-000)
  packages/react-chat/vite.config.ts
Due: build-apps

fix: tweak animation
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/constants.ts
  packages/react-chat/src/components/SystemResponse/hooks.ts
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/types.ts
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useDidUpdateEffect.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: ending behavior
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/state/end.tsx
Due: build-apps

fix: show actions
  packages/react-chat/src/components/SystemResponse/index.tsx
Due: build-apps

feat: tweak animation status (#30)
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/constants.ts
  packages/react-chat/src/components/SystemResponse/hooks.ts
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/state/end.tsx
  packages/react-chat/src/components/SystemResponse/types.ts
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useDidUpdateEffect.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@2328a762078e3a0d16306a80df1d73f8c931568b 🚀
  project.json
Due: none

feat: caching by commit sha (CT-000)
  .circleci/continue-config.yml
  packages/react-chat/vite.config.ts
  packages/widget/src/config.ts
  packages/widget/typings/env.d.ts
  packages/widget/vite.config.ts
Due: build-apps

fix: folder structure
  packages/react-chat/package.json
  packages/react-chat/vite.config.ts
  packages/widget/.env.production
  packages/widget/package.json
  packages/widget/src/config.ts
  packages/widget/typings/env.d.ts
  packages/widget/vite.config.ts
  yarn.lock
Due: build-apps, build-all

fix: chill out with the env load
  packages/widget/vite.config.ts
Due: build-apps

feat: caching by commit sha (CT-000) (#31)
  .circleci/continue-config.yml
  packages/react-chat/package.json
  packages/react-chat/vite.config.ts
  packages/widget/.env.production
  packages/widget/package.json
  packages/widget/src/config.ts
  packages/widget/typings/env.d.ts
  packages/widget/vite.config.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@95459bf8d590866977d660d9c4f31b0f6cbda961 🚀
  project.json
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
