Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

chore: more
  packages/react-chat/tsconfig.build.json
  packages/react-chat/types/env.d.ts
  packages/react-chat/types/global.d.ts
  packages/react-chat/vite.package.config.ts
  turbo.json
Due: build-apps

fix: types
  packages/react-chat/package.json
Due: build-apps

wip: save initial state
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Carousel/styles.css.ts
Due: build-apps

wip: saving progress
  packages/chat/src/components/Card/index.tsx
  packages/chat/src/components/Card/styles.css.ts
  packages/chat/src/components/Card/types.ts
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Carousel/constants.ts
  packages/chat/src/components/Carousel/hooks.ts
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
Due: build-apps

chore: more updates
  package.json
  packages/react-chat/package.json
  turbo.json
  yarn.lock
Due: build-apps, build-all

chore: more updates
  package.json
  yarn.lock
Due: build-all

chore: remove redundant
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: works for now
  apps/documentation/src/pages/molecules/carousel.mdx
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/Carousel.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/stories.ts
Due: build-apps

fix: delete unused file
  packages/chat/src/components/Carousel/Carousel.tsx
Due: build-apps

fix: added missing buttons to docs
  apps/documentation/src/pages/atomic/buttons/buttons.mdx
  packages/chat/src/components/Button/Button.story.tsx
  packages/chat/src/components/Button/styles.css.ts
Due: build-apps

feat: aligning theme colors across components (COR-0000)
  apps/documentation/src/components/StoryEmbed.tsx
  packages/chat/src/components/Button/Button.story.tsx
  packages/chat/src/components/Button/index.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.interface.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
  packages/chat/src/components/FeedbackButton/index.tsx
  packages/chat/src/components/Header/Header.story.tsx
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/dtos/Palette.dto.ts
  packages/chat/src/hooks/usePalette.ts
  packages/chat/src/storybook/decorators.tsx
  packages/chat/src/types/IThemedComponent.ts
  packages/chat/src/types/index.ts
Due: build-apps

fix: remove unused var
  apps/documentation/src/components/StoryEmbed.tsx
Due: none

fix: unit test
  packages/chat/src/components/FeedbackButton/FeedbackButton.test.tsx
Due: build-apps

fix: svg color should change
  packages/chat/src/assets/svg/arrow-right.svg
Due: build-apps

feat: add Primary/Secondary buttons to the docs for review (COR-3533) (#226)
  apps/documentation/src/pages/atomic/buttons/buttons.mdx
  packages/chat/src/components/Button/Button.story.tsx
  packages/chat/src/components/Button/index.tsx
  packages/chat/src/components/Button/styles.css.ts
Due: build-apps

feat: add LinkPreview component (COR-3594) (#222)
  apps/documentation/src/pages/molecules/link-preview/index.mdx
  packages/chat/src/assets/svg/document-pdf.svg
  packages/chat/src/assets/svg/document-url.svg
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/components/LinkPreview/LinkPreview.story.tsx
  packages/chat/src/components/LinkPreview/index.tsx
  packages/chat/src/components/LinkPreview/styles.css.ts
  packages/chat/src/components/LinkPreview/utils.ts
  packages/chat/src/components/LoadingSpinner/LoadingSpinner.tsx
  packages/chat/src/components/LoadingSpinner/styles.css.ts
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/font.ts
  packages/chat/src/styles/sizes.ts
  packages/chat/src/types/index.ts
  packages/chat/src/types/variants.ts
Due: build-apps

chore: cleaning AssistantInfo component (replaced by WelcomeInfo) (COR-0000) (#224)
  packages/chat/src/components/AssistantInfo/AssistantInfo.story.tsx
  packages/chat/src/components/AssistantInfo/index.tsx
  packages/chat/src/components/AssistantInfo/styled.ts
  packages/chat/src/components/Chat/index.tsx
  packages/chat/src/components/Chat/styled.ts
  packages/chat/src/components/index.ts
Due: build-apps

feat: aligning theme colors across components (COR-0000) (#233)
  packages/chat/src/components/Button/Button.story.tsx
  packages/chat/src/components/Button/index.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.interface.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.test.tsx
  packages/chat/src/components/FeedbackButton/index.tsx
  packages/chat/src/components/Header/Header.story.tsx
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/dtos/Palette.dto.ts
  packages/chat/src/hooks/usePalette.ts
  packages/chat/src/storybook/decorators.tsx
  packages/chat/src/types/IThemedComponent.ts
  packages/chat/src/types/index.ts
Due: build-apps

feat: add Carousel component (COR-3662) (#232)
  apps/documentation/src/pages/molecules/carousel.mdx
  packages/chat/src/components/Card/index.tsx
  packages/chat/src/components/Card/styles.css.ts
  packages/chat/src/components/Card/types.ts
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Carousel/constants.ts
  packages/chat/src/components/Carousel/hooks.ts
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/stories.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: adding class names to components
  apps/documentation/src/pages/molecules/link-preview/index.mdx
  packages/chat/src/components/Avatar/index.tsx
  packages/chat/src/components/Feedback/index.tsx
  packages/chat/src/components/Feedback/styled.ts
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/components/Icon/index.tsx
  packages/chat/src/components/LinkPreview/index.tsx
  packages/chat/src/components/WelcomeMessage/index.tsx
Due: build-apps

fix: remove testable stuff
  packages/chat/src/components/WelcomeMessage/index.tsx
Due: build-apps

fix: define direction on both
  packages/chat/src/components/Carousel/CarouselButton.story.tsx
Due: build-apps

fix: testing storybook deployment
  .github/workflows/docs.yml
Due: none

fix: testing storybook deployment (COR-0000) (#235)
  .github/workflows/docs.yml
Due: none

fix: should fix storybook deployment
  .github/workflows/docs.yml
Due: none

fix: should fix storybook deployment (#236)
  .github/workflows/docs.yml
Due: none

fix: update deploy action
  .github/workflows/docs.yml
Due: none

chore: update github-pages-deploy-action version (COR-0000)
  .github/workflows/docs.yml
Due: none

chore: update github-pages-deploy-action version (COR-0000) (#238)
  .github/workflows/docs.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@0a8cb462a2524602474f5307af7862f9ba172d41 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: alignment issue
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

feat: looking decent
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps
