Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

feat: add icon button for secondary and primary buttons
  packages/chat/src/components/Button/ButtonIcon/ButtonIcon.css.ts
  packages/chat/src/components/Button/ButtonIcon/index.tsx
Due: build-apps

fix: footer refactor and implementation
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

fix:
  yarn.lock
Due: build-all

feat: base looking good. dropped experimental work
  packages/chat/src/components/VoiceWidget/GradientVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/MockVoiceWidgetImage.tsx
  packages/chat/src/components/VoiceWidget/MovingGradient.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.component.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.ts
Due: build-apps

feat: expanded variant
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/WaveformVisualizer.component.tsx
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.css.ts
Due: build-apps

feat: add new icons for voice mode
  packages/chat/src/assets/svg/end-call.svg
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/assets/svg/phone.svg
Due: build-apps

fix: remove lottie
  packages/chat/package.json
Due: build-apps

chore: clean up
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

fix: minor ui feedback
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/styles/box-shadows.ts
  packages/react-chat/src/styles/color.ts
Due: build-apps

fix: random stuff
  apps/documentation/src/pages/compositions/voice-widget.mdx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
Due: build-apps

fix: lint
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
Due: build-apps

fix: remove redundant style change
  packages/chat/src/styles/box-shadows.ts
  packages/react-chat/src/styles/color.ts
Due: build-apps

fix: set proper font family
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
Due: build-apps

fix: ignore orphan files
  packages/chat/.dependency-cruiser.mjs
Due: build-apps

feat: update voice widget
  examples/live-chat/src/config.ts
  examples/live-chat/types/env.d.ts
  packages/chat/src/components/Launcher/LauncherWithLabel/index.tsx
  packages/chat/src/components/Launcher/PhoneIcon.tsx
  packages/chat/src/components/Launcher/constant.ts
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
  packages/chat/src/constant/voice.constant.ts
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/hooks/cache.hook.ts
  packages/chat/src/views/ChatWidget/ChatWidget.story.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/views/VoiceWidget/VoiceWidget.view.tsx
  packages/chat/src/views/VoiceWidget/hooks/Voice.controller.ts
  packages/chat/src/views/VoiceWidget/hooks/use-audio-stream.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-voice-controller.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-websocket.hook.ts
Due: build-apps

improve voice logic (#483)
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/views/ChatWidget/ChatWidget.story.tsx
  packages/chat/src/views/VoiceWidget/VoiceWidget.view.tsx
  packages/chat/src/views/VoiceWidget/hooks/Voice.controller.ts
  packages/chat/src/views/VoiceWidget/hooks/use-audio-stream.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-voice-controller.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-voice-service.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-websocket.hook.ts
  packages/chat/src/views/VoiceWidget/services/audio.service.ts
  packages/chat/src/views/VoiceWidget/services/recorder.service.ts
  packages/chat/src/views/VoiceWidget/services/socket.service.ts
  packages/chat/src/views/VoiceWidget/services/voice.service.ts
Due: build-apps

merge: voice widget (DSN-2548) (#481)
  apps/documentation/src/pages/compositions/voice-widget.mdx
  packages/chat/.dependency-cruiser.mjs
  packages/chat/src/assets/svg/end-call.svg
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/assets/svg/phone.svg
  packages/chat/src/components/Button/ButtonIcon/ButtonIcon.css.ts
  packages/chat/src/components/Button/ButtonIcon/index.tsx
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/VoiceWidget/MockVoiceWidgetImage.tsx
  packages/chat/src/components/VoiceWidget/MovingGradient.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/WaveformVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
  packages/chat/src/styles/box-shadows.ts
Due: build-apps

feat: update voice widget (COR-4323) (#482)
  examples/live-chat/src/config.ts
  examples/live-chat/types/env.d.ts
  packages/chat/src/components/Launcher/LauncherWithLabel/index.tsx
  packages/chat/src/components/Launcher/PhoneIcon.tsx
  packages/chat/src/components/Launcher/constant.ts
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
  packages/chat/src/constant/voice.constant.ts
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/hooks/cache.hook.ts
  packages/chat/src/views/ChatWidget/ChatWidget.story.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/views/VoiceWidget/VoiceWidget.view.tsx
  packages/chat/src/views/VoiceWidget/hooks/use-voice-service.hook.ts
  packages/chat/src/views/VoiceWidget/services/audio.service.ts
  packages/chat/src/views/VoiceWidget/services/recorder.service.ts
  packages/chat/src/views/VoiceWidget/services/socket.service.ts
  packages/chat/src/views/VoiceWidget/services/voice.service.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@ac771b03a3b76cca94f87df672139a0c2f78a6cf 🚀
  project.json
Due: none

feat: use new test-env (COR-0000)
  apps/documentation/src/components/ChatScript/index.tsx
Due: none

fix: cleaning unused css (COR-0000)
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

feat: use new test-env (COR-0000) (#494)
  apps/documentation/src/components/ChatScript/index.tsx
Due: none

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
Due: none

Deploying to docs from @ voiceflow/react-chat@800ef038a87b957326de7daa1e0f182cceba4c3a 🚀
  project.json
Due: none

feat: disable proactive messages (COR-4400)
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: expose widget settings type
  packages/chat/src/main.ts
Due: build-apps

feat: expose widget settings type (COR-4405) (#498)
  packages/chat/src/main.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@f95c89774c355e78a4182a54ca61bea917a8650a 🚀
  project.json
Due: none

feat: unsubscribe from all services on end conversation
  packages/chat/src/views/VoiceWidget/services/voice.service.ts
Due: build-apps

feat: unsubscribe from all services on end conversation (COR-4408) (#500)
  packages/chat/src/views/VoiceWidget/services/voice.service.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@95c84071078a03ca2875ef231ccac208987b1983 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-DVmJfu8l.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-DsoI2PX6.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-r1vpOTtE.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-DPXsqhyp.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

wip: close popover mode on esc
  apps/documentation/src/components/ChatScript/index.tsx
  packages/chat/src/components/MessageInput/index.tsx
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/utils/assistant.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: works now
  apps/documentation/src/components/ChatScript/index.tsx
  packages/chat/src/components/MessageInput/index.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: cleaning unneeded stuff
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/utils/assistant.ts
Due: build-apps

feat: add disabled and loading states to launcher
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/Launcher/styles.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
