Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: add SendButton to docs (COR-0000) (#207)
  apps/documentation/src/pages/atomic/send-button/send-button.mdx
  packages/chat/src/components/SendButton/SendButton.story.tsx
  packages/chat/src/components/SendButton/index.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
  packages/chat/src/ui.ts
Due: build-apps

feat: add Primary/Secondary buttons (COR-3533)
  packages/chat/src/components/Button/styled.ts
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
Due: build-apps

feat: add Primary/Secondary buttons (COR-3533) (#210)
  packages/chat/src/components/Button/styled.ts
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
Due: build-apps

feat: streaming examples
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/__fixtures__/markdown.ts
Due: build-apps

feat: example of full markdown
  packages/chat/src/components/Message/Message.component.tsx
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/__fixtures__/code-snippet.ts
  packages/chat/src/components/Message/__fixtures__/full-markdown.md
Due: build-apps

wip: add markdown support
  packages/chat/package.json
  packages/chat/src/components/Message/Message.component.tsx
  packages/chat/src/components/Message/Message.css.ts
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/__fixtures__/markdown.ts
  yarn.lock
Due: build-apps, build-all

wip: message with markdown and codeblocks
  yarn.lock
Due: build-all

wip: make new message component and mark one as "old"
  packages/chat/src/components/Message/Message.component.tsx
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/index.ts
  packages/chat/src/components/OldMessage/ChatMessage.ts
  packages/chat/src/components/OldMessage/DebugMessage/index.tsx
  packages/chat/src/components/OldMessage/DebugMessage/styled.ts
  packages/chat/src/components/OldMessage/Message.story.tsx
  packages/chat/src/components/OldMessage/constants.ts
  packages/chat/src/components/OldMessage/index.ts
  packages/chat/src/components/OldMessage/styled.ts
  packages/chat/src/components/SystemResponse/ExtensionMessage.tsx
  packages/chat/src/components/Tooltip/index.tsx
  packages/chat/src/components/UserResponse/styled.ts
  packages/chat/src/components/index.ts
  packages/chat/src/styles/font.ts
Due: build-apps

wip: message with markdown and codeblocks
  packages/chat/package.json
  packages/chat/src/components/Message/Message.component.tsx
  packages/chat/src/components/Message/Message.css.ts
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/__fixtures__/markdown.ts
  packages/chat/src/components/Message/code-theme.ts
  packages/chat/src/components/Message/utils/is-code-block.ts
  yarn.lock
Due: build-apps, build-all

feat: extend the color kit
  packages/chat/src/styles/colors.ts
Due: build-apps

feat: flesh out message examples
  packages/chat/src/components/Message/Message.component.tsx
  packages/chat/src/components/Message/Message.css.ts
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/__fixtures__/code-response.md
  packages/chat/src/components/Message/__fixtures__/full-markdown.md
  packages/chat/src/components/Message/__fixtures__/inline-code.md
  packages/chat/src/components/Message/__fixtures__/lists.md
  packages/chat/src/components/Message/__fixtures__/markdown.ts
  packages/chat/src/components/Message/__fixtures__/tables-quotes-rules.md
  packages/chat/src/components/Message/__fixtures__/text-treatment.md
  packages/chat/src/components/Message/code-theme.ts
  packages/chat/src/components/Message/utils/is-code-block.ts
Due: build-apps

feat: check out github markdown format
  packages/chat/package.json
  packages/chat/src/components/Message/Message.component.tsx
  packages/chat/src/components/Message/__fixtures__/full-markdown.md
  yarn.lock
Due: build-apps, build-all

feat: check out github markdown format
  yarn.lock
Due: build-all

wip: add markdown support
  yarn.lock
Due: build-all

wip
  packages/chat/src/components/Message/Message.component.tsx
Due: build-apps

feat: add docs
  apps/documentation/src/pages/message.mdx
  packages/chat/src/stories.ts
Due: build-apps

feat: AI generated chin
  apps/documentation/src/pages/message.mdx
  packages/chat/src/assets/svg/ai.svg
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/components/Message/Message.component.tsx
  packages/chat/src/components/Message/Message.css.ts
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/styles/colors.ts
Due: build-apps

feat: make all headers a standard size
  packages/chat/src/components/Message/Message.css.ts
Due: build-apps

wip
  apps/documentation/src/pages/atomic/feedback-button/index.mdx
  apps/documentation/src/pages/atomic/message/index.mdx
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/index.ts
  packages/chat/src/components/Message/index.tsx
  packages/chat/src/components/SystemResponse/styled.ts
  packages/chat/src/components/Text/Default.tsx
  packages/chat/src/components/Tooltip/index.tsx
  packages/chat/src/components/Tooltip/styled.ts
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/index.ts
Due: build-apps

wip: fixing docs
  apps/documentation/src/pages/atomic/message/index.mdx
Due: none

feat: looking solid
  apps/documentation/src/pages/atomic/message/index.mdx
  packages/chat/src/components/Message/Message.css.ts
  packages/chat/src/components/Message/index.tsx
  packages/chat/src/components/Message/markdown-styles.css
  packages/chat/src/styles.css
  packages/chat/src/ui.ts
Due: build-apps

wip more fixing docs
  apps/documentation/src/pages/atomic/message/index.mdx
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/index.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/ui.ts
Due: build-apps

wip: fixing something
  apps/documentation/src/components/StoryEmbed.tsx
  apps/documentation/src/pages/_app.tsx
  packages/chat/package.json
  packages/chat/src/__fixtures__/markdown/text-treatment.md
  packages/chat/src/assets/svg/ai.svg
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/AgentMessage.story.tsx
  packages/chat/src/components/AgentMessage/code-theme.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/ui.ts
  yarn.lock
Due: build-apps, build-all

wip: working on the launcher button
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

feat: working docs
  apps/documentation/src/pages/atomic/agent-message/index.mdx
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/stories.ts
  packages/chat/src/styles.css
  packages/chat/src/ui.ts
Due: build-apps

fox: text color
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
Due: build-apps

feat: add custom font
  apps/documentation/public/fonts/.htaccess
  apps/documentation/public/fonts/UCityProWeb-Bold.woff
  apps/documentation/public/fonts/UCityProWeb-Bold.woff2
  apps/documentation/public/fonts/UCityProWeb-Regular.woff
  apps/documentation/public/fonts/UCityProWeb-Regular.woff2
  apps/documentation/public/fonts/UCityProWeb-Semibold.woff
  apps/documentation/public/fonts/UCityProWeb-Semibold.woff2
  apps/documentation/src/styles/globals.css
  packages/chat/.storybook/assets/fonts/.htaccess
  packages/chat/.storybook/assets/fonts/ABCMaxiRound-Light.woff
  packages/chat/.storybook/assets/fonts/ABCMaxiRound-Light.woff2
  packages/chat/.storybook/assets/fonts/UCityProWeb-Bold.woff
  packages/chat/.storybook/assets/fonts/UCityProWeb-Bold.woff2
  packages/chat/.storybook/assets/fonts/UCityProWeb-Regular.woff
  packages/chat/.storybook/assets/fonts/UCityProWeb-Regular.woff2
  packages/chat/.storybook/assets/fonts/UCityProWeb-Semibold.woff
  packages/chat/.storybook/assets/fonts/UCityProWeb-Semibold.woff2
  packages/chat/.storybook/assets/fonts/fonts.css
  packages/chat/.storybook/preview.tsx
  packages/chat/src/styles.css
Due: build-apps

feat: add markdown example fixtures
  packages/chat/src/__fixtures__/markdown/code-response.md
  packages/chat/src/__fixtures__/markdown/inline-code.md
  packages/chat/src/__fixtures__/markdown/lists.md
  packages/chat/src/__fixtures__/markdown/tables-quotes-rules.md
  packages/chat/src/__fixtures__/markdown/text-treatment.md
Due: build-apps

feat: add launcher button
  packages/chat/src/assets/svg/chevron.svg
  packages/chat/src/assets/svg/play.svg
  packages/chat/src/components/FeedbackButton/ThumbsDownIcon.component.tsx
  packages/chat/src/components/Launcher/ChevronIcon.tsx
  packages/chat/src/components/Launcher/PlayIcon.tsx
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/Launcher/launch.svg
  packages/chat/src/components/Launcher/styled.ts
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

fix: styling and font family
  apps/documentation/src/pages/atomic/agent-message/index.mdx
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/AgentMessage.story.tsx
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/styles/font.ts
Due: build-apps

fix: show close button and remove unused files
  packages/chat/src/assets/svg/chevron.svg
  packages/chat/src/assets/svg/play.svg
  packages/chat/src/components/FeedbackButton/ThumbsDownIcon.component.tsx
  packages/chat/src/components/Launcher/index.tsx
Due: build-apps

fix: random stuff
  apps/documentation/src/pages/atomic/agent-message/index.mdx
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/AgentMessage.story.tsx
  packages/chat/src/components/AgentMessage/CopyButton/CopyButton.css.ts
  packages/chat/src/components/AgentMessage/CopyButton/index.tsx
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/styles/colors.ts
Due: build-apps

fix: exact versions
  packages/chat/package.json
Due: build-apps

fix: revert back app
  apps/documentation/src/pages/_app.tsx
Due: none

fix?
  apps/documentation/src/pages/_app.tsx
Due: none

fix: wrapping code behaviour
  apps/documentation/src/pages/atomic/agent-message/index.mdx
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

fix: version package conflicts
  yarn.lock
Due: build-all

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
