Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

fix: prevent sending message while waiting (BUG-739)
  packages/react-chat/src/components/Footer/index.tsx
Due: build-apps

fix: simplify props
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
Due: build-apps

fix: prevent sending message while waiting (BUG-739) (#119)
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
Due: build-apps

fix: remove storybook (DX-1551)
  package.json
  packages/react-chat/.storybook/preview-head.html
  packages/react-chat/package.json
  packages/react-chat/src/styles/theme.ts
  yarn.lock
Due: build-apps, build-all

fix: add babel presets
  packages/react-chat/.babelrc.json
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: working storybook 7
  packages/react-chat/.storybook/main.ts
  packages/react-chat/package.json
  packages/react-chat/src/assets/svg/index.ts
  yarn.lock
Due: build-apps, build-all

fix: use storybook 8
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: add storybook/react && fix Carousel
  packages/react-chat/.storybook/main.ts
  packages/react-chat/package.json
  packages/react-chat/src/components/AssistantInfo/AssistantInfo.story.tsx
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

fix: chat context
  packages/react-chat/.storybook/preview.js
  packages/react-chat/.storybook/preview.tsx
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/AssistantInfo/AssistantInfo.story.tsx
  packages/react-chat/src/components/Avatar/Avatar.story.tsx
  packages/react-chat/src/components/Bubble/Bubble.story.tsx
  packages/react-chat/src/components/Button/Button.story.tsx
  packages/react-chat/src/components/Card/Card.story.tsx
  packages/react-chat/src/components/Chat/Chat.story.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/fixtures.ts
Due: build-apps

fix: some more stories
  packages/react-chat/src/components/ChatInput/ChatInput.story.tsx
  packages/react-chat/src/components/Footer/Footer.story.tsx
  packages/react-chat/src/components/Header/Header.story.tsx
  packages/react-chat/src/components/Icon/Icon.story.tsx
  packages/react-chat/src/components/Image/Image.story.tsx
  packages/react-chat/src/components/Input/Input.story.tsx
  packages/react-chat/src/components/Launcher/Launcher.story.tsx
  packages/react-chat/src/components/Loader/Loader.story.tsx
  packages/react-chat/src/components/Message/Message.story.tsx
  packages/react-chat/src/components/Prompt/Prompt.story.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/components/Textarea/Textarea.story.tsx
  packages/react-chat/src/components/Timestamp/Timestamp.story.tsx
  packages/react-chat/src/components/Tooltip/Tooltip.story.tsx
  packages/react-chat/src/components/TypingIndicator/TypingIndicator.story.tsx
  packages/react-chat/src/components/UserResponse/UserResponse.story.tsx
Due: build-apps

fix: almost fixed ts errors
  packages/react-chat/src/components/Message/Message.story.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/components/UserResponse/UserResponse.story.tsx
  yarn.lock
Due: build-apps, build-all

fix: linting
  packages/react-chat/.storybook/main.ts
  packages/react-chat/.storybook/preview.tsx
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
  packages/react-chat/src/components/Chat/Chat.story.tsx
  packages/react-chat/src/components/ChatInput/ChatInput.story.tsx
  packages/react-chat/src/components/Footer/Footer.story.tsx
  packages/react-chat/src/components/Header/Header.story.tsx
  packages/react-chat/src/components/Icon/Icon.story.tsx
  packages/react-chat/src/components/Image/Image.story.tsx
  packages/react-chat/src/components/Input/Input.story.tsx
  packages/react-chat/src/components/Launcher/Launcher.story.tsx
  packages/react-chat/src/components/Loader/Loader.story.tsx
  packages/react-chat/src/components/Message/Message.story.tsx
  packages/react-chat/src/components/Prompt/Prompt.story.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/components/Textarea/Textarea.story.tsx
  packages/react-chat/src/components/Timestamp/Timestamp.story.tsx
  packages/react-chat/src/components/Tooltip/Tooltip.story.tsx
  packages/react-chat/src/components/UserResponse/UserResponse.story.tsx
Due: build-apps

fix: chromatic
  .gitignore
  packages/react-chat/.storybook/main.ts
  packages/react-chat/chromatic.config.json
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: lint
  packages/react-chat/.storybook/main.ts
Due: build-apps

fix: add chromatic to depcheck ignore
  packages/react-chat/.depcheckrc
Due: build-apps

fix: stories regexp
  packages/react-chat/.storybook/main.ts
Due: build-apps

fix: noop function
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
Due: build-apps

fix: remove log
  packages/react-chat/.storybook/main.ts
Due: build-apps

fix: storybook build (DX-1551) (#116)
  .gitignore
  package.json
  packages/react-chat/.babelrc.json
  packages/react-chat/.depcheckrc
  packages/react-chat/.storybook/main.ts
  packages/react-chat/.storybook/preview-head.html
  packages/react-chat/.storybook/preview.js
  packages/react-chat/.storybook/preview.tsx
  packages/react-chat/chromatic.config.json
  packages/react-chat/package.json
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/components/AssistantInfo/AssistantInfo.story.tsx
  packages/react-chat/src/components/Avatar/Avatar.story.tsx
  packages/react-chat/src/components/Bubble/Bubble.story.tsx
  packages/react-chat/src/components/Button/Button.story.tsx
  packages/react-chat/src/components/Card/Card.story.tsx
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
  packages/react-chat/src/components/Chat/Chat.story.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/ChatInput/ChatInput.story.tsx
  packages/react-chat/src/components/Footer/Footer.story.tsx
  packages/react-chat/src/components/Header/Header.story.tsx
  packages/react-chat/src/components/Icon/Icon.story.tsx
  packages/react-chat/src/components/Image/Image.story.tsx
  packages/react-chat/src/components/Input/Input.story.tsx
  packages/react-chat/src/components/Launcher/Launcher.story.tsx
  packages/react-chat/src/components/Loader/Loader.story.tsx
  packages/react-chat/src/components/Message/Message.story.tsx
  packages/react-chat/src/components/Prompt/Prompt.story.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/components/Textarea/Textarea.story.tsx
  packages/react-chat/src/components/Timestamp/Timestamp.story.tsx
  packages/react-chat/src/components/Tooltip/Tooltip.story.tsx
  packages/react-chat/src/components/TypingIndicator/TypingIndicator.story.tsx
  packages/react-chat/src/components/UserResponse/UserResponse.story.tsx
  packages/react-chat/src/fixtures.ts
  packages/react-chat/src/styles/theme.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@1c775746085f4eda438ca5b8e34cbae90aff22e9 🚀
  project.json
Due: none

fix: save session status in persistent memory (DX-1549) (#118)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

fix: button wrapping text
  .gitignore
  packages/react-chat/src/components/Button/Primary.ts
  packages/react-chat/src/components/Card/Card.story.tsx
Due: build-apps

fix: styles
  packages/react-chat/src/components/Button/Primary.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

fix: lint
  packages/react-chat/src/components/Card/Card.story.tsx
Due: build-apps

fix: card title wrapping
  packages/react-chat/src/components/Card/Card.story.tsx
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

fix:lint
  packages/react-chat/src/components/Card/Card.story.tsx
  packages/react-chat/src/components/Card/styled.ts
Due: build-apps

fix: card title wrapping(DX-1132) (#129)
  packages/react-chat/src/components/Card/Card.story.tsx
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
