Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

feat: new line on Shift + Enter (ACT-25) (#95)
  packages/react-chat/package.json
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Message/styled.ts
  packages/react-chat/src/components/Textarea/Textarea.story.tsx
  packages/react-chat/src/components/Textarea/index.tsx
  packages/react-chat/src/components/Textarea/styled.ts
  packages/react-chat/src/components/index.ts
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/src/utils/controls.tsx
  packages/react-chat/src/views/ChatWidget/styled.ts
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@e51b4d44c49b3172a5113f56cde169fc02a56c5b 🚀
  project.json
Due: none

build: use node 20, volta and yarn 3 (DX-869)
  package.json
Due: build-all

ci: run ci on node 20
  .circleci/continue-config.yml
Due: none

build: use node 20 and volta (DX-869) (#96)
  .circleci/continue-config.yml
  package.json
Due: build-all

chore: pull
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/constants.ts
  packages/react-chat/src/views/ChatWindow/styled.ts
Due: build-apps

fix: apply white-space breaks to user messages only
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Message/styled.ts
Due: build-apps

fix: remove trash changes
  packages/react-chat/src/constants.ts
  packages/react-chat/src/views/ChatWindow/styled.ts
Due: build-apps

fix: remove redundant comments
  packages/react-chat/src/components/ChatInput/index.tsx
Due: build-apps

fix: message bubble white-space property (DX-876) (#98)
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Message/styled.ts
Due: build-apps

fix: textarea font size
  packages/react-chat/src/components/Textarea/styled.ts
Due: build-apps

fix: remove comments
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/constants.ts
Due: build-apps

fix: remove unused styles
  packages/react-chat/src/views/ChatWindow/styled.ts
Due: build-apps

fix: return 42px height to textarea && center button
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Textarea/styled.ts
Due: build-apps

fix: textarea font size (DX-000) (#99)
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Textarea/styled.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@496a56f5158bf5cacc8f48a8167b5aca0152963c 🚀
  project.json
Due: none

fix: global var on storybook
  packages/react-chat/.storybook/preview-head.html
  packages/react-chat/src/components/Textarea/styled.ts
  packages/react-chat/src/styles/theme.ts
Due: build-apps

fix: global shadow root on storybook preview
  packages/react-chat/.storybook/preview-head.html
Due: build-apps

fix: remove comments
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/constants.ts
  packages/react-chat/src/views/ChatWindow/styled.ts
Due: build-apps
