Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

feat: fix card overflow issue (CV3-307) (#70)
  packages/react-chat/src/components/Card/styled.ts
Due: build-apps

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

fix: do not allow dangerous html
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@5a4c6348161ac905b258d3aba94b41e0226560c9 🚀
  project.json
Due: none

fix: add broadcast and launch events
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/utils/broadcast.ts
  packages/react-chat/src/utils/session.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: add broadcast and launch events (#89)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/utils/broadcast.ts
  packages/react-chat/src/utils/session.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: remove react frame component
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: better definitions
  packages/react-chat/package.json
  packages/react-chat/src/components/Text/Default.tsx
  yarn.lock
Due: build-apps, build-all

feat: allow dangerous html flag (CT-000)
  packages/react-chat/package.json
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/Text/Default.tsx
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/src/utils/config.ts
  yarn.lock
Due: build-apps, build-all

fix: memoize text
  packages/react-chat/src/components/Text/Default.tsx
Due: build-apps

feat: allow dangerous html flag (CT-000) (#88)
  packages/react-chat/package.json
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/Text/Default.tsx
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/src/utils/config.ts
  yarn.lock
Due: build-apps, build-all

fix: bump version and update types reference
  packages/react-chat/package.json
  packages/react-chat/src/contexts/RuntimeContext/messages.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@2c361002d3122985af932aec256696ad550a5986 🚀
  project.json
Due: none

fix: export without shadowroot (ACT-000)
  packages/react-chat/package.json
  packages/react-chat/src/constants.ts
  packages/react-chat/src/package.entry.ts
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

fix: export without shadowroot (ACT-000) (#90)
  packages/react-chat/package.json
  packages/react-chat/src/constants.ts
  packages/react-chat/src/package.entry.ts
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@0ab16a56d2f5a1f287c24e622ae233d70580669e 🚀
  project.json
Due: none

fix: use global shadowroot env var (ACT-000)
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/typings/global.d.ts
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
