Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@7a1e606b0a0ca3d7329f0c5c7f096a51aab0d760 🚀
  project.json
Due: none

feat: create transcript after first user real interaction (CT-1251)
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

feat: create transcript after first user real interaction (CT-1251) (#39)
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@ebc4786086bad33906136ff2fafebfdbbc1a811a 🚀
  assets/index.7d059a2b.js.map
  project.json
Due: none

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@ad67e45cd3bb1d4fe3160e45232d84d1c878633d 🚀
  project.json
Due: none

feat: downgrade react (BUG-154)
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/widget/index.tsx
  packages/widget/package.json
  yarn.lock
Due: build-apps, build-all

feat: downgrade react (BUG-154) (#41)
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/widget/index.tsx
  packages/widget/package.json
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@2e3497257d534b890edec8526e2bb0558b3d3e86 🚀
  project.json
Due: none

feat: fix line hight
  packages/react-chat/src/components/AssistantInfo/styled.ts
Due: build-apps

feat: fix line hight (BUG-174) (#44)
  packages/react-chat/src/components/AssistantInfo/styled.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@702eeac5faecc5e15eaf85bc24fac2b39b64d919 🚀
  project.json
Due: none

feat: bump react version (CT-000)
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/widget/index.tsx
  packages/widget/package.json
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@ba1c7d54f44de644352bd1e977bb61752573e45f 🚀
  project.json
Due: none

fix: adds link to the card when is a valid url (BUG-372)
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Card/utils.ts
Due: build-apps

fix: added link to the card when is a valid url (BUG-372) (#45)
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Card/utils.ts
Due: build-apps

fix: added webchat into closure with iife format (CT-1961)
  packages/widget/vite.config.ts
Due: build-apps

fix: added webchat into closure with iife format (CT-1961) (#46)
  packages/widget/vite.config.ts
Due: build-apps

fix: added open ssl legacy provider flag to build docs (CT-000)
  packages/react-chat/package.json
Due: build-apps

fix: added open ssl legacy provider flag to build docs (CT-000) (#47)
  packages/react-chat/package.json
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
