Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

feat: add animations to proactive messages (COR-4271) (#471)
  apps/documentation/src/pages/ProactiveMessage.tsx
  apps/documentation/src/pages/chat.tsx
  packages/chat/src/components/Proactive/index.tsx
  packages/chat/src/components/Proactive/styles.css.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@c24a99635c4f01dc371ffdbac16cf65ad503c32d 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-BGY4mUw1.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-xeVvGudW.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-BuPd2Vnu.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-QENNBt--.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@46d838cab897d1ade3fc586ff8796c4a6c555668 🚀
  project.json
Due: none

stable wip
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/trace.service.ts
Due: build-apps

stable wip
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/trace.service.ts
Due: build-apps

fix: update chat page script
  apps/documentation/src/components/ChatScript/index.tsx
Due: none

feat: bump dto interact
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: move padding on welcome banner (COR-4248)
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
Due: build-apps

feat: make launcher image undraggable
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

undraggable image with label
  packages/chat/src/components/Launcher/LauncherWithLabel/styles.css.ts
Due: build-apps

fix: minor ui feedback
  packages/react-chat/src/styles/color.ts
Due: build-apps

fix: minor ui feedback
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/styles/box-shadows.ts
  packages/react-chat/src/styles/color.ts
Due: build-apps

wip: early work on voice animation
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/styles/box-shadows.ts
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/AltVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

fix: remove lottie
  packages/chat/package.json
Due: build-apps

fix:
  yarn.lock
Due: build-all

feat: add new icons for voice mode
  packages/chat/src/assets/svg/end-call.svg
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/assets/svg/phone.svg
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/WaveformVisualizer.component.tsx
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.css.ts
Due: build-apps

feat: base looking good. dropped experimental work
  packages/chat/src/components/VoiceWidget/GradientVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/MockVoiceWidgetImage.tsx
  packages/chat/src/components/VoiceWidget/MovingGradient.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.component.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.ts
Due: build-apps

feat: add icon button for secondary and primary buttons
  packages/chat/src/components/Button/ButtonIcon/ButtonIcon.css.ts
  packages/chat/src/components/Button/ButtonIcon/index.tsx
Due: build-apps

wip: experimentation with voice animations
  packages/chat/package.json
  packages/chat/src/components/VoiceWidget/AltVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/GradientVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/WaveformVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.component.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.ts
  yarn.lock
Due: build-apps, build-all

fix: footer refactor and implementation
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

feat: expanded variant
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

fix: random stuff
  apps/documentation/src/pages/compositions/voice-widget.mdx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
Due: build-apps

feat: early voice shrink animation
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
Due: build-apps

fix: lint
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
Due: build-apps

chore: clean up
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

fix: ignore orphan files
  packages/chat/.dependency-cruiser.mjs
Due: build-apps

fix: remove redundant style change
  packages/chat/src/styles/box-shadows.ts
  packages/react-chat/src/styles/color.ts
Due: build-apps

fix: set proper font family
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
Due: build-apps

feat: update voice widget
  examples/live-chat/src/config.ts
  examples/live-chat/types/env.d.ts
  packages/chat/package.json
  packages/chat/src/components/Launcher/LauncherWithLabel/index.tsx
  packages/chat/src/components/Launcher/PhoneIcon.tsx
  packages/chat/src/components/Launcher/constant.ts
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
  packages/chat/src/constant/voice.constant.ts
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/hooks/cache.hook.ts
  packages/chat/src/views/ChatWidget/ChatWidget.story.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/views/VoiceWidget/VoiceWidget.view.tsx
  packages/chat/src/views/VoiceWidget/hooks/Voice.controller.ts
  packages/chat/src/views/VoiceWidget/hooks/use-audio-stream.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-voice-controller.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-websocket.hook.ts
Due: build-apps

feat: improve voice logic (COR-4354)
  packages/chat/package.json
  packages/chat/src/views/VoiceWidget/VoiceWidget.view.tsx
  packages/chat/src/views/VoiceWidget/hooks/Voice.controller.ts
  packages/chat/src/views/VoiceWidget/hooks/use-voice-controller.hook.ts
  packages/chat/src/views/VoiceWidget/hooks/use-voice-service.hook.ts
  packages/chat/src/views/VoiceWidget/services/audio.service.ts
  packages/chat/src/views/VoiceWidget/services/legacy-audio.service.ts
  packages/chat/src/views/VoiceWidget/services/recorder.service.ts
  packages/chat/src/views/VoiceWidget/services/socket.service.ts
  packages/chat/src/views/VoiceWidget/services/voice.service.ts
  yarn.lock
Due: build-apps, build-all
