Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@49012d9c5961cf4dc93b10d11918229657e85dde 🚀
  project.json
Due: none

feat: add static class names to components (DX-000)
  packages/react-chat/package.json
  packages/react-chat/src/components/AssistantInfo/styled.ts
  packages/react-chat/src/components/Avatar/styled.ts
  packages/react-chat/src/components/Bubble/index.tsx
  packages/react-chat/src/components/Bubble/styled.ts
  packages/react-chat/src/components/Button/Button.test.tsx
  packages/react-chat/src/components/Button/Primary.ts
  packages/react-chat/src/components/Button/Secondary.ts
  packages/react-chat/src/components/Button/styled.ts
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/CarouselButton.tsx
  packages/react-chat/src/components/Carousel/styled.ts
  packages/react-chat/src/components/Chat/styled.ts
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Feedback/index.tsx
  packages/react-chat/src/components/Feedback/styled.ts
  packages/react-chat/src/components/Footer/styled.ts
  packages/react-chat/src/components/Header/styled.ts
  packages/react-chat/src/components/Icon/styled.ts
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
  packages/react-chat/src/components/Input/styled.ts
  packages/react-chat/src/components/Launcher/styled.ts
  packages/react-chat/src/components/Loader/index.ts
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Message/DebugMessage/styled.ts
  packages/react-chat/src/components/Message/styled.ts
  packages/react-chat/src/components/Prompt/styled.ts
  packages/react-chat/src/components/SystemResponse/Indicator.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/components/Timestamp/styled.ts
  packages/react-chat/src/components/Tooltip/styled.ts
  packages/react-chat/src/components/TypingIndicator/styled.ts
  packages/react-chat/src/components/UserResponse/styled.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/hocs/index.ts
  packages/react-chat/src/hocs/tag.tsx
  yarn.lock
Due: build-apps, build-all

fix: redundant class
  packages/react-chat/src/components/Bubble/index.tsx
Due: build-apps

fix: redundant classes
  packages/react-chat/src/components/Carousel/CarouselButton.tsx
  packages/react-chat/src/components/Feedback/index.tsx
Due: build-apps

fix: correct extension
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/constants.ts
Due: build-apps

feat: add static class names to components (DX-000) (#61)
  packages/react-chat/package.json
  packages/react-chat/src/components/AssistantInfo/styled.ts
  packages/react-chat/src/components/Avatar/styled.ts
  packages/react-chat/src/components/Bubble/styled.ts
  packages/react-chat/src/components/Button/Button.test.tsx
  packages/react-chat/src/components/Button/Primary.ts
  packages/react-chat/src/components/Button/Secondary.ts
  packages/react-chat/src/components/Button/styled.ts
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/styled.ts
  packages/react-chat/src/components/Chat/styled.ts
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Feedback/styled.ts
  packages/react-chat/src/components/Footer/styled.ts
  packages/react-chat/src/components/Header/styled.ts
  packages/react-chat/src/components/Icon/styled.ts
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
  packages/react-chat/src/components/Input/styled.ts
  packages/react-chat/src/components/Launcher/styled.ts
  packages/react-chat/src/components/Loader/index.ts
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Message/DebugMessage/styled.ts
  packages/react-chat/src/components/Message/styled.ts
  packages/react-chat/src/components/Prompt/styled.ts
  packages/react-chat/src/components/SystemResponse/Indicator.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/components/Timestamp/styled.ts
  packages/react-chat/src/components/Tooltip/styled.ts
  packages/react-chat/src/components/TypingIndicator/styled.ts
  packages/react-chat/src/components/UserResponse/styled.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/hocs/index.ts
  packages/react-chat/src/hocs/tag.tsx
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@e9377cd2e11c98fcb2ae0eb8e5e135a3335017d7 🚀
  project.json
Due: none

fix: update tagFactory to allow refs (CT-000)
  packages/react-chat/src/hocs/tag.tsx
Due: build-apps

fix: types
  packages/react-chat/src/hocs/tag.tsx
Due: build-apps

fix: update tagFactory to allow refs (CT-000) (#62)
  packages/react-chat/src/hocs/tag.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@1819aa7be1d4418fadfca875b2bf6dc0d4dd2c26 🚀
  project.json
Due: none

build: fix build errors
  packages/react-chat/src/hocs/tag.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@5ffdf2c5947c5e585c9866e0eb652243b6af39e2 🚀
  project.json
Due: none

feat: basic mobile support (DX-000)
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWidget/styled.ts
Due: build-apps

feat: basic mobile support (DX-000) (#64)
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWidget/styled.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@30173f346708c7b6fe0bd740d9b0824e0eac39ce 🚀
  project.json
Due: none

feat: add styles.css file for overrides
  packages/react-chat/src/styles.css
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@8699f50b467b95926b995d609ea4e755665de0ca 🚀
  project.json
Due: none

feat: simplify local development workflow
  README.md
  packages/widget/.env.development
  packages/widget/.gitignore
  packages/widget/examples/index.html
  packages/widget/vite.config.ts
Due: build-apps
