Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

refactor: remove jsdoc
  packages/react-chat/src/components/AssistantInfo/index.tsx
Due: build-apps

docs: update storybook links
  packages/react-chat/package.json
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Header/index.tsx
  packages/react-chat/src/components/Timestamp/index.tsx
  packages/react-chat/src/components/TypingIndicator/index.tsx
Due: build-apps

refactor: remove comments
  packages/react-chat/src/index.ts
  packages/widget/examples/index.html
  packages/widget/vite.config.ts
Due: build-apps

feat: support triggering no reply response
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

fix: resolve promise on load session (CT-000)
  packages/widget/index.tsx
Due: build-apps

fix: resolve promise on load session (CT-000) (#51)
  packages/widget/index.tsx
Due: build-apps

feat: implement feedback component and add to chat (CT-2051)
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/assets/svg/thumbs-up.svg
  packages/react-chat/src/components/Chat/Chat.story.tsx
  packages/react-chat/src/components/Feedback/index.tsx
  packages/react-chat/src/components/Feedback/styled.ts
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/types.ts
Due: build-apps

feat: map payload ai prop to text trace (CT-2052)
  packages/react-chat/package.json
  packages/react-chat/src/hooks/useRuntime.ts
  yarn.lock
Due: build-apps, build-all

feat: use setTimeout & account for message delay
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

refactor: remove unused imports
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

feat: finalize logic for feedback (CT-2052)
  packages/react-chat/package.json
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/components/Feedback/index.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/package.json
  yarn.lock
Due: build-apps, build-all

build: fix types
  packages/react-chat/package.json
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/tsconfig.build.json
  packages/react-chat/vite.package.config.ts
  yarn.lock
Due: build-apps, build-all

docs: add docs
  packages/react-chat/README.md
Due: build-apps

fix: package types properly (DX-449) (#57)
  packages/react-chat/README.md
  packages/react-chat/package.json
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/tsconfig.build.json
  packages/react-chat/vite.package.config.ts
  yarn.lock
Due: build-apps, build-all

fix: release monorepo task
  .circleci/continue-config.yml
Due: none

fix: release monorepo task (#58)
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@a427ff2d25b575e79d07568d39010cfd69f90668 🚀
  project.json
Due: none

fix: format package.json file
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@d91b94e29efc453ad7d36dfd222b68dd3505aef1 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@66056fc7f35029230bdcc08598672d8a59b06d10 🚀
  project.json
Due: none

fix: more configurable
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

fix: remove console log
  packages/react-chat/src/components/SystemResponse/index.tsx
Due: build-apps
