Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@1081aeb63a480ccf80199c90d0aab8316b99bb20 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: cleaning and fixing minor stuff
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/Message/DebugMessage/index.tsx
  packages/chat/src/components/Message/DebugMessage/styled.css.ts
  packages/chat/src/components/Message/index.ts
  packages/chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/Text/Default.tsx
  packages/chat/src/components/Text/Markdown.tsx
  packages/chat/src/components/Text/index.tsx
  packages/chat/src/components/Text/schema.ts
  packages/chat/src/components/Tooltip/Tooltip.story.tsx
  packages/chat/src/components/Tooltip/index.tsx
  packages/chat/src/components/Tooltip/styled.css.ts
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: getting rid of Message component
  packages/chat/src/components/DebugMessage/index.tsx
  packages/chat/src/components/DebugMessage/styled.css.ts
  packages/chat/src/components/Message/ChatMessage.ts
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/constants.ts
  packages/chat/src/components/Message/index.ts
  packages/chat/src/components/Message/styled.ts
  packages/chat/src/components/SystemResponse/ExtensionMessage.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/Tooltip/index.tsx
  packages/chat/src/components/index.ts
Due: build-apps

fix: remove unused file
  packages/chat/src/components/SystemResponse/styled.ts
Due: build-apps

fix: remove unused file
  packages/chat/src/utils/variants.tsx
Due: build-apps

feat: removing more stitches related stuff
  packages/chat/src/views/ChatEmbed/index.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styled.ts
  packages/chat/src/views/index.ts
Due: build-apps

bye bye stitches
  packages/chat/package.json
  packages/chat/src/components/DebugMessage/index.tsx
  packages/chat/src/components/DebugMessage/styles.css.ts
  packages/chat/src/components/Tooltip/index.tsx
  packages/chat/src/components/Tooltip/styles.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/widget.tsx
  yarn.lock
Due: build-apps, build-all

feat: Removing a lot of react-stitches usages (DSN-000) (#263)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/DebugMessage/index.tsx
  packages/chat/src/components/DebugMessage/styled.css.ts
  packages/chat/src/components/Message/ChatMessage.ts
  packages/chat/src/components/Message/DebugMessage/index.tsx
  packages/chat/src/components/Message/DebugMessage/styled.ts
  packages/chat/src/components/Message/Message.story.tsx
  packages/chat/src/components/Message/constants.ts
  packages/chat/src/components/Message/index.ts
  packages/chat/src/components/Message/styled.ts
  packages/chat/src/components/SystemResponse/ExtensionMessage.tsx
  packages/chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styled.ts
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/Text/Default.tsx
  packages/chat/src/components/Text/Markdown.tsx
  packages/chat/src/components/Text/index.tsx
  packages/chat/src/components/Text/schema.ts
  packages/chat/src/components/Tooltip/Tooltip.story.tsx
  packages/chat/src/components/Tooltip/index.tsx
  packages/chat/src/components/Tooltip/styled.css.ts
  packages/chat/src/components/Tooltip/styled.ts
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/utils/variants.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@265124eef53e59fd79ea7001400c3c75191dedaf 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@d9d8df41ea895bfc8e88e36b499489c4fcc54b9a 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

chore: organizing and remove some unused code
  packages/chat/config/test/setup.ts
  packages/chat/package.json
  packages/chat/src/common/index.ts
  packages/chat/src/common/utils.ts
  packages/chat/src/components/SystemResponse/hooks.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/dtos/AssistantOptions.dto.ts
  packages/chat/src/hocs/index.ts
  packages/chat/src/hocs/tag.tsx
  packages/chat/src/hooks/index.ts
  packages/chat/src/hooks/useChatAPI.ts
  packages/chat/src/hooks/useTheme.ts
  packages/chat/src/main.ts
  packages/chat/src/old-styles/animation.ts
  packages/chat/src/old-styles/color.ts
  packages/chat/src/old-styles/font.ts
  packages/chat/src/old-styles/fragments.ts
  packages/chat/src/old-styles/index.ts
  packages/chat/src/old-styles/theme.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/shadow.ts
  packages/chat/src/utils/assistant.test.ts
  packages/chat/src/utils/isObject.ts
  packages/chat/src/views/ChatEmbed/index.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
  packages/chat/src/views/index.ts
  packages/chat/src/widget.tsx
Due: build-apps

remove some unused dependencies
  examples/live-chat/src/main.tsx
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: goodbye stitches, we'll always have react-chat (COR-0000) (#264)
  yarn.lock
Due: build-all

feat: goodbye stitches, we'll always have react-chat (COR-0000) (#264)
  packages/chat/package.json
  packages/chat/src/components/DebugMessage/index.tsx
  packages/chat/src/components/DebugMessage/styles.css.ts
  packages/chat/src/components/Tooltip/index.tsx
  packages/chat/src/components/Tooltip/styles.css.ts
  packages/chat/src/views/ChatEmbed/index.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styled.ts
  packages/chat/src/views/index.ts
  packages/chat/src/widget.tsx
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@bf083ea6a2323f1b1acb0db7a989b06aa90daf9c 🚀
  project.json
Due: none

fix: accidentally took dependency from react-chat
  examples/live-chat/src/main.tsx
Due: none

Deploying to docs from @ voiceflow/react-chat@f422682d151c0e0255cca49c2b7aa195fdfbf89d 🚀
  project.json
Due: none

feat: ability to update projectID
  apps/documentation/src/components/ChatConfigOptions/index.tsx
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_document.tsx
Due: none

wip
  apps/documentation/src/components/Chat/index.tsx
  apps/documentation/src/pages/index.mdx
Due: none

fix: shadow and gross border
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

feat: working embedded chat kit
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/components/Chat/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/index.mdx
Due: none

wip: but working chat on docs
  apps/documentation/README.md
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/components/ChatConfigOptions/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/index.mdx
  packages/chat/.storybook/preview.tsx
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

fix: chat story needed context
  packages/chat/src/components/NewChat/NewChat.story.tsx
Due: build-apps

fix: clean up and dont mount chat if no id
  apps/documentation/src/components/ChatConfigOptions/index.tsx
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/index.mdx
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

fix: public bundle name to skirt git ignore
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/components/ChatScript/index.tsx
Due: none

fix: sigh, i am dumb
  apps/documentation/src/components/ChatScript/index.tsx
Due: none

fix: ignore prettier in bundle file for docs
  .prettierignore
Due: none

fix: fix build
  packages/chat/src/hooks/index.ts
  packages/chat/src/main.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

chore: organizing and remove some unused code (#266)
  yarn.lock
Due: build-all

chore: organizing and remove some unused code (#266)
  packages/chat/config/test/setup.ts
  packages/chat/package.json
  packages/chat/src/common/index.ts
  packages/chat/src/common/utils.ts
  packages/chat/src/components/SystemResponse/hooks.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/dtos/AssistantOptions.dto.ts
  packages/chat/src/hocs/index.ts
  packages/chat/src/hocs/tag.tsx
  packages/chat/src/hooks/index.ts
  packages/chat/src/hooks/useChatAPI.ts
  packages/chat/src/hooks/useTheme.ts
  packages/chat/src/main.ts
  packages/chat/src/old-styles/animation.ts
  packages/chat/src/old-styles/color.ts
  packages/chat/src/old-styles/font.ts
  packages/chat/src/old-styles/fragments.ts
  packages/chat/src/old-styles/index.ts
  packages/chat/src/old-styles/theme.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/shadow.ts
  packages/chat/src/utils/assistant.test.ts
  packages/chat/src/utils/isObject.ts
  packages/chat/src/views/ChatEmbed/index.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
  packages/chat/src/widget.tsx
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@0c5c62927e14e2b5df22be47ff32933f13616b27 🚀
  project.json
Due: none

fix: ignore the hell outta this stuff
  .prettierignore
  eslint.config.mjs
Due: none

Deploying to docs from @ voiceflow/react-chat@e6a13c511991e3fefc712e7e360a4e8f197260ea 🚀
  project.json
Due: none

feat: Chat for review on documentation (DSN-000) (#265)
  .prettierignore
  eslint.config.mjs
Due: none

feat: Chat for review on documentation (DSN-000) (#265)
  .prettierignore
  apps/documentation/README.md
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/components/ChatConfigOptions/index.tsx
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/index.mdx
  eslint.config.mjs
  packages/chat/.storybook/preview.tsx
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@78ff78d44a6caa736d308e113d03a28415f3f3fc 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
