Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

fix: use global shadowroot env var (ACT-000)
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/typings/global.d.ts
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

fix: test suite
  packages/react-chat/vitest.config.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@c09cec69b9972c479826f81d3d9d61367ee52410 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

fix: bump base types
  packages/react-chat/package.json
  packages/react-chat/src/utils/stylesheet.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@df866af4de290ca25e35b39bd9a4ec6e9b5c437b 🚀
  project.json
Due: none

fix: less restrictive sanitization (ACT-000)
  README.md
  packages/react-chat/examples/index.html
  packages/react-chat/package.json
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/src/components/Text/schema.ts
  yarn.lock
Due: build-apps, build-all

fix: export theme
  packages/react-chat/src/styles/theme.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@68f3d34b4af90bce88f906ff36f3a941aae5f8a4 🚀
  project.json
Due: none

feat: fix height
  packages/react-chat/src/components/Card/index.tsx
Due: build-apps

feat: fix card image height (BUG-637) (#91)
  packages/react-chat/src/components/Card/index.tsx
Due: build-apps

fix: transform url (ACT-000)
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/src/components/Text/schema.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@6e99f9b652cb7887099e3e3dc17a3e6bcd9adb8e 🚀
  project.json
Due: none

fix: add ready field
  packages/react-chat/src/index.tsx
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
