Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

fix: hack together
  apps/documentation/temp-types.d.ts
Due: none

fix: import
  apps/documentation/src/pages/index.tsx
Due: none

refactor: cleanup
  apps/documentation/.eslintrc.json
  apps/documentation/package-lock.json
  apps/documentation/package.json
  yarn.lock
Due: build-all

fix: trying
  apps/documentation/src/pages/index.tsx
  packages/chat/src/components/index.ts
Due: build-apps

feat: avoid adding a new build pipeline
  apps/documentation/temp-types.d.ts
  apps/documentation/tsconfig.json
  packages/chat/package.json
  packages/chat/src/main.ts
  packages/chat/src/widget.tsx
  packages/chat/tsconfig.build-ui.json
  packages/chat/vite.components.config.ts
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
Due: build-apps

chore: use build instead of .next for docs build
  apps/documentation/.gitignore
  apps/documentation/next.config.mjs
  turbo.json
Due: none

chore: restore remove config
  packages/chat/vite.package.config.ts
Due: build-apps

refactor: simplify exports
  apps/documentation/src/pages/index.tsx
  packages/chat/package.json
  packages/chat/src/main.ts
  packages/chat/src/ui.ts
  packages/chat/vite.package.config.ts
Due: build-apps

chore: cleanup gitignore
  .gitignore
Due: none

fix: use multiple entrypoints
  apps/documentation/src/pages/index.tsx
  packages/chat/package.json
  packages/chat/src/main.ts
  packages/chat/src/ui.ts
  packages/chat/vite.package.config.ts
Due: build-apps

build: avoid adding a new build pipeline (#195)
  .gitignore
  apps/documentation/.eslintrc.json
  apps/documentation/.gitignore
  apps/documentation/next.config.mjs
  apps/documentation/package-lock.json
  apps/documentation/package.json
  apps/documentation/temp-types.d.ts
  apps/documentation/tsconfig.json
  packages/chat/package.json
  packages/chat/src/main.ts
  packages/chat/src/widget.tsx
  packages/chat/tsconfig.build-ui.json
  packages/chat/vite.components.config.ts
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
  turbo.json
  yarn.lock
Due: build-apps, build-all

fix: fixing import statement
  apps/documentation/src/pages/index.tsx
Due: none

feat: UI export to docs (DX-000) (#193)
  turbo.json
  yarn.lock
Due: build-all

feat: UI export to docs (DX-000) (#193)
  apps/documentation/.gitignore
  apps/documentation/next.config.mjs
  apps/documentation/package.json
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/index.tsx
  apps/documentation/tsconfig.build.json
  apps/documentation/tsconfig.json
  packages/chat/package.json
  packages/chat/src/components/Howdy/index.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/main.ts
  packages/chat/src/ui.ts
  packages/chat/src/widget.tsx
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
  turbo.json
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: hide audio interface for non chrome browsers (COR-000) (#187)
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/device.ts
Due: build-apps

chore(release): publish --skip-ci
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

chore(release): publish --skip-ci
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

feat: add setOpen to the api (COR-000) (#191)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

feat: add setOpen to the api (COR-000) (#190)
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

feat: improve custom speech recognition logic (COR-000) (#186)
  packages/react-chat/src/components/ChatInput/AudioInputButton.tsx
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
Due: none

feat: Docs (DX-000) (#192)
  apps/documentation/.gitignore
  apps/documentation/README.md
  apps/documentation/next.config.mjs
  apps/documentation/package.json
  apps/documentation/public/favicon.ico
  apps/documentation/src/components/ClientRenderer/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/api/hello.ts
  apps/documentation/src/pages/fonts/GeistMonoVF.woff
  apps/documentation/src/pages/fonts/GeistVF.woff
  apps/documentation/src/pages/index.tsx
  apps/documentation/src/styles/Home.module.css
  apps/documentation/src/styles/globals.css
  apps/documentation/tsconfig.json
  package.json
  yarn.lock
Due: build-all

feat: add vanilla-extract to the new chat package (COR-3282)
  yarn.lock
Due: build-all

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

feat: Docs (DX-000) (#192)
  package.json
  yarn.lock
Due: build-all

chore: move styles -> old-styles
  packages/chat/src/old-styles/colors.ts
  packages/chat/src/old-styles/sizes.ts
Due: build-apps

feat: rewrite Avatar component (COR-3369)
  apps/documentation/.gitignore
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
Due: build-apps

fix: .gitignore file
  apps/documentation/.gitignore
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
