Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

feat: add destroy method and improve listeners hook (CT-000)
  packages/react-chat/index.ts
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/listeners.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/utils/functional.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/widget/index.tsx
  packages/widget/src/index.tsx
  packages/widget/src/session.ts
  packages/widget/src/types.ts
Due: build-apps

feat: add destroy method and improve listeners hook (CT-000) (#72)
  packages/react-chat/index.ts
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/listeners.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/utils/functional.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/widget/index.tsx
  packages/widget/src/index.tsx
  packages/widget/src/session.ts
  packages/widget/src/types.ts
Due: build-apps

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@5fb8d78cd62061c7fa0646a2ba9aefcea4d2d5b6 🚀
  project.json
Due: none

fix: do not set the status if it is already set (DX-610)
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

fix: do not set the status if it is already set (DX-610) (#74)
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@037b0e2dfe1356e7084a700f3c16b7eb574b7ed4 🚀
  project.json
Due: none

fix: remove markdown p whitespace pre-wrap (CV3-370)
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@c3297f17f755a4f06a841f31c2fffcd662b5b323 🚀
  project.json
Due: none

fix: remove break br tag insertion (CV3-370)
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

fix: update branch check
  package.json
  yarn.lock
Due: build-all

fix: prewrap p tag
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

fix: remove break br tag insertion (CV3-370) (#75)
  package.json
  packages/react-chat/src/components/Text/Markdown.tsx
  yarn.lock
Due: build-apps, build-all

fix: force slate update
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: sessions
  packages/widget/src/session.ts
Due: build-apps

fix: comment
  packages/widget/src/session.ts
Due: build-apps

fix: sessions (#78)
  packages/widget/src/session.ts
Due: build-apps
