Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

ci: add more tests and collect coverage
  .circleci/continue-config.yml
Due: none

ci: sonar properties
  packages/react-chat/sonar-project.properties
  sonar-project.properties
Due: build-apps

ci: e2e test reports
  .circleci/continue-config.yml
  .prettierignore
  packages/react-chat/.gitignore
  packages/react-chat/playwright.config.ts
Due: build-apps

build: upgrade dependencies & fix ci
  .circleci/continue-config.yml
  eslint.config.mjs
  package.json
  yarn.lock
Due: build-all

chore: css formatting in vscode
  .vscode/settings.json
Due: none

chore: remove unused dependency
  package.json
  yarn.lock
Due: build-all

fix: working text to speech (SOS-14)
  packages/react-chat/package.json
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/assets/svg/microphone.svg
  packages/react-chat/src/assets/svg/stop.svg
  packages/react-chat/src/components/Bubble/styled.ts
  packages/react-chat/src/components/Button/Tertiary.ts
  packages/react-chat/src/components/Button/constants.ts
  packages/react-chat/src/components/Button/index.ts
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Footer/styled.ts
  packages/react-chat/src/components/Textarea/styled.ts
  packages/react-chat/src/index.tsx
  yarn.lock
Due: build-apps, build-all

fix: polish
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
Due: build-apps

fix: stream
  package.json
  packages/react-chat/package.json
  packages/sdk-runtime/package.json
  packages/sdk-runtime/src/main.ts
  packages/sdk-runtime/src/runtime/index.ts
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.auth.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/index.ts
  packages/sdk-runtime/src/sdk/sdk.interface.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/components/card.component.ts
  packages/sdk-runtime/src/trace/components/cardV2.component.ts
  packages/sdk-runtime/src/trace/components/choice.component.ts
  packages/sdk-runtime/src/trace/components/end.component.ts
  packages/sdk-runtime/src/trace/components/index.ts
  packages/sdk-runtime/src/trace/components/speak.component.ts
  packages/sdk-runtime/src/trace/components/stream.component.ts
  packages/sdk-runtime/src/trace/components/text.component.ts
  packages/sdk-runtime/src/trace/components/visual.component.ts
  packages/sdk-runtime/src/trace/index.ts
  packages/sdk-runtime/src/trace/trace.component.ts
  packages/sdk-runtime/src/trace/trace.interface.ts
  packages/sdk-runtime/src/trace/trace.service.ts
  packages/sdk-runtime/tsconfig.build.json
  packages/sdk-runtime/tsconfig.json
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

feat: add to cart example
  examples/live-agent/src/components/Cart.tsx
  examples/live-agent/src/config.ts
  examples/live-agent/src/emitter.ts
  examples/live-agent/src/main.tsx
Due: none

feat: add clerk based auth
  examples/live-agent/package.json
  examples/live-agent/src/context.tsx
  examples/live-agent/src/main.tsx
  packages/react-chat/src/package.entry.ts
  yarn.lock
Due: build-apps, build-all

fix: malformed launch payload
  packages/react-chat/package.json
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/utils/broadcast.ts
  yarn.lock
Due: build-apps, build-all

fix: malformed general request
  examples/live-agent/src/use-live-agent.hook.ts
Due: none

fix: linting
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
Due: build-apps

fix: baserequest type not applied everywhere
  packages/react-chat/src/types/session.ts
Due: build-apps

fix: linting
  packages/react-chat/src/types/session.ts
Due: build-apps

fix: using explicit version rather than version range
  packages/react-chat/package.json
Due: build-apps

fix: yarn.lock
  yarn.lock
Due: build-all

fix: malformed request payloads (PL-1037) (#141)
  examples/live-agent/src/use-live-agent.hook.ts
  packages/react-chat/package.json
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/types/session.ts
  packages/react-chat/src/utils/broadcast.ts
  yarn.lock
Due: build-apps, build-all

chore: bumps dtos package (COR-000)
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: bumps dtos package [bugfix] (COR-2142) (#142)
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: add local development workflow (ENG-158)
  README.md
  package.json
  packages/react-chat/package.json
Due: build-apps, build-all

fix: add local development workflow (ENG-158) (#145)
  README.md
  package.json
  packages/react-chat/package.json
Due: build-apps, build-all

remove unused deps
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

feat: allow button action by entering button label (COR-2196)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

minor refactor
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

fix: more abstraction
  packages/react-chat/src/contexts/RuntimeContext/runtime.utils.test.ts
  packages/react-chat/src/contexts/RuntimeContext/runtime.utils.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
