Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

chore(release): publish --skip-ci
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@bf736bd675fa9660a96f8299adfe41d2192836af 🚀
  project.json
Due: none

fix: filter empty cards (BUG-601)
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/runtime.ts
Due: build-apps

fix: filter empty cards (BUG-601) (#79)
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/runtime.ts
Due: build-apps

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@97b9e0ef1c392297e7183207986c5fe04ab563cd 🚀
  project.json
Due: none

fix: add stylesheet
  packages/react-chat/src/utils/stylesheet.ts
Due: build-apps

fix: allow custom css stylesheets (CT-000)
  packages/react-chat/package.json
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/utils/stylesheet.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/src/config.ts
  packages/widget/src/index.tsx
  yarn.lock
Due: build-apps, build-all

fix: allow custom css stylesheets (CT-000) (#80)
  packages/react-chat/package.json
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/utils/stylesheet.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/src/config.ts
  packages/widget/src/index.tsx
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@6016d0b0ff6b7482360eaaaa431e09f7da6712d2 🚀
  project.json
Due: none

fix: opinionated linting
  .vscode/settings.json
  packages/react-chat/src/browser/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@031b2b0c44a638caa354e451705121de5620ca31 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@ab96b08b4f187765d502e9cd519cad65c7ee6240 🚀
  project.json
Due: none

feat: proactive messages
  packages/react-chat/src/assets/svg/closeV2.svg
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/components/Chat/styled.ts
  packages/react-chat/src/components/Proactive/Close.tsx
  packages/react-chat/src/components/Proactive/Message.tsx
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/index.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/styles/animation.ts
  packages/react-chat/src/styles/color.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: proactive messages (#81)
  packages/react-chat/src/assets/svg/closeV2.svg
  packages/react-chat/src/assets/svg/index.ts
  packages/react-chat/src/components/Chat/styled.ts
  packages/react-chat/src/components/Proactive/Close.tsx
  packages/react-chat/src/components/Proactive/Message.tsx
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/index.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/styles/animation.ts
  packages/react-chat/src/styles/color.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: move api out of react-chat
  packages/react-chat/index.ts
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/react-chat/src/common/listeners.ts
  packages/react-chat/src/common/postMessage.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/styles/index.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/src/views/ChatWindow/utils.ts
  packages/widget/package.json
  packages/widget/src/api/assistant.ts
  packages/widget/src/api/constants.ts
  packages/widget/src/api/listeners.ts
  packages/widget/src/index.tsx
  yarn.lock
Due: build-apps, build-all

fix: internal send message
  packages/widget/src/api/listeners.ts
  packages/widget/src/index.tsx
Due: build-apps

fix: add missing dependencies
  packages/widget/package.json
  yarn.lock
Due: build-apps, build-all

fix: move api out of react-chat (CT-000) (#82)
  packages/react-chat/index.ts
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/react-chat/src/common/listeners.ts
  packages/react-chat/src/common/postMessage.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/styles/index.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/src/views/ChatWindow/utils.ts
  packages/widget/package.json
  packages/widget/src/api/assistant.ts
  packages/widget/src/api/constants.ts
  packages/widget/src/api/listeners.ts
  packages/widget/src/index.tsx
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@16042bbf9634f294344585842f6fc250feb2dad1 🚀
  project.json
Due: none
