Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

wip
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/components/NewChat/NewChat.css.ts
Due: build-apps

fix: cleaning up and tests
  apps/documentation/next.config.mjs
  examples/live-chat/src/config.ts
  packages/chat/src/__fixtures__/mock-assistant.ts
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/dtos/WidgetOverrides.dto.test.ts
  packages/chat/src/dtos/WidgetOverrides.dto.ts
  packages/chat/src/storybook/decorators.tsx
  packages/chat/src/utils/assistant.test.ts
  packages/chat/src/utils/assistant.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: linting
  packages/chat/src/utils/assistant.test.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: remove complexity for lint tests
  packages/chat/src/utils/assistant.ts
  packages/chat/src/widget.tsx
Due: build-apps

fix: move feedback buttons with carousel (COR-4091)
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

fix: linting
  packages/chat/src/components/Carousel/index.tsx
Due: build-apps

fix: remove margin from first/last p elements (COR-0000)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

fix: linting
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

fix: scroll down button position on chat end (COR-4092)
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
Due: build-apps

fix: linting
  packages/chat/src/components/NewFooter/NewFooter.css.ts
Due: build-apps

fix: scroll down button position on chat end (COR-4092) (#388)
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
Due: build-apps

fix: move feedback buttons with carousel (COR-4091) (#386)
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

feat: use new WidgetSettings object for chat configuration (#376)
  apps/documentation/next.config.mjs
  examples/live-chat/src/config.ts
  packages/chat/package.json
  packages/chat/src/__fixtures__/mock-assistant.ts
  packages/chat/src/assets/vf_chat.png
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Dialog/Dialog.css.ts
  packages/chat/src/components/Dialog/index.tsx
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/Proactive/index.tsx
  packages/chat/src/components/SystemResponse/Indicator/Indicator.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/TypingIndicator/TypingIndicator.story.tsx
  packages/chat/src/components/WelcomeMessage/index.tsx
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/chat/src/dtos/AssistantOptions.dto.ts
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/dtos/WidgetOverrides.dto.test.ts
  packages/chat/src/dtos/WidgetOverrides.dto.ts
  packages/chat/src/hooks/usePalette.ts
  packages/chat/src/storybook/decorators.tsx
  packages/chat/src/types/index.ts
  packages/chat/src/types/settings.ts
  packages/chat/src/utils/assistant.test.ts
  packages/chat/src/utils/assistant.ts
  packages/chat/src/utils/session.ts
  packages/chat/src/utils/stylesheet.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
  packages/chat/src/widget.tsx
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: use new WidgetSettings object for chat configuration (#376)
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@fd0ce3e0fd0f7b43cc27a8e374fa4cd810bf7008 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: remove margin from first/last p elements (COR-0000) (#387)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/sdk-runtime/CHANGELOG.md
  packages/sdk-runtime/package.json
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/sdk-runtime/CHANGELOG.md
  packages/sdk-runtime/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@8f7a30096b299f1f627adcbd760a5f7564684819 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@47ab0a5be426aee61e443a40029d14e6eff951df 🚀
  project.json
Due: none

ci: deploy new chat widget to CDN (DSN-2594)
  .circleci/continue-config.yml
Due: none

chore: better name
  .circleci/continue-config.yml
Due: none

ci: deploy new chat widget to CDN (DSN-2594) (#395)
  .circleci/continue-config.yml
Due: none

feat: styling proactive messages
  packages/chat/src/components/Proactive/index.tsx
  packages/chat/src/components/Proactive/styles.css.ts
Due: build-apps

feat: add popover modality (COR-0000)
  packages/chat/src/dtos/RenderOptions.dto.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

fix: pass hasEnded prop to footer (COR-0000)
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: pass hasEnded prop to footer (COR-0000) (#399)
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@b6f0fc7bf9867e2c0a099b89f48d2665edc8163e 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-DVmJfu8l.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-DsoI2PX6.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-r1vpOTtE.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-DPXsqhyp.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

feat: add popover modality (COR-0000) (#398)
  packages/chat/src/dtos/RenderOptions.dto.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

fix: lint
  packages/chat/src/components/Proactive/index.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
