Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

fix: turn off shadow root for storybook
  packages/react-chat/.storybook/preview-head.html
  packages/react-chat/.storybook/preview.js
  packages/react-chat/.storybook/preview.tsx
  packages/react-chat/package.json
  packages/react-chat/src/components/Card/Card.story.tsx
  yarn.lock
Due: build-apps, build-all

wip
  packages/react-chat/.storybook/preview.jsx
  packages/react-chat/src/components/Card/Card.story.tsx
Due: build-apps

fix: wip adding head styles to storybook dynamically with getCssText
  packages/react-chat/.storybook/preview.jsx
  packages/react-chat/src/components/Avatar/styled.ts
  packages/react-chat/src/styles/theme.ts
Due: build-apps

fix: wip adding script to preview-head doesnt work
  packages/react-chat/.storybook/load-styles.js
  packages/react-chat/.storybook/preview-head.html
  packages/react-chat/.storybook/preview.jsx
Due: build-apps

chore: clean up
  packages/react-chat/.storybook/load-styles.js
  packages/react-chat/.storybook/preview-head.html
  packages/react-chat/.storybook/preview.js
Due: build-apps

fix: storybook build
  packages/react-chat/package.json
  packages/react-chat/src/styles/theme.ts
  yarn.lock
Due: build-apps, build-all

fix: clean up
  packages/react-chat/.storybook/preview.js
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: markdown render (CT-000)
  .vscode/settings.json
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

fix: markdown render (CT-000) (#101)
  .vscode/settings.json
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@d00c46f38bc8626d65a9bbc41b915eea6fbaed20 🚀
  project.json
Due: none

feat: initial custom target rendering
  packages/react-chat/examples/index.html
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/utils/config.ts
Due: build-apps

feat: prevent user message while indicator is on
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

wip latest on sunday
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/index.tsx
Due: build-apps

it works1
  packages/react-chat/package.json
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/index.tsx
Due: build-apps

fix: add forwardRef to chat dialog
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Chat/styled.tsx
  packages/react-chat/src/contexts/AutoScrollContext.tsx
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/index.tsx
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

refactor: try to simplify styles with use of global state (DX-996)
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/index.tsx
Due: build-apps

fix: include new files
  packages/react-chat/src/entrypoints.tsx
  packages/react-chat/src/globals.ts
Due: build-apps

fix: global init
  packages/react-chat/src/globals.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles/theme.ts
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
