Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@335b1e8e98b36da0cd6d0bf266dc9158f386891a 🚀
  project.json
Due: none

fix: add regenerator-runtime to the live-chat example (COR-0000) (#286)
  examples/live-chat/package.json
  examples/live-chat/src/main.tsx
  yarn.lock
Due: build-all

fix: add regenerator-runtime to the live-chat example (COR-0000) (#286)
  yarn.lock
Due: build-all

Deploying to docs from @ voiceflow/react-chat@a78934627a2f317c91619cd6aff46de263f0c6f2 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

chore(release): publish --skip-ci
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
Due: none

Deploying to docs from @ voiceflow/react-chat@b858113eba470568ba23be98d771f7a10a100464 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

feat: powered by Voiceflow is a link now
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
Due: build-apps

fix: whole Powered by.. is a link
  packages/chat/src/components/NewFooter/index.tsx
Due: build-apps

fix: client error on docs
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/pages/chat.tsx
Due: none

fix: client side rendering issues
  apps/documentation/src/pages/compositions/widget.mdx
  apps/documentation/src/pages/compositions/widget.tsx
Due: none

fix: skirt client side issues on nextra
  apps/documentation/src/pages/compositions/widget-page-component.tsx
  apps/documentation/src/pages/compositions/widget.mdx
Due: none

fix: link opening behaviour
  packages/chat/src/components/NewFooter/index.tsx
Due: build-apps

fix: user message text colour should be themed (DSN-2512) (#279)
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/UserMessage/UserMessage.css.ts
  packages/chat/src/components/UserMessage/UserMessage.story.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@fbfbb4125a113e6eb455150ab88b2d0dc13aea06 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@f21e191c8cbdf14af1b19af87d9687f0783ae1b6 🚀
  project.json
Due: none

fix: place Scroll to bottom button in footer component
  examples/live-chat/package.json
  examples/live-chat/src/main.tsx
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/NewFooter/ScrollButton/ScrollButton.css.ts
  packages/chat/src/components/NewFooter/ScrollButton/index.tsx
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/components/ScrollToBottom/styles.css.ts
  yarn.lock
Due: build-apps, build-all

fix: remove unused dep
  packages/chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

feat: powered by Voiceflow is a link now (DSN-2505) (#285)
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/pages/chat.tsx
  apps/documentation/src/pages/compositions/widget-page-component.tsx
  apps/documentation/src/pages/compositions/widget.mdx
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
Due: build-apps

feat: add TypingIndicator to the docs (COR-0000) (#276)
  apps/documentation/src/pages/atomic/typing-indicator.mdx
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/TypingIndicator/TypingIndicator.story.tsx
  packages/chat/src/stories.ts
  packages/chat/src/storybook/decorators.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@7d4ea15eefc9c5ce5c4c11c3aea8f3985df72ebc 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

feat: ui review for footer (COR-3751) (#273)
  apps/documentation/src/pages/compositions/footer.mdx
  packages/chat/src/components/NewChat/NewChat.story.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@205e910f3b5672a7598ffb2e0682e2178d059b16 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@235debb51219f196867b146adf1395603fa7128b 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: button wrapping behaviour
  packages/chat/src/components/Button/Button.story.tsx
  packages/chat/src/components/Button/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@a682dffa7410719202a769d459cc12a94c34b935 🚀
  project.json
Due: none

minor styling issue for carousel
  packages/chat/src/components/Carousel/styles.css.ts
Due: build-apps

minor fix to carousel image ratio
  packages/chat/src/components/Card/styles.css.ts
Due: build-apps

fix: large button
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  packages/chat/src/components/Button/styles.css.ts
Due: build-apps

fix: place Scroll to bottom button in footer component (COR-3827) (#288)
  packages/chat/src/components/Card/styles.css.ts
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/NewFooter/ScrollButton/ScrollButton.css.ts
  packages/chat/src/components/NewFooter/ScrollButton/index.tsx
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/components/ScrollToBottom/styles.css.ts
Due: build-apps

fix: button wrapping behaviour (DSN-2510) (#280)
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  packages/chat/src/components/Button/Button.story.tsx
  packages/chat/src/components/Button/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@f583dac07cecfcfb9b0200f1958967807dfe4d6b 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@9a74dc79eebf3bdd2521b5922807eda9202c8bc5 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@82a0fa0123bf485c7cb65574dd4c53d3f0cba3c9 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

feat: import built chat instead of building ourselves (COR-0000)
  apps/documentation/package.json
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/scripts/import-chat.sh
Due: none

fix: remove bundled package from git
  apps/documentation/.gitignore
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/scripts/import-chat.sh
Due: none

fix: linting package.json file
  apps/documentation/package.json
Due: none
