Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

feat: copy entire response over many messages for copy button
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

fix
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
Due: build-apps

feat: Copy improvements (DSN-2559) (#347)
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/FeedbackButton/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

fix: dead code
  packages/chat/src/components/SystemResponse/styles.css.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@54aeb060e02635458b4f1fcae0af73ba843bde6d 🚀
  project.json
Due: none

fix: appearence behaviour of feedback (DSN-2527) (#354)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

fix: review updates (COR-0000) (#350)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/Prompt/styles.css.ts
  packages/chat/src/components/Separator/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@54e5f4a0fb11e17416082528bb000b9cc7ae3507 🚀
  project.json
Due: none

fix: glitches with MessageInput behavior (COR-4014)
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@6169aee0384ee8d1f1f3876aed1af0151666b438 🚀
  project.json
Due: none

feat: no bottom margin if list element is last in message
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

chore: add a comment about the madness
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

feat: no bottom margin if list element is last in message (DSN-2562) (#360)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@e33b23e6089158caae072ebcfb6ef4258da0673f 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: dont jank when user starts new chat (COR-4010)
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/Prompt/index.tsx
Due: build-apps

fix: animation synced up
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: glitches with MessageInput behavior (COR-4014) (#359)
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

sigh
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@8b18088daf31900a4463a64846d7c9f9e9eee848 🚀
  project.json
Due: none

fix: dont jank when user starts new chat (COR-4010) (#362)
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/Prompt/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@ae1124df146aa7b8b3240bcb0b72afd2633e5870 🚀
  project.json
Due: none

frigggg
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/SystemResponse/Indicator/Indicator.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: animation of content in
  packages/chat/src/components/NewChat/NewChat.css.ts
Due: build-apps

fix: improve timings and speed up
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
Due: build-apps

fix: animation synced up (DSN-2567) (#363)
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/SystemResponse/Indicator/Indicator.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: limit the width of user messages (COR-0000)
  packages/chat/src/components/UserResponse/styles.css.ts
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/AltVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.css.ts
Due: build-apps

wip: early work on voice animation
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/styles/box-shadows.ts
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/WaveformVisualizer.component.tsx
Due: build-apps

wip: experimentation with voice animations
  yarn.lock
Due: build-all
