Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

fix: interruption behavior and audio stopping
  packages/chat/package.json
  packages/chat/src/views/VoiceWidget/services/audio.service.ts
  packages/chat/src/views/VoiceWidget/services/legacy-audio.service.ts
  packages/chat/src/views/VoiceWidget/services/recorder.service.ts
  yarn.lock
Due: build-apps, build-all

feat: baseline streaming (DSN-2619)
  packages/sdk-runtime/src/main.ts
  packages/sdk-runtime/src/runtime.client.ts
Due: build-apps

feat: working client and simple streaming
  packages/sdk-runtime/src/v2/interact-trace.stream.ts
  yarn.lock
Due: build-apps, build-all

feat: working simple streaming (DSN-2619)
  eslint.config.mjs
  packages/sdk-runtime/package.json
  packages/sdk-runtime/src/main.ts
  packages/sdk-runtime/src/runtime.client.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/trace.service.ts
  packages/sdk-runtime/src/v2/interact-trace.stream.ts
  packages/sdk-runtime/src/v2/runtime.client.ts
  packages/sdk-runtime/src/v2/trace.service.ts
  yarn.lock
Due: build-apps, build-all

feat: working simple streaming (DSN-2619)
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_meta.js
  eslint.config.mjs
  packages/chat/package.json
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/constants.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/types.ts
  packages/chat/src/contexts/RuntimeContext/traces/StreamedMessage.trace.ts
  packages/chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/chat/src/types/index.ts
  packages/sdk-runtime/package.json
  packages/sdk-runtime/src/main.ts
  packages/sdk-runtime/src/runtime.client.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/trace.service.ts
  packages/sdk-runtime/src/v2/interact-trace.stream.ts
  packages/sdk-runtime/src/v2/runtime.client.ts
  packages/sdk-runtime/src/v2/trace.service.ts
  yarn.lock
Due: build-apps, build-all

feat: working client and simple streaming
  packages/chat/package.json
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/constants.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/types.ts
  packages/chat/src/contexts/RuntimeContext/traces/StreamedMessage.trace.ts
  packages/sdk-runtime/src/v2/interact-trace.stream.ts
  yarn.lock
Due: build-apps, build-all

refactor: remove noise
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/trace.service.ts
Due: build-apps

fix: carousel hitbox edges fix (COR-4364)
  apps/documentation/src/components/ChatScript/index.tsx
  packages/chat/package.json
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Carousel/styles.css.ts
  yarn.lock
Due: build-apps, build-all

feat: change padding on welcome banner (COR-4248) (#479)
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
Due: build-apps

feat: make launcher image undraggable (COR-4295) (#480)
  packages/chat/src/components/Launcher/LauncherWithLabel/styles.css.ts
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@9443b346cbf7c29db68a1a056da7f0bc7a2743b9 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-BGY4mUw1.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-xeVvGudW.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-BuPd2Vnu.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-QENNBt--.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

fix: carousel hitbox edges fix (COR-4364) (#486)
  yarn.lock
Due: build-all

fix: carousel hitbox edges fix (COR-4364) (#486)
  apps/documentation/src/components/ChatScript/index.tsx
  packages/chat/package.json
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Carousel/styles.css.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@f33a21c80fa8ebf03167c5110c360dd50ea7a1ec 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-BGY4mUw1.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-xeVvGudW.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-BuPd2Vnu.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-QENNBt--.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

fix: update segements to 1 second
  packages/chat/src/views/VoiceWidget/services/recorder.service.ts
Due: build-apps

fix: remove legacy audio service
  packages/chat/src/views/VoiceWidget/services/legacy-audio.service.ts
Due: build-apps

fix: remove debounce types
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: really minor ui issues (COR-4380, COR-4177)
  packages/chat/src/components/Launcher/ChevronIcon.tsx
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.css.tsx
Due: build-apps

feat: bump dto interact (COR-4274) (#478)
  yarn.lock
Due: build-all

feat: bump dto interact (COR-4274) (#478)
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@b9ce03892c13f03dd57a6e085be826f5d30f4626 🚀
  project.json
Due: none

fix: really minor ui issues (COR-4380, COR-4177) (#490)
  packages/chat/src/components/Launcher/ChevronIcon.tsx
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.css.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@c891bcdaaabf60f446844b5c136ed55851e7d2e1 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-DVmJfu8l.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-DsoI2PX6.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-r1vpOTtE.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-DPXsqhyp.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

wip
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.css.ts
Due: build-apps

wip: experimentation with voice animations
  packages/chat/package.json
  packages/chat/src/components/VoiceWidget/AltVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/GradientVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/WaveformVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.component.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.ts
  yarn.lock
Due: build-apps, build-all

wip: early work on voice animation
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/styles/box-shadows.ts
Due: build-apps

wip
  packages/chat/src/components/VoiceWidget/AltVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

feat: early voice shrink animation
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
Due: build-apps
