Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

feat: ensure package works in ESM context (DX-2058) (#166)
  package.json
  packages/react-chat/package.json
  packages/react-chat/src/utils/actions.ts
  packages/sdk-runtime/.dependency-cruiser.mjs
  packages/sdk-runtime/CHANGELOG.md
  packages/sdk-runtime/package.json
  packages/sdk-runtime/sonar-project.properties
  packages/sdk-runtime/src/main.ts
  packages/sdk-runtime/src/runtime/index.ts
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.auth.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/index.ts
  packages/sdk-runtime/src/sdk/sdk.interface.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/components/card.component.ts
  packages/sdk-runtime/src/trace/components/cardV2.component.ts
  packages/sdk-runtime/src/trace/components/choice.component.ts
  packages/sdk-runtime/src/trace/components/end.component.ts
  packages/sdk-runtime/src/trace/components/index.ts
  packages/sdk-runtime/src/trace/components/speak.component.ts
  packages/sdk-runtime/src/trace/components/stream.component.ts
  packages/sdk-runtime/src/trace/components/text.component.ts
  packages/sdk-runtime/src/trace/components/visual.component.ts
  packages/sdk-runtime/src/trace/index.ts
  packages/sdk-runtime/src/trace/trace.component.ts
  packages/sdk-runtime/src/trace/trace.interface.ts
  packages/sdk-runtime/src/trace/trace.service.ts
  packages/sdk-runtime/tsconfig.build.cjs.json
  packages/sdk-runtime/tsconfig.build.esm.json
  packages/sdk-runtime/tsconfig.build.json
  packages/sdk-runtime/tsconfig.json
  scripts/build_pkg.sh
  sonar-project.properties
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/sdk-runtime/CHANGELOG.md
  packages/sdk-runtime/package.json
Due: build-apps

fix: remove encodeURIComponent temporarily (SOS-52)
  packages/sdk-runtime/src/runtime/runtime.service.auth.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
Due: build-apps

fix: ensure all sessionIDs are encoded (SOS-52)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
Due: build-apps

fix: ensure all sessionIDs are encoded (SOS-52) (#168)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

fix: use ESM-friendly version of @voiceflow/common (DX-2358)
  packages/react-chat/package.json
  packages/sdk-runtime/package.json
  yarn.lock
Due: build-apps, build-all

fix: use ESM-friendly version of @voiceflow/common (DX-2358) (#169)
  packages/react-chat/package.json
  packages/sdk-runtime/package.json
  yarn.lock
Due: build-apps, build-all

fix: stop double-encoding sessionID (DX-2359)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
Due: build-apps

fix: stop double-encoding sessionID (DX-2359) (#170)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
Due: build-apps

feat: prototype runtime (COR-000)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/sdk-runtime/src/runtime/index.ts
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.prototype.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
Due: build-apps

fix: transforms user name to utf 8 before sending to transcript api (DX-2369)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
Due: build-apps

fix: bump up to latest version:IN-000
  .circleci/continue-config.yml
Due: none

fix: encode sessionID (DX-2369)
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
Due: build-apps

fix: remove from headers
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
Due: build-apps

fix: bump vfcommon
  .circleci/continue-config.yml
Due: none

fix: encode sessionID (DX-2369) (#173)
  .circleci/continue-config.yml
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
Due: build-apps

feat: prototype runtime (COR-000) (#171)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/sdk-runtime/src/runtime/index.ts
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.prototype.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
Due: build-apps

Update package.json
  packages/chat/package.json
Due: build-apps

fix: linting
  examples/live-agent/types/global.d.ts
  packages/chat/package.json
  packages/chat/src/components/Header/new-styled.css.ts
  packages/sdk-runtime/src/runtime/runtime.service.auth.ts
  packages/sdk-runtime/src/runtime/runtime.service.prototype.ts
Due: build-apps
