Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@8626fa1316954486d7a24fa04bae9c3535873367 🚀
  project.json
Due: none

fix: add white background to carousel (DSN-2538) (#308)
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/components/SystemResponse/SystemResponse.story.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@be4aa7c30aa25a88abf05f4cae84f57c18ef737c 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@2bb236a311995c0d639436da5b269d3db4d9096a 🚀
  project.json
Due: none

fix: conditional render
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

fix: themed feedback button
  packages/chat/src/components/FeedbackButton/FeedbackButton.css.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
Due: build-apps

fix: positioning of feedback on last message
  packages/chat/src/components/SystemResponse/styles.css.ts
Due: build-apps

fix: theme of copy icon
  packages/chat/src/components/FeedbackButton/FeedbackButton.css.ts
  packages/chat/src/components/FeedbackButton/index.tsx
Due: build-apps

minor fixes
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

fix: scroll to bottom button (COR-3903)
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/contexts/AutoScrollContext.tsx
Due: build-apps

fix: on mouse up event
  packages/chat/src/components/Launcher/index.tsx
Due: build-apps

feat: header, welcome message and footer animate in
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
Due: build-apps

fix: agent and user message appearance animation
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/UserResponse/styles.css.ts
Due: build-apps

fix: ui glitch
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/NewChat/index.tsx
Due: build-apps

fix: ui glitch (COR-0000) (#311)
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/NewChat/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@6d69cb91ca925e624ee1b6aa555012ca72046d9d 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@7f4f45e7d5a441785bbc5761a54a2d68a23add82 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

trigger build
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: Animate in widget components (DSN-2530) (#312)
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@d06153eeb2588596a5479baa5743c09e87c761fb 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: scroll to bottom button (COR-3903) (#310)
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/contexts/AutoScrollContext.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@67c14e46bcbc8c4c2783702139370b08ebe95396 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@f433c078962437094ea7d3303d193d7fa47345f8 🚀
  project.json
Due: none

fix: Random fixes (DSN-000) (#309)
  apps/documentation/src/pages/atomic/launcher.mdx
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.css.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
  packages/chat/src/components/FeedbackButton/index.tsx
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/Launcher/styles.css.ts
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
Due: build-apps

temp:
  apps/documentation/src/pages/atomic/user-message.mdx
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/MessageContainer/index.tsx
  packages/chat/src/components/MessageContainer/styles.css.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/UserMessage/UserMessage.css.ts
  packages/chat/src/components/UserMessage/UserMessage.story.tsx
  packages/chat/src/components/UserMessage/index.tsx
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@e8cdd6eeaba2075f28d8bd2443b85b3c98d0963e 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@e6fcd4d0249bc71569239072b27973ae0dec258b 🚀
  project.json
Due: none

ci: move vercel configuration into repository (DSN-2544)
  scripts/vercel_ignore_build.sh
  vercel.json
Due: none

build: update git-branch-check
  package.json
  yarn.lock
Due: build-all

ci: move vercel configuration into repository (DSN-2544) (#313)
  package.json
  scripts/vercel_ignore_build.sh
  vercel.json
  yarn.lock
Due: build-all

Deploying to docs from @ voiceflow/react-chat@8c8683b9f469b3225a8726294130be55fff02ea4 🚀
  project.json
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
