Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

feat: add disabled and loading states to launcher (COR-4421) (#503)
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/Launcher/styles.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: add back in avatars to messages
  packages/chat/src/components/FeedbackButton/FeedbackButton.interface.ts
  packages/chat/src/components/FeedbackButton/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@1e8dd4e0b5dd9d7a69e65ad16100ef22f57e66bf 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-DVmJfu8l.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-DsoI2PX6.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-r1vpOTtE.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-DPXsqhyp.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

fix: animations and avatar added back in
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/AgentMessage.story.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/SystemResponse/types.ts
Due: build-apps

fix: agent message feedbakc logic
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

remove logs
  packages/chat/src/contexts/RuntimeContext/traces/StreamedMessage.trace.ts
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

fix: remove unused dep
  packages/chat/src/assets/fonts/UCityProWeb-Bold.woff
  packages/chat/src/assets/fonts/UCityProWeb-Bold.woff2
  packages/chat/src/assets/fonts/UCityProWeb-Regular.woff
  packages/chat/src/assets/fonts/UCityProWeb-Regular.woff2
  packages/chat/src/assets/fonts/UCityProWeb-Semibold.woff
  packages/chat/src/assets/fonts/UCityProWeb-Semibold.woff2
  packages/chat/src/components/MessageInput/index.tsx
  packages/chat/src/styles/font.css.ts
Due: build-apps

feat: add fonts to cdn (COR-4420)
  packages/chat/src/assets/fonts/UCityProWeb-Bold.woff
  packages/chat/src/assets/fonts/UCityProWeb-Bold.woff2
  packages/chat/src/assets/fonts/UCityProWeb-Regular.woff
  packages/chat/src/assets/fonts/UCityProWeb-Regular.woff2
  packages/chat/src/assets/fonts/UCityProWeb-Semibold.woff
  packages/chat/src/assets/fonts/UCityProWeb-Semibold.woff2
  packages/chat/src/styles/font.css.ts
  packages/chat/src/styles/font.ts
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
Due: build-apps

fix: trying to fix font name
  packages/chat/src/styles/font.ts
Due: build-apps

Revert "fix: remove unused dep"
  packages/chat/src/assets/fonts/UCityProWeb-Bold.woff
  packages/chat/src/assets/fonts/UCityProWeb-Bold.woff2
  packages/chat/src/assets/fonts/UCityProWeb-Regular.woff
  packages/chat/src/assets/fonts/UCityProWeb-Regular.woff2
  packages/chat/src/assets/fonts/UCityProWeb-Semibold.woff
  packages/chat/src/assets/fonts/UCityProWeb-Semibold.woff2
  packages/chat/src/components/MessageInput/index.tsx
  packages/chat/src/styles/font.css.ts
Due: build-apps

fix: remove unused dep forealz now
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

fix: dont show cursor on hidden scroll button (COR-4427)
  packages/chat/src/components/ScrollToBottom/styles.css.ts
Due: build-apps

fix: change header image background
  packages/chat/src/components/Avatar/index.tsx
  packages/chat/src/components/Avatar/styles.css.ts
  packages/chat/src/components/Header/Header.story.tsx
  packages/chat/src/components/Header/index.tsx
Due: build-apps

fix: change header image background (COR-4419) (#508)
  packages/chat/src/components/Avatar/index.tsx
  packages/chat/src/components/Avatar/styles.css.ts
  packages/chat/src/components/Header/Header.story.tsx
  packages/chat/src/components/Header/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@079fdd10a30e644a942836175a14078f19e170fe 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-BGY4mUw1.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-xeVvGudW.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-BuPd2Vnu.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-QENNBt--.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

feat: bump dtos interact
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: bump dtos interact (COR-4422) (#510)
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: bump dtos interact (COR-4422) (#510)
  yarn.lock
Due: build-all

Deploying to docs from @ voiceflow/react-chat@1960a0ce914782116a03078e9af26d27d86c6f85 🚀
  project.json
Due: none

fix: fix loading indicator when chat ends
  packages/chat/src/components/SystemResponse/hooks.ts
Due: build-apps

fix: fix loading indicator when chat ends (COR-4425) (#512)
  packages/chat/src/components/SystemResponse/hooks.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@9ab0da67c949072f3ea97b51585348a4dbda4d20 🚀
  project.json
Due: none

fix: Streamed messages with animation and avatar (DSN-2653) (#505)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/AgentMessage.story.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.interface.ts
  packages/chat/src/components/FeedbackButton/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/SystemResponse/types.ts
  packages/chat/src/contexts/RuntimeContext/traces/StreamedMessage.trace.ts
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

fix: hide/show chat callbacks
  apps/documentation/src/pages/ProactiveMessage.tsx
  apps/documentation/src/pages/chat.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

trigger rebuild
  apps/documentation/src/pages/chat.tsx
Due: none

fix: hide/show chat callbacks (DSN-2664) (#514)
  apps/documentation/src/pages/ProactiveMessage.tsx
  apps/documentation/src/pages/chat.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@b1124a27a506949977a7af1c034981b4830e0227 🚀
  project.json
Due: none

fix: align prompt and restart chat appareance animations
  packages/chat/src/components/Prompt/styles.css.ts
Due: build-apps

fix: entrance animation of feedback buttons
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/SystemResponse/styles.css.ts
Due: build-apps

feat: add console warn deprecation notice to react-chat
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: add loading state to launcher with label
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/index.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/styles.css.ts
  packages/chat/src/components/Launcher/index.tsx
Due: build-apps

feat: expose voice api
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/main.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/VoiceWidget/VoiceWidget.interface.ts
  packages/chat/src/views/VoiceWidget/VoiceWidget.view.tsx
  packages/chat/src/views/VoiceWidget/services/voice.service.ts
Due: build-apps

feat: add loading state to launcher with label (COR-4435) (#523)
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/index.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/styles.css.ts
  packages/chat/src/components/Launcher/index.tsx
Due: build-apps

feat: expose voice api (COR-4463) (#524)
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/main.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/VoiceWidget/VoiceWidget.interface.ts
  packages/chat/src/views/VoiceWidget/VoiceWidget.view.tsx
  packages/chat/src/views/VoiceWidget/services/voice.service.ts
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
