Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

fix: .gitignore file
  apps/documentation/.gitignore
Due: none

feat: add vanilla-extract to the new chat package (COR-3282) (#183)
  examples/live-chat/src/main.tsx
  packages/chat/package.json
  packages/chat/src/widget.tsx
  packages/chat/typings/global.d.ts
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
  yarn.lock
Due: build-apps, build-all

feat: add vanilla-extract to the new chat package (COR-3282) (#183)
  yarn.lock
Due: build-all

fix: removing orphaned files
  packages/chat/src/old-styles/colors.ts
  packages/chat/src/old-styles/sizes.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: add Storybook configuration for chat package (#185)
  packages/chat/.storybook/main.ts
  packages/chat/.storybook/preview-head.html
  packages/chat/.storybook/preview.tsx
Due: build-apps

fix: cleaning
  packages/chat/src/components/Avatar/styled.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
Due: build-apps

feat: rewrite Avatar component (COR-3369) (#188)
  yarn.lock
Due: build-all

feat: rewrite Avatar component (COR-3369) (#188)
  packages/chat/package.json
  packages/chat/src/components/AssistantInfo/styled.ts
  packages/chat/src/components/Avatar/index.tsx
  packages/chat/src/components/Avatar/styled.ts
  packages/chat/src/components/Avatar/styles.css.ts
  packages/chat/src/components/Header/styled.ts
  packages/chat/src/components/SystemResponse/styled.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
  yarn.lock
Due: build-apps, build-all

fix: get dynamic colors
  packages/chat/src/components/Button/Inline.tsx
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/styles/colors.css.ts
  packages/chat/src/styles/colors.ts
Due: build-apps

add active styles to inline button
  packages/chat/src/components/Button/Inline.tsx
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/SystemResponse/styled.ts
Due: build-apps

feat: add InlineButton component (COR-2143)
  packages/chat/src/components/Button/Inline.tsx
  packages/chat/src/components/Button/constants.ts
  packages/chat/src/components/Button/index.ts
  packages/chat/src/components/Button/reset.css.ts
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
Due: build-apps

remove string
  packages/chat/src/components/Button/Inline.tsx
Due: build-apps

fix: unit test vite plugin configuration
  packages/chat/vitest.config.mts
Due: build-apps

feat: add InlineButton component (COR-2143) (#189)
  packages/chat/src/components/Button/Inline.tsx
  packages/chat/src/components/Button/constants.ts
  packages/chat/src/components/Button/index.ts
  packages/chat/src/components/Button/reset.css.ts
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styled.ts
  packages/chat/src/styles/colors.css.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
  packages/chat/vitest.config.mts
Due: build-apps

fix: export dist css file
  packages/chat/package.json
Due: build-apps

fix: export dist css file (#196)
  packages/chat/package.json
Due: build-apps

ci: add bors (DX-2446)
  bors.toml
  package.json
  yarn.lock
Due: build-all

ci: add bors (DX-2446) (#197)
  bors.toml
  package.json
  yarn.lock
Due: build-all

feat: add Avatar component to docs
  apps/documentation/src/components/StoryEmbed.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/atomic/avatar/index.mdx
  packages/chat/package.json
  packages/chat/src/components/Avatar/styles.css.ts
  packages/chat/src/stories.ts
  packages/chat/src/ui.ts
  packages/chat/vite.package.config.ts
Due: build-apps

feat: add nextra theme to docs app (COR-0000) (#198)
  apps/documentation/.gitignore
  apps/documentation/next.config.mjs
  apps/documentation/package.json
  apps/documentation/src/pages/_meta.js
  apps/documentation/src/pages/atomic/index.mdx
  apps/documentation/src/pages/index.mdx
  apps/documentation/src/pages/index.tsx
  apps/documentation/src/pages/molecules/index.mdx
  apps/documentation/src/theme.config.tsx
  yarn.lock
Due: build-all

feat: add nextra theme to docs app (COR-0000) (#198)
  yarn.lock
Due: build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
Due: none

feat: add Avatar component to docs (COR-3369) (#199)
  apps/documentation/src/components/StoryEmbed.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/atomic/avatar/index.mdx
  packages/chat/package.json
  packages/chat/src/components/Avatar/styles.css.ts
  packages/chat/src/stories.ts
  packages/chat/src/ui.ts
  packages/chat/vite.package.config.ts
Due: build-apps

feat: add send button (COR-3431)
  packages/chat/.storybook/main.ts
  packages/chat/src/components/Button/Button.story.tsx
  packages/chat/src/components/Button/Inline.tsx
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/styles/colors.css.ts
  packages/chat/src/styles/colors.ts
Due: build-apps

feat: early tokens
  packages/chat/src/styles/animations.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/transitions.ts
Due: build-apps

feat: fix storybook
  packages/chat/.storybook/main.ts
Due: build-apps

feat: up and down variants
  packages/chat/src/components/FeedbackButton/FeedbackButton.component.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.css.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.test.tsx
  packages/chat/src/components/FeedbackButton/ThumbsDownIcon.component.tsx
Due: build-apps

feat: Feedback button with theme
  packages/chat/src/components/FeedbackButton/FeedbackButton.component.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.css.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
  packages/chat/src/components/FeedbackButton/ThumbsUpIcon.component.tsx
Due: build-apps

feat: expose Feedback button
  packages/chat/src/components/FeedbackButton/FeedbackButton.component.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.interface.ts
  packages/chat/src/components/FeedbackButton/index.ts
  packages/chat/src/ui.ts
Due: build-apps
