Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

fix: launcher icon
  packages/react-chat/src/components/Launcher/index.tsx
  packages/react-chat/src/components/Launcher/launch.svg
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@73d5c6d99b80d0380bcff9d3ef2d00f9e0f229d1 🚀
  project.json
Due: none

chore(release): publish
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

fix: text skip ci
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@9e27eeb912f6e9175939dfeb601c6f5fe9f9384c 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@6931c4ca854cedd4147ec2f9fabf5ee686f1deca 🚀
  project.json
Due: none

fix: export typings properly
  packages/react-chat/index.ts
  packages/react-chat/src/index.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@dfd84a3032840b492adeeeea629e1bf0c7bca3f9 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@bedc4905ffa13f43e56e75a25ce88520234edc3f 🚀
  project.json
Due: none

fix: latest orb
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@c7016f991961b05c3534e3519883a69de95cd36f 🚀
  project.json
Due: none

ci: final orb version
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@aaa5eeb93d55b10cb64e47361ec20b4d269575eb 🚀
  project.json
Due: none

fix: persistent messages
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/index.ts
  packages/react-chat/src/common/postMessage.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/common/utils.ts
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/Carousel/index.tsx
  packages/react-chat/src/components/Chat/Chat.story.tsx
  packages/react-chat/src/components/Chat/hooks.ts
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/types.ts
  packages/react-chat/src/components/Timestamp/Timestamp.story.tsx
  packages/react-chat/src/components/Timestamp/index.tsx
  packages/react-chat/src/components/Timestamp/utils.ts
  packages/react-chat/src/components/UserResponse/UserResponse.story.tsx
  packages/react-chat/src/components/UserResponse/index.tsx
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/hooks/useStateRef.ts
  packages/react-chat/src/types/turn.ts
  packages/react-chat/src/views/ChatWindow/hooks.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/src/views/ChatWindow/utils.ts
  packages/widget/examples/index.html
  packages/widget/index.tsx
  packages/widget/src/index.tsx
  packages/widget/src/session.ts
  yarn.lock
Due: build-apps, build-all

fix: antialiasing (CT-000)
  packages/react-chat/index.html
  packages/react-chat/src/browser/utils.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@c09cf52b2a9dcc5aa5d4edc95f7a147145b40bda 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@b205dd334056923b7661063d1e21ecd0fec85fd3 🚀
  project.json
Due: none

fix: persistence
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/widget/src/session.ts
Due: build-apps

fix: utilities
  packages/react-chat/src/common/utils.ts
  packages/react-chat/src/hooks/useRuntime.ts
Due: build-apps

fix: better naming
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: further cleanup
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: bump adapters
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: persistent messages (#27)
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/react-chat/src/browser/utils.ts
  packages/react-chat/src/common/index.ts
  packages/react-chat/src/common/postMessage.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/common/utils.ts
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/Carousel/index.tsx
  packages/react-chat/src/components/Chat/Chat.story.tsx
  packages/react-chat/src/components/Chat/hooks.ts
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/types.ts
  packages/react-chat/src/components/Timestamp/Timestamp.story.tsx
  packages/react-chat/src/components/Timestamp/index.tsx
  packages/react-chat/src/components/Timestamp/utils.ts
  packages/react-chat/src/components/UserResponse/UserResponse.story.tsx
  packages/react-chat/src/components/UserResponse/index.tsx
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/hooks/useStateRef.ts
  packages/react-chat/src/types/turn.ts
  packages/react-chat/src/views/ChatWindow/hooks.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/src/views/ChatWindow/utils.ts
  packages/widget/examples/index.html
  packages/widget/index.tsx
  packages/widget/src/index.tsx
  packages/widget/src/session.ts
  yarn.lock
Due: build-apps, build-all

fix: use cdn instead of unpkg
  packages/widget/.env.production
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
