Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@0e0d38804991b4da70284ec0578e7f3402866d1a 🚀
  project.json
Due: none

feat: working on Prompt component (COR-0000)
  apps/documentation/src/pages/molecules/prompt.mdx
  packages/chat/src/components/Button/constants.ts
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/Prompt/Prompt.story.tsx
  packages/chat/src/components/Prompt/index.tsx
Due: build-apps

feat: review for MessageInput
  apps/documentation/src/pages/atomic/message-input.mdx
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

feat: ui review for footer (COR-3751)
  apps/documentation/src/pages/compositions/footer.mdx
  packages/chat/src/components/NewChat/NewChat.story.tsx
Due: build-apps

fix: closing tag in demo
  apps/documentation/src/pages/atomic/message-input.mdx
Due: none

fix: wip
  apps/documentation/src/components/ChatConfigOptions/index.tsx
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/index.mdx
Due: none

feat: ui review for carousel component
  apps/documentation/src/pages/molecules/carousel.mdx
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/styles.css.ts
Due: build-apps

feat: add TypingIndicator to the docs
  apps/documentation/src/pages/atomic/typing-indicator.mdx
  packages/chat/src/stories.ts
Due: build-apps

feat: add typing indicator demo inside chat widget
  apps/documentation/src/pages/atomic/typing-indicator.mdx
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/TypingIndicator/TypingIndicator.story.tsx
  packages/chat/src/storybook/WithRuntimeProvider.tsx
  packages/chat/src/storybook/decorators.tsx
Due: build-apps

feat: message input audio and refactoring
  apps/documentation/package.json
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/atomic/message-input.mdx
  packages/chat/.storybook/preview.tsx
  packages/chat/package.json
  packages/chat/src/components/Buttons/StopButton/index.tsx
  packages/chat/src/components/MessageInput/AudioInputButton.tsx
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/MessageInput/MessageInput.story.tsx
  packages/chat/src/components/MessageInput/hooks.ts
  packages/chat/src/components/MessageInput/index.tsx
  packages/chat/src/dtos/ChatConfig.dto.ts
  yarn.lock
Due: build-apps, build-all

feat: message input audio and refactoring
  yarn.lock
Due: build-all

fix: yarn install to update lockfile
  yarn.lock
Due: build-all

fix: yarn install to update lockfile
  apps/documentation/package.json
  yarn.lock
Due: build-all

fix: show correct icon when recording
  packages/chat/src/components/MessageInput/AudioInputButton.tsx
Due: build-apps

fix: ProjectID configurable Chat on Docs (DSN-000) (#274)
  apps/documentation/src/components/ChatConfigOptions/index.tsx
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/index.mdx
Due: none

Deploying to docs from @ voiceflow/react-chat@d566fc449f9d8fca1bb08419c40f5729cea4378d 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
Due: none

Deploying to docs from @ voiceflow/react-chat@f5666ec55fb9d5253c1745d5f10050905a1f215c 🚀
  project.json
Due: none

fix: add regenerator runtime
  apps/documentation/src/pages/_app.tsx
  packages/chat/src/components/Buttons/StopButton/StopButton.css.ts
  packages/chat/src/components/Buttons/StopButton/index.tsx
Due: build-apps

fix: use gap instead of margin so last element doesnt have bottom-margin
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/Card/styles.css.ts
Due: build-apps

fix: reposition scroll to bottom button
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/components/ScrollToBottom/styles.css.ts
Due: build-apps

fix: remove title margin when avatar not present
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/components/Header/styles.css.ts
Due: build-apps

feat: ui review for carousel component (COR-0000) (#275)
  apps/documentation/src/pages/molecules/carousel.mdx
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/Card/styles.css.ts
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/components/ScrollToBottom/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@b3106063f4ede9ff57f3fe2398ad4ae5b89edc7e 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@4b38023b892f19cccca6c306d8b405e518b04f04 🚀
  project.json
Due: none

fix: rotate only button icon
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Icon/index.tsx
Due: build-apps

fix: change border radius of larger buttons
  packages/chat/src/components/Button/styles.css.ts
Due: build-apps

fix: remove unused file
  packages/chat/src/storybook/WithRuntimeProvider.tsx
Due: build-apps

fix: adjust input height and cursor on hover
  packages/chat/src/components/MessageInput/MessageInput.css.ts
Due: build-apps

fix: no prewrap for markdown messages
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
Due: build-apps

fix: adjust chat height to be responsive
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/widget.tsx
Due: build-apps

fix: tweaks to agent mesasge
  packages/chat/src/styles.css
Due: build-apps

fix: tweaks to agent mesasge
  apps/documentation/public/bundle/style.css
Due: none

fix: sentence case
  packages/react-chat/src/components/Footer/index.tsx
Due: build-apps
