Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

this won't work bc of inlineDynamicImports under the hood
  packages/react-chat/package.json
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

add vite legacy plugin
  packages/react-chat/.dependency-cruiser.js
  packages/react-chat/package.json
  packages/react-chat/src/index.tsx
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

setup
  package.json
  packages/react-chat/examples/index.html
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/Message/styled.ts
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles.css
  packages/react-chat/src/utils/config.ts
  packages/react-chat/src/views/ChatWidget/styled.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps, build-all

Revert "Revert "feat: chat embed(DX-996) (#106)""
  .vscode/settings.json
  packages/react-chat/examples/index.html
  packages/react-chat/package.json
  packages/react-chat/src/common/index.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/Button/Button.test.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/components/UserResponse/index.tsx
  packages/react-chat/src/components/UserResponse/styled.ts
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/entrypoints.tsx
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useLoadCustomTheme.tsx
  packages/react-chat/src/hooks/useTheme.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/src/utils/config.ts
  packages/react-chat/src/utils/stylesheet.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/src/views/index.ts
  yarn.lock
Due: build-apps, build-all

wip: try to lazy mount stylesheet
  packages/react-chat/.yalc/@voiceflow/stitches-react/README.md
  packages/react-chat/.yalc/@voiceflow/stitches-react/package.json
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/config.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/css-util.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/css.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/index.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/stitches.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/styled-component.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/theme.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/util.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/yalc.sig
  packages/react-chat/package.json
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/yalc.lock
  yarn.lock
Due: build-apps, build-all

wip: more
  packages/react-chat/.yalc/@voiceflow/stitches-react/package.json
  packages/react-chat/.yalc/@voiceflow/stitches-react/yalc.sig
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/yalc.lock
  yarn.lock
Due: build-apps, build-all

chore: update yalc
  packages/react-chat/.yalc/@voiceflow/stitches-react/package.json
  packages/react-chat/.yalc/@voiceflow/stitches-react/yalc.sig
  packages/react-chat/yalc.lock
Due: build-apps

chore: cleanup
  packages/react-chat/.yalc/@voiceflow/stitches-react/package.json
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/stitches.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/yalc.sig
  packages/react-chat/src/entrypoints.tsx
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/yalc.lock
  yarn.lock
Due: build-apps, build-all

fix: use new version
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: remove yalc
  packages/react-chat/.yalc/@voiceflow/stitches-react/README.md
  packages/react-chat/.yalc/@voiceflow/stitches-react/package.json
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/config.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/css-util.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/css.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/index.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/stitches.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/styled-component.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/theme.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/types/util.d.ts
  packages/react-chat/.yalc/@voiceflow/stitches-react/yalc.sig
  packages/react-chat/yalc.lock
Due: build-apps

refactor: cleanup
  packages/react-chat/package.json
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/styles/theme.ts
  yarn.lock
Due: build-apps, build-all

feat: add warning messages
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
Due: build-apps

refactor: extract logic for registering chat API into hook
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useChatAPI.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/types/index.ts
  packages/react-chat/src/utils/chat.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWidget/types.ts
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
  packages/react-chat/typings/global.d.ts
Due: build-apps

refactor: default to ended if not autostarting
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

refactor: use zod for validation and sanitization
  package.json
  packages/react-chat/package.json
  packages/react-chat/src/browser/index.tsx
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/Button/Button.test.tsx
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Text/Image.story.tsx
  packages/react-chat/src/components/Textarea/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/AssistantOptions.dto.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/dtos/RenderOptions.dto.ts
  packages/react-chat/src/hooks/useLoadCustomTheme.tsx
  packages/react-chat/src/hooks/useTheme.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/src/utils/config.ts
  packages/react-chat/src/utils/stylesheet.ts
  packages/react-chat/typings/global.d.ts
  yarn.lock
Due: build-apps, build-all

chore: cleanup
  packages/react-chat/package.json
  packages/react-chat/src/dtos/ChatConfig.dto.ts
Due: build-apps

chore: cleanup
  packages/react-chat/src/hooks/useChatAPI.ts
  packages/react-chat/src/types/index.ts
Due: build-apps

refactor: simpler placeholders
  packages/react-chat/src/hooks/useChatAPI.ts
Due: build-apps

refactor: centralize autostart effect
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

refactor: use flex-basis
  packages/react-chat/src/components/SystemResponse/styled.ts
Due: build-apps

refactor: remove unused component
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Image/Background.story.tsx
  packages/react-chat/src/components/Image/index.tsx
Due: build-apps

refactor: remove shadow root from context
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useLoadCustomTheme.tsx
  packages/react-chat/src/index.tsx
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
Due: build-apps

refactor: remove autostart from runtime state
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

ci: add e2e tests
  .circleci/continue-config.yml
  packages/react-chat/.eslintrc.js
  packages/react-chat/.gitignore
  packages/react-chat/e2e/bubble.html
  packages/react-chat/e2e/bubble.spec.ts
  packages/react-chat/e2e/embedded.html
  packages/react-chat/e2e/embedded.spec.ts
  packages/react-chat/package.json
  packages/react-chat/playwright.config.ts
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/dtos/AssistantOptions.dto.ts
  packages/react-chat/src/dtos/ChatConfig.dto.test.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/dtos/RenderOptions.dto.test.ts
  packages/react-chat/src/dtos/RenderOptions.dto.ts
  packages/react-chat/src/utils/assistant.test.ts
  yarn.lock
Due: build-apps, build-all

ci: record and store video artifacts
  .circleci/continue-config.yml
  packages/react-chat/playwright.config.ts
Due: build-apps

chore: simplify config
  packages/react-chat/playwright.config.ts
Due: build-apps

ci: fewer retries
  .circleci/continue-config.yml
  packages/react-chat/playwright.config.ts
  packages/react-chat/vitest.config.ts
Due: build-apps

ci: attach workspace in correct place
  .circleci/continue-config.yml
Due: none

ci: share shrink workspace target
  .circleci/continue-config.yml
Due: none

ci: persist different path
  .circleci/continue-config.yml
Due: none

ci: fix by including dist
  turbo.json
Due: none

ci: less specific config
  .circleci/continue-config.yml
Due: none

fix: tyler styling updates
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/components/Textarea/styled.ts
  packages/react-chat/src/components/UserResponse/styled.ts
  packages/react-chat/src/dtos/ChatConfig.dto.test.ts
  packages/react-chat/src/dtos/RenderOptions.dto.test.ts
  packages/react-chat/src/dtos/RenderOptions.dto.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/views/ChatEmbed/index.tsx
  packages/react-chat/src/views/index.ts
Due: build-apps

chore: rename things from bubble to overlay
  packages/react-chat/e2e/overlay.html
  packages/react-chat/e2e/overlay.spec.ts
  packages/react-chat/src/dtos/RenderOptions.dto.test.ts
  packages/react-chat/src/dtos/RenderOptions.dto.ts
  packages/react-chat/typings/global.d.ts
Due: build-apps

fix: set proactive message width to 512 in embedded mode
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/UserResponse/index.tsx
Due: build-apps

test: proactive message tests and chat methods
  packages/react-chat/e2e/embedded.spec.ts
  packages/react-chat/e2e/overlay.spec.ts
  packages/react-chat/e2e/proactive.html
  packages/react-chat/e2e/proactive.spec.ts
  packages/react-chat/playwright.config.ts
Due: build-apps

refactor: revert changes to proactive message width
  packages/react-chat/src/components/Proactive/index.tsx
Due: build-apps

fix: use correct image width when embedded
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
