Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

feat: improve custom speech recognition logic (COR-000) (#186)
  packages/react-chat/src/components/ChatInput/AudioInputButton.tsx
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/components/ChatInput/index.tsx
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

feat: hide audio interface for non chrome browsers (COR-000)
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/device.ts
Due: build-apps

feat: hide audio interface for non chrome browsers (COR-000) (#187)
  packages/react-chat/src/components/ChatInput/hooks.ts
  packages/react-chat/src/constants.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/device.ts
Due: build-apps

feat: rewrite Avatar component (COR-3369)
  packages/chat/package.json
  packages/chat/src/components/AssistantInfo/styled.ts
  packages/chat/src/components/Avatar/index.tsx
  packages/chat/src/components/Avatar/styles.css.ts
  packages/chat/src/components/Header/styled.ts
  packages/chat/src/components/SystemResponse/styled.ts
  packages/chat/src/styles/colors.ts
  packages/chat/src/styles/sizes.ts
  yarn.lock
Due: build-apps, build-all

remove unneeded file
  packages/chat/src/components/Avatar/styles.css.ts
Due: build-apps

feat: add setOpen to the api (COR-000)
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

feat: add setOpen to the api (COR-000) (#190)
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

chore(release): publish --skip-ci
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

feat: add setOpen to the api (COR-000)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

feat: add setOpen to the api (COR-000) (#191)
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

feat: docs
  apps/documentation/.eslintrc.json
  apps/documentation/.gitignore
  apps/documentation/README.md
  apps/documentation/next.config.mjs
  apps/documentation/package-lock.json
  apps/documentation/package.json
  apps/documentation/public/favicon.ico
  apps/documentation/src/components/ClientRenderer/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/api/hello.ts
  apps/documentation/src/pages/fonts/GeistMonoVF.woff
  apps/documentation/src/pages/fonts/GeistVF.woff
  apps/documentation/src/pages/index.tsx
  apps/documentation/src/styles/Home.module.css
  apps/documentation/src/styles/globals.css
  apps/documentation/tsconfig.json
Due: none

feat: add apps/documentation to workspace
  package.json
Due: build-all

refactor: align to build patterns
  apps/documentation/.eslintrc.json
  apps/documentation/.gitignore
  apps/documentation/README.md
  apps/documentation/package-lock.json
  apps/documentation/package.json
  apps/documentation/tsconfig.json
  yarn.lock
Due: build-all

refactor: add linting scripts
  apps/documentation/package.json
Due: none

refactor: align to build patterns (#194)
  apps/documentation/.eslintrc.json
  apps/documentation/.gitignore
  apps/documentation/README.md
  apps/documentation/package-lock.json
  apps/documentation/package.json
  apps/documentation/tsconfig.json
  yarn.lock
Due: build-all

fix: remove export that doesn't exist yet
  apps/documentation/src/pages/index.tsx
Due: none

fix: lint
  apps/documentation/src/styles/Home.module.css
Due: none

feat: Docs (DX-000) (#192)
  package.json
  yarn.lock
Due: build-all

feat: Docs (DX-000) (#192)
  apps/documentation/.gitignore
  apps/documentation/README.md
  apps/documentation/next.config.mjs
  apps/documentation/package.json
  apps/documentation/public/favicon.ico
  apps/documentation/src/components/ClientRenderer/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/api/hello.ts
  apps/documentation/src/pages/fonts/GeistMonoVF.woff
  apps/documentation/src/pages/fonts/GeistVF.woff
  apps/documentation/src/pages/index.tsx
  apps/documentation/src/styles/Home.module.css
  apps/documentation/src/styles/globals.css
  apps/documentation/tsconfig.json
  package.json
  yarn.lock
Due: build-all

feat: docs
  apps/documentation/.eslintrc.json
  apps/documentation/package-lock.json
  apps/documentation/src/pages/index.tsx
Due: none

feat: export components for documentation and reviews
  .gitignore
  packages/chat/package.json
  packages/chat/src/components/Howdy/index.tsx
  packages/chat/src/ui.ts
  packages/chat/tsconfig.build-ui.json
  packages/chat/vite.components.config.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
Due: none

wip: good place to reset to
  apps/documentation/next.config.mjs
  apps/documentation/package.json
  apps/documentation/src/pages/_app.tsx
  apps/documentation/tsconfig.build.json
  apps/documentation/tsconfig.json
  yarn.lock
Due: build-all

feat: let's see if this work
  apps/documentation/package.json
  apps/documentation/src/pages/_app.tsx
  yarn.lock
Due: build-all

fix: docs
  apps/documentation/package.json
  yarn.lock
Due: build-all

fix: fixed package version
  apps/documentation/package.json
Due: none

fix: dep version
  yarn.lock
Due: build-all

temp: declare chat ui package for speed
  apps/documentation/next.config.mjs
  apps/documentation/temp-types.d.ts
Due: none

fix: linting issue
  apps/documentation/.eslintrc.json
  apps/documentation/package.json
  yarn.lock
Due: build-all

fix: fixing import statement
  apps/documentation/src/pages/index.tsx
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
