Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@e1967a06569918ac7984055a11085d36c29ab862 🚀
  project.json
Due: none

feat: disable widget zoom (CV3-286)
  packages/react-chat/index.html
Due: build-apps

feat: disable widget zoom (CV3-286) (#67)
  packages/react-chat/index.html
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@8fdbf232d37d27a2e98ed58ac2ce3e5e2e26e77e 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@8fb2270565ad51ea5cd2b85de686fbd9a62611c3 🚀
  project.json
Due: none

feat: fix card overflow issue (CV3-307)
  packages/react-chat/src/components/Card/styled.ts
Due: build-apps

fix: use new markdown library (BUG-555)
  packages/react-chat/package.json
  packages/react-chat/src/components/Text/Markdown.tsx
  yarn.lock
Due: build-apps, build-all

fix: react markdown build (BUG-555)
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@3952980740790103a632d85d2aec48b62dad1439 🚀
  project.json
Due: none

fix: revert all markdown issues
  packages/react-chat/package.json
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@54c625f59775b3aa8fba11274e6d07ca64728e82 🚀
  project.json
Due: none

Revert "fix: revert all markdown issues"
  packages/react-chat/package.json
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
  yarn.lock
Due: build-apps, build-all

fix: add pre-wrap to markdown code (BUG-555)
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@397fc775c7ad0b98e16315ced64891039ac22c0c 🚀
  project.json
Due: none

fix: whitespace prewrap p tags (BUG-555)
  packages/react-chat/src/components/Text/Markdown.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@31e51f769b07b7da1a0161be9ae5c1e79adb0f36 🚀
  project.json
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
