Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

fix: copy icon transitions when clicked
  packages/chat/src/components/FeedbackButton/FeedbackButton.css.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
  packages/chat/src/components/FeedbackButton/index.tsx
Due: build-apps

fix: update chat container box shadow
  packages/chat/src/components/NewChat/NewChat.css.ts
Due: build-apps

feat: transition audio button, don't conditionally render
  packages/chat/src/components/MessageInput/AudioInputButton.tsx
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

fix: add stylesheet and extensions to WidgetSettings
  packages/chat/src/utils/assistant.ts
Due: build-apps

fix: organizing props better to match all new configurations
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Dialog/Dialog.css.ts
  packages/chat/src/components/Dialog/index.tsx
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/TypingIndicator/TypingIndicator.story.tsx
  packages/chat/src/components/WelcomeMessage/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: paragraph spacing
  packages/chat/src/__fixtures__/markdown/text-treatment.md
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/styles.css
Due: build-apps

fix: use default avatar
  packages/chat/src/assets/vf_chat.png
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/SystemResponse/Indicator/Indicator.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/TypingIndicator/TypingIndicator.story.tsx
  packages/chat/src/dtos/AssistantOptions.dto.ts
  packages/chat/src/utils/assistant.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: Entry Animation (DSN-2566) (#372)
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/NewFooter.story.tsx
  packages/chat/src/components/Prompt/Prompt.story.tsx
  packages/chat/src/components/Prompt/styles.css.ts
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.story.tsx
  packages/chat/src/styles/animations.ts
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

fix: Launcher hitbox and entry animation (DSN-2523) (#373)
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@7bb7c037e340c48b9d64e98ab2180b5d7467bacf 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@5acbde30ed87fafa2ed68334700f74add2549b99 🚀
  project.json
Due: none

fix: update dto types
  packages/chat/package.json
  packages/chat/src/__fixtures__/mock-assistant.ts
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/hooks/usePalette.ts
  packages/chat/src/types/index.ts
  packages/chat/src/types/settings.ts
  packages/chat/src/utils/assistant.ts
  yarn.lock
Due: build-apps, build-all

fix: uncomment stuff i fixed
  packages/chat/src/utils/stylesheet.ts
  packages/chat/src/views/ChatEmbed/index.tsx
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: minor variable change
  packages/chat/src/components/Header/index.tsx
Due: build-apps

fix: copy icon transitions when clicked (DSN-2583) (#374)
  packages/chat/src/components/FeedbackButton/FeedbackButton.css.ts
  packages/chat/src/components/FeedbackButton/FeedbackButton.story.tsx
  packages/chat/src/components/FeedbackButton/index.tsx
  packages/chat/src/components/NewChat/NewChat.css.ts
Due: build-apps

feat: Audio input button transition (DSN-2581) (#375)
  packages/chat/src/components/MessageInput/AudioInputButton.tsx
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

fix: paragraph spacing (DSN-2582) (#377)
  packages/chat/src/__fixtures__/markdown/text-treatment.md
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/styles.css
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@2896f549a06f5f992b31126e4faac0519c1c16b4 🚀
  project.json
Due: none

fix: correct position calculation
  packages/chat/src/utils/assistant.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: match the message layout in indicator
  packages/chat/src/components/SystemResponse/Indicator/Indicator.tsx
Due: build-apps

fix: widget story has content appear
  packages/chat/src/components/NewChat/NewChat.story.tsx
Due: build-apps

fix: animate the message content, not avatar
  packages/chat/src/components/SystemResponse/styles.css.ts
Due: build-apps

fix: remove unused var and sort imports
  packages/chat/src/utils/assistant.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

override
  package.json
  packages/react-chat/src/components/Footer/Footer.story.tsx
  packages/react-chat/src/components/Footer/index.tsx
  yarn.lock
Due: build-apps, build-all

wip
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/SystemResponse/Height.css.ts
  packages/chat/src/components/SystemResponse/Height.story.tsx
  packages/chat/src/components/SystemResponse/Indicator/Indicator.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/SystemResponse.story.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
Due: build-apps

fix: carousel story
  packages/chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

build(ci): skip UI Tests for gtmq
  .circleci/continue-config.yml
Due: none

chore(build): update orb-common@0.89.0
  .circleci/continue-config.yml
Due: none

build(ci): skip UI Tests for gtmq (DSN-2573) (#385)
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@8b816d5aedfd103dad86156d11b54a0d99513082 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@6ee208361e27d41be4a24df2bcba28e19884fa14 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

wip: merging settings
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/dtos/WidgetOverrides.dto.test.ts
  packages/chat/src/dtos/WidgetOverrides.dto.ts
  packages/chat/src/utils/assistant.test.ts
  packages/chat/src/utils/assistant.ts
  packages/chat/src/widget.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
