Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

fix: show correct icon when recording
  packages/chat/src/components/MessageInput/AudioInputButton.tsx
Due: build-apps

fix: no prewrap for markdown messages
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
Due: build-apps

feat: message input audio and refactoring
  apps/documentation/package.json
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/atomic/message-input.mdx
  packages/chat/.storybook/preview.tsx
  packages/chat/package.json
  packages/chat/src/components/Buttons/StopButton/index.tsx
  packages/chat/src/components/MessageInput/AudioInputButton.tsx
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/MessageInput/MessageInput.story.tsx
  packages/chat/src/components/MessageInput/hooks.ts
  packages/chat/src/components/MessageInput/index.tsx
  packages/chat/src/dtos/ChatConfig.dto.ts
  yarn.lock
Due: build-apps, build-all

fix: tweaks to agent mesasge
  apps/documentation/public/bundle/style.css
Due: none

fix: adjust chat height to be responsive
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/widget.tsx
Due: build-apps

fix: closing tag in demo
  apps/documentation/src/pages/atomic/message-input.mdx
Due: none

feat: review for MessageInput
  apps/documentation/src/pages/atomic/message-input.mdx
  packages/chat/src/components/MessageInput/index.tsx
Due: build-apps

fix: change border radius of larger buttons
  packages/chat/src/components/Button/styles.css.ts
Due: build-apps

fix: yarn install to update lockfile
  apps/documentation/package.json
  yarn.lock
Due: build-all

fix: rotate only button icon
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Icon/index.tsx
Due: build-apps

fix: adjust input height and cursor on hover
  packages/chat/src/components/MessageInput/MessageInput.css.ts
Due: build-apps

fix: add regenerator runtime
  apps/documentation/src/pages/_app.tsx
  packages/chat/src/components/Buttons/StopButton/StopButton.css.ts
  packages/chat/src/components/Buttons/StopButton/index.tsx
Due: build-apps

feat: make docs more reliable for chat interaction example
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_meta.js
  apps/documentation/src/pages/chat.tsx
  apps/documentation/src/pages/index.mdx
Due: none

fix
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_app.tsx
Due: none

feat: update chat kit to latest
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
Due: none

fix: Agent Message and Chat Docs (DSN-000) (#277)
  apps/documentation/package.json
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/public/bundle/style.css
  apps/documentation/src/components/ChatScript/index.tsx
  apps/documentation/src/pages/_app.tsx
  apps/documentation/src/pages/_document.tsx
  apps/documentation/src/pages/_meta.js
  apps/documentation/src/pages/atomic/message-input.mdx
  apps/documentation/src/pages/chat.tsx
  apps/documentation/src/pages/index.mdx
  packages/chat/.storybook/preview.tsx
  packages/chat/package.json
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/Button/styles.css.ts
  packages/chat/src/components/Buttons/StopButton/StopButton.css.ts
  packages/chat/src/components/Buttons/StopButton/index.tsx
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Icon/index.tsx
  packages/chat/src/components/MessageInput/AudioInputButton.tsx
  packages/chat/src/components/MessageInput/MessageInput.css.ts
  packages/chat/src/components/MessageInput/MessageInput.story.tsx
  packages/chat/src/components/MessageInput/hooks.ts
  packages/chat/src/components/MessageInput/index.tsx
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/styles.css
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/widget.tsx
  yarn.lock
Due: build-apps, build-all

fix: Agent Message and Chat Docs (DSN-000) (#277)
  yarn.lock
Due: build-all

Deploying to docs from @ voiceflow/react-chat@99fd1d6fdaeb50cf03b6fde2bfb6a68e05e1408e 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@eed772e545c9a3b2ef8986e213468a25ce05a891 🚀
  project.json
Due: none

fix: header actions (COR-3811)
  apps/documentation/src/pages/molecules/header.mdx
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/assets/svg/mute.svg
  packages/chat/src/components/Header/Header.story.tsx
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/dtos/RenderOptions.dto.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: avatar image in header should not be hard coded
  apps/documentation/public/bundle/bundle.mjs
  packages/chat/src/components/Header/Header.story.tsx
  packages/chat/src/components/NewChat/index.tsx
Due: build-apps

fix: user message text colour should be themed
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/UserMessage/UserMessage.css.ts
  packages/chat/src/components/UserMessage/UserMessage.story.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
Due: build-apps

fix: header actions (COR-3811) (#278)
  apps/documentation/public/bundle/bundle.mjs
  apps/documentation/src/pages/molecules/header.mdx
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/assets/svg/mute.svg
  packages/chat/src/components/Header/Header.story.tsx
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/dtos/RenderOptions.dto.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@95cc945f1f79c81da3932bbb0c1f8f2ad094b008 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@e1be83a278a3817fc8e945ef4b8f2697abdd2749 🚀
  project.json
Due: none

fix: widget width
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

fix: default message for AI generated message
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

fix: font weight of headers should be 600
  packages/chat/src/styles.css
Due: build-apps

fix: add top margin to the loading state
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/SystemResponse/Indicator.css.ts
Due: build-apps

fix: add regenerator-runtime to the live-chat example (COR-0000)
  examples/live-chat/package.json
  examples/live-chat/src/main.tsx
  yarn.lock
Due: build-all

fix: default message for AI generated message (DSN-2504) (#282)
  packages/chat/src/components/AgentMessage/index.tsx
Due: build-apps

fix: add top margin to the loading state (DSN-2511) (#284)
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/SystemResponse/Indicator.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@fea80caefd6635e63153ba6389997612fca8992f 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@da6c2ce19859a504b1825aaf8799a3e90c90a0bb 🚀
  project.json
Due: none

fix: font weight of headers should be 600 (DSN-2507) (#283)
  packages/chat/src/styles.css
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@366b8598f52cd881054bf2d0f17300f13e24012c 🚀
  project.json
Due: none

fix: widget width (DSN-2509) (#281)
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@431b81c654db39bc15d95942b1da5f0645f4d390 🚀
  project.json
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
