Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@9564c09209dbb36ad3f40f30e44eecf7fe79c358 🚀
  project.json
Due: none

fix: better encode decode structure (ACT-009)
  packages/widget/src/api/listeners.ts
  packages/widget/src/config.ts
Due: build-apps

fix: ci
  .circleci/continue-config.yml
  README.md
  scripts/setup_github_pages.sh
  sonar-project.properties
Due: none

fix: split api and state
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
Due: build-apps

fix: separate contexts and update stitches (ACT-003)
  packages/react-chat/config/test/setup.ts
  packages/react-chat/package.json
  packages/react-chat/src/components/Card/index.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/state/end.tsx
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/types/index.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  yarn.lock
Due: build-apps, build-all

fix: self reference
  packages/react-chat/src/utils/session.ts
Due: build-apps

fix: still export package
  packages/react-chat/package.json
  packages/react-chat/src/package.ts
  packages/react-chat/vite.package.config.ts
Due: build-apps

feat: add shadowroot
  packages/react-chat/package.json
Due: build-apps

fix: tests
  packages/react-chat/__mocks__/@voiceflow/stitches-react.ts
Due: build-apps

fix: test mocks
  packages/react-chat/__mocks__/@voiceflow/stitches-react.ts
Due: build-apps

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@5238af6b50ecc4c8d0a0e1cba5227c85e4088391 🚀
  project.json
Due: none

fix: make shadow dom official chat (ACT-004)
  .circleci/continue-config.yml
Due: none

fix: stitches theme color (CT-000)
  packages/react-chat/src/styles/theme.ts
Due: build-apps

fix: no reply timeout (ACT-014)
  packages/react-chat/src/components/SystemResponse/constants.ts
  packages/react-chat/src/components/SystemResponse/hooks.ts
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useNoReply.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

fix: no reply timeout (ACT-014) (#87)
  packages/react-chat/src/components/SystemResponse/constants.ts
  packages/react-chat/src/components/SystemResponse/hooks.ts
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useNoReply.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@388f64d2dd204ff21aa10f8781dd40f9b2e12012 🚀
  project.json
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
