Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

fix: validate responses through dtos
  packages/react-chat/package.json
  packages/react-chat/src/runtime.ts
  packages/widget/src/api/listeners.ts
  yarn.lock
Due: build-apps, build-all

fix: ignore peer dependency
  packages/react-chat/.depcheckrc
Due: build-apps

fix: update dtos
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: launch options (CT-000)
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: launch options (CT-000) (#84)
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/hooks/useRuntime.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@d06cc1e07c7d34e131624915858a5b30261bf7ac 🚀
  project.json
Due: none

fix: validate responses through dtos (#83)
  packages/react-chat/.depcheckrc
  packages/react-chat/package.json
  packages/react-chat/src/runtime.ts
  packages/widget/src/api/listeners.ts
  yarn.lock
Due: build-apps, build-all

Revert "fix: validate responses through dtos (#83)"
  packages/react-chat/.depcheckrc
  packages/react-chat/package.json
  packages/react-chat/src/runtime.ts
  packages/widget/src/api/listeners.ts
  yarn.lock
Due: build-apps, build-all

Revert "Revert "fix: validate responses through dtos (#83)""
  packages/react-chat/.depcheckrc
  packages/react-chat/package.json
  packages/react-chat/src/runtime.ts
  packages/widget/src/api/listeners.ts
  yarn.lock
Due: build-apps, build-all

fix: dtos
  packages/react-chat/src/runtime.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@0d20177d1233d6598086fe1954942180f849503b 🚀
  project.json
Due: none

fix: allow launch within config
  packages/widget/src/config.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@5f1a1881196d81b9143413a06708be901521d796 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  packages/widget/CHANGELOG.md
  packages/widget/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@cc34d9eac277b13415c17ea257858e8ada929204 🚀
  project.json
Due: none

ci(sonar): use latest sonarcloud orb
  .circleci/continue-config.yml
Due: none

ci(sonar): use latest sonarcloud orb (IN-976) (#86)
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@3c27b601a241560c83ba64f0afde7c7e1071c42d 🚀
  project.json
Due: none

fix: add URL encoding (ACT-000)
  packages/widget/src/api/listeners.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@ceedff9507b2d1be9fb6979c1a239944c768add9 🚀
  project.json
Due: none
