Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

Deploying to docs from @ voiceflow/react-chat@b9f32c60435872b54f90d054dab1fb997e010656 🚀
  project.json
Due: none

build(ci): gtmq vercel skip
  .github/workflows/vercel.yaml
Due: none

build(fix): ignore branches from vercel side
  .github/workflows/vercel.yaml
Due: none

build(ci): gtmq vercel skip (#297)
  .github/workflows/vercel.yaml
Due: none

Deploying to docs from @ voiceflow/react-chat@adfa78876dd6d7f74a3f3e4bc9dfd3e620f85d76 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: feedback buttons and message container
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.interface.ts
  packages/chat/src/components/MessageContainer/styles.css.ts
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

more fixes
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: remove unused params
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: message container and feedback button fixes (COR-0000) (#317)
  apps/documentation/src/pages/atomic/user-message.mdx
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/FeedbackButton/FeedbackButton.interface.ts
  packages/chat/src/components/MessageContainer/index.tsx
  packages/chat/src/components/MessageContainer/styles.css.ts
  packages/chat/src/components/NewChat/NewChat.story.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/UserMessage/UserMessage.css.ts
  packages/chat/src/components/UserMessage/UserMessage.story.tsx
  packages/chat/src/components/UserMessage/index.tsx
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@49c76c6378f40fcd07672c9d50e868268616913e 🚀
  project.json
Due: none

fix: button reveal animation
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
Due: build-apps

feat: add animations to carousel and add util
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/styles/animation-utils.css.ts
Due: build-apps

feat: add animation to single card
  packages/chat/src/components/Card/index.tsx
Due: build-apps

fix: button reveal animation (DSN-2529) (#315)
  packages/chat/src/components/Card/index.tsx
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/styles/animation-utils.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@5da6ac3b5eb1ca2c13a3e7c93563d6a0936f0f42 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: build chat bundle for vercel deployment
  vercel.json
Due: none

fix: build chat bundle for vercel deployment (#320)
  vercel.json
Due: none

fix: padding on separator
  packages/chat/src/components/Separator/Separator.story.tsx
  packages/chat/src/components/Separator/styles.css.ts
  packages/chat/src/views/ChatWidget/ChatWidget.story.tsx
Due: build-apps

fix: conditional height of bottom spacing element on chat ended
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewChat/index.tsx
Due: build-apps

fix: remove dead story
  packages/chat/src/views/ChatWidget/ChatWidget.story.tsx
Due: build-apps

feat: release next react-chat library (DSN-2545)
  apps/documentation/package.json
  apps/documentation/src/components/StoryEmbed.tsx
  apps/documentation/src/pages/_app.tsx
  packages/chat/package.json
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

chore: rename in examples
  examples/live-agent/package.json
  examples/live-agent/src/config.ts
  examples/live-agent/src/context.tsx
  examples/live-agent/src/main.tsx
  examples/live-agent/src/traces/LiveAgent.trace.ts
  examples/live-agent/src/use-live-agent.hook.ts
  examples/live-chat/src/config.ts
  examples/live-chat/src/context.tsx
  examples/live-chat/src/main.tsx
  examples/live-chat/src/traces/LiveAgent.trace.ts
  examples/live-chat/src/use-live-agent.hook.ts
Due: none

chore: finish renaming
  examples/live-chat/src/main.tsx
  packages/chat/package.json
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: release next react-chat library (DSN-2545) (#316)
  apps/documentation/package.json
  apps/documentation/src/components/StoryEmbed.tsx
  apps/documentation/src/pages/_app.tsx
  examples/live-agent/package.json
  examples/live-agent/src/config.ts
  examples/live-agent/src/context.tsx
  examples/live-agent/src/main.tsx
  examples/live-agent/src/traces/LiveAgent.trace.ts
  examples/live-agent/src/use-live-agent.hook.ts
  examples/live-chat/src/config.ts
  examples/live-chat/src/context.tsx
  examples/live-chat/src/main.tsx
  examples/live-chat/src/traces/LiveAgent.trace.ts
  examples/live-chat/src/use-live-agent.hook.ts
  packages/chat/package.json
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

feat: release next react-chat library (DSN-2545) (#316)
  examples/live-agent/package.json
  examples/live-agent/src/config.ts
  examples/live-agent/src/context.tsx
  examples/live-agent/src/main.tsx
  examples/live-agent/src/traces/LiveAgent.trace.ts
  examples/live-agent/src/use-live-agent.hook.ts
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@ae0300852e68db976af3573222ab5a2ec42c3756 🚀
  project.json
Due: none

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@6c43120bba6ff8072f1556e2f430c902fd38d7e3 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

fix: Chat Ended Spacing (DSN-2543) (#323)
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/components/Separator/Separator.story.tsx
  packages/chat/src/components/Separator/styles.css.ts
Due: build-apps

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@0c71c0aef2981863b5bac50b0fedbdaba6b2b5ce 🚀
  project.json
Due: none

fix: change spacing after WelcomeMessage component (COR-3948)
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
Due: build-apps

feat: cut animation time in half and use constant
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/components/UserResponse/styles.css.ts
Due: build-apps
