Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

fix: bump stitches version
  packages/react-chat/examples/index.html
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: add console.error to cases when shadowRoot cannot be attached to target
  packages/react-chat/examples/index.html
  packages/react-chat/src/index.tsx
Due: build-apps

fix: only show timestamp on non-empty cfhat
  packages/react-chat/examples/index.html
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/entrypoints.tsx
  packages/react-chat/src/utils/config.ts
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
Due: build-apps

fix: isloading state
  packages/react-chat/examples/index.html
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: disable eslnt for mutable theme import
  packages/react-chat/src/styles/theme.ts
Due: build-apps

fix: lint report
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/utils/config.ts
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
Due: build-apps

fix: temp disable button test
  packages/react-chat/src/components/Button/Button.test.tsx
Due: build-apps

feat: chat embed(DX-996) (#106)
  .vscode/settings.json
  packages/react-chat/examples/index.html
  packages/react-chat/package.json
  packages/react-chat/src/common/index.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/Button/Button.test.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/components/UserResponse/index.tsx
  packages/react-chat/src/components/UserResponse/styled.ts
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/entrypoints.tsx
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useLoadCustomTheme.tsx
  packages/react-chat/src/hooks/useTheme.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/src/utils/config.ts
  packages/react-chat/src/utils/stylesheet.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/src/views/index.ts
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@e1df3b71d9ea1c90f7ac1d056843dcca338f78c1 🚀
  project.json
Due: none

Revert "feat: chat embed(DX-996) (#106)"
  .vscode/settings.json
  packages/react-chat/examples/index.html
  packages/react-chat/package.json
  packages/react-chat/src/common/hooks.ts
  packages/react-chat/src/common/index.ts
  packages/react-chat/src/common/types.ts
  packages/react-chat/src/components/Button/Button.test.tsx
  packages/react-chat/src/components/Chat/index.tsx
  packages/react-chat/src/components/Footer/index.tsx
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/SystemResponse/SystemMessage.tsx
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/components/UserResponse/index.tsx
  packages/react-chat/src/components/UserResponse/styled.ts
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/entrypoints.tsx
  packages/react-chat/src/hooks/index.ts
  packages/react-chat/src/hooks/useLoadCustomTheme.tsx
  packages/react-chat/src/index.tsx
  packages/react-chat/src/shadow.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/src/utils/config.ts
  packages/react-chat/src/utils/stylesheet.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
  packages/react-chat/src/views/ChatWindow/index.tsx
  packages/react-chat/src/views/index.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@b957b24352506d02a46872f2590ba26d461219e0 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@9bdebbd60fd9b68a5ec4a34ceb8f69a5a8f34e14 🚀
  project.json
Due: none

fix: ssh fingerprint
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@7e4131ba229f753735493815c44c129e89f5dbe3 🚀
  project.json
Due: none

fix: remove animation.ts theme imports
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles/animation.ts
  packages/react-chat/src/styles/theme.ts
Due: build-apps

fix: commented out chatWidget code, return a string. import now works
  packages/react-chat/examples/index.html
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles/animation.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: direct import of styled into the chat widget works
  packages/react-chat/src/styles/animation.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
Due: build-apps

changed all imports of theme to setup.ts
  packages/react-chat/setup.ts
  packages/react-chat/src/components/AssistantInfo/styled.ts
  packages/react-chat/src/components/Avatar/styled.ts
  packages/react-chat/src/components/Bubble/styled.ts
  packages/react-chat/src/components/Button/Primary.ts
  packages/react-chat/src/components/Button/Secondary.ts
  packages/react-chat/src/components/Button/styled.ts
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/styled.ts
  packages/react-chat/src/components/Chat/styled.ts
  packages/react-chat/src/components/ChatInput/styled.ts
  packages/react-chat/src/components/Feedback/styled.ts
  packages/react-chat/src/components/Footer/styled.ts
  packages/react-chat/src/components/Header/styled.ts
  packages/react-chat/src/components/Icon/styled.ts
  packages/react-chat/src/components/Image/Background.tsx
  packages/react-chat/src/components/Image/Default.tsx
  packages/react-chat/src/components/Input/styled.ts
  packages/react-chat/src/components/Launcher/styled.ts
  packages/react-chat/src/components/Loader/index.ts
  packages/react-chat/src/components/Message/ChatMessage.ts
  packages/react-chat/src/components/Message/DebugMessage/styled.ts
  packages/react-chat/src/components/Message/styled.ts
  packages/react-chat/src/components/Proactive/Close.tsx
  packages/react-chat/src/components/Proactive/Message.tsx
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/Prompt/styled.ts
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/components/Text/Markdown.tsx
  packages/react-chat/src/components/Textarea/styled.ts
  packages/react-chat/src/components/Timestamp/styled.ts
  packages/react-chat/src/components/Tooltip/styled.ts
  packages/react-chat/src/components/TypingIndicator/styled.ts
  packages/react-chat/src/components/UserResponse/styled.ts
  packages/react-chat/src/hooks/useTheme.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/styles/animation.ts
  packages/react-chat/src/styles/theme.ts
  packages/react-chat/src/views/ChatWidget/styled.ts
  packages/react-chat/src/views/ChatWindow/styled.ts
Due: build-apps

wip
  packages/react-chat/src/views/ChatWidget/index.tsx
  packages/react-chat/src/views/ChatWidget/styled.ts
Due: build-apps

made hooks imports more specific
  packages/react-chat/.dependency-cruiser.js
  packages/react-chat/package.json
  packages/react-chat/src/components/Avatar/styled.ts
  packages/react-chat/src/components/SystemResponse/hooks.ts
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/UserResponse/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useNoReply.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/react-chat/src/hooks/useLoadCustomTheme.tsx
  packages/react-chat/src/hooks/useTheme.ts
  packages/react-chat/src/index.tsx
  packages/react-chat/src/package.entry.ts
  packages/react-chat/src/views/ChatWindow/ChatWindowStandaloneView.tsx
  packages/react-chat/typings/global.d.ts
Due: build-apps

test
  packages/react-chat/examples/index.html
  packages/react-chat/src/components/SystemResponse/styled.ts
  packages/react-chat/src/styles.css
Due: build-apps

fix: rm madge
  .dependency-cruiser.js
  packages/react-chat/package.json
  packages/react-chat/setup.ts
  packages/react-chat/src/entrypoints.tsx
  packages/react-chat/src/package.entry.ts
  packages/react-chat/typings/global.d.ts
Due: build-apps
