Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@f61fa8db5553fb04fdcdba077cb78adbc28f80ce 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-BGY4mUw1.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-xeVvGudW.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-BuPd2Vnu.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-QENNBt--.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

see if this fixes render
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.css.tsx
Due: build-apps

fix: mobile positioning and layout
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.component.tsx
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.css.tsx
  packages/chat/src/styles/sizes.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: mobile message layout
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/MessageContainer/styles.css.ts
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

feat: styling proactive messages (COR-0000) (#397)
  packages/chat/src/components/Proactive/index.tsx
  packages/chat/src/components/Proactive/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@7c8d30b381cdcc76fed56db9a060db26f2d10e32 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-DVmJfu8l.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-DsoI2PX6.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-r1vpOTtE.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-DPXsqhyp.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

fix: Mobile height/width issues (DSN-2417) (#394)
  packages/chat/src/components/AgentMessage/AgentMessage.css.ts
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/MessageContainer/styles.css.ts
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.component.tsx
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.css.tsx
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/components/UserResponse/styles.css.ts
  packages/chat/src/styles/sizes.ts
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWidget/styles.css.ts
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@30083ad7854896c81ab77de1324d2633acbb1414 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-BGY4mUw1.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-xeVvGudW.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-BuPd2Vnu.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-QENNBt--.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

fix: embedded view is always open
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.component.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: circular dep
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: embedded view is always open (COR-0000) (#404)
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.component.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@2a027a317d0be05027c1c487d450fc486f5ec5a9 🚀
  project.json
Due: none

feat: improve launcher toggle animation
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

fix: pass ai generated message to message component
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
Due: build-apps

fix: improve naming
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
Due: build-apps

feat: deploy image asset to cdn (COR-0000)
  packages/chat/package.json
  packages/chat/vite.widget.config.ts
  yarn.lock
Due: build-apps, build-all

fix: build with different copy plugin
  packages/chat/package.json
  packages/chat/tsconfig.json
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
  packages/chat/vitest.config.ts
  yarn.lock
Due: build-apps, build-all

fix: linting
  packages/chat/package.json
Due: build-apps

fix: fixed failing stories
  packages/chat/src/components/AgentMessage/AgentMessage.story.tsx
Due: build-apps

feat: deploy image asset to cdn (COR-0000) (#407)
  packages/chat/package.json
  packages/chat/tsconfig.json
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
  packages/chat/vitest.config.ts
  yarn.lock
Due: build-apps, build-all

feat: deploy image asset to cdn (COR-0000) (#407)
  yarn.lock
Due: build-all

fix: pass ai generated message to message component (DSN-000) (#406)
  packages/chat/src/components/AgentMessage/AgentMessage.story.tsx
  packages/chat/src/components/AgentMessage/index.tsx
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@58debc9740463946b370310d09a2f427025a3a91 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@5cad7dd0058f2899a0570ffd59955c237d7136bb 🚀
  project.json
Due: none

feat: show default avatar from cdn (COR-0000)
  packages/chat/src/components/Carousel/CarouselButton.tsx
  packages/chat/src/components/Carousel/carouselButtonStyles.css.ts
  packages/chat/src/components/Carousel/index.tsx
  packages/chat/src/components/Carousel/styles.css.ts
  packages/chat/src/components/SystemResponse/SystemMessage.tsx
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/components/SystemResponse/styles.css.ts
  packages/chat/src/dtos/AssistantOptions.dto.ts
Due: build-apps

feat: use test-env general-runtime url (COR-0000)
  apps/documentation/src/components/ChatScript/index.tsx
Due: none

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
