Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

fix: card title wrapping(DX-1132) (#129)
  packages/react-chat/src/components/Card/Card.story.tsx
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@5812f28b77d951e96d7be5ca6182e27677123359 🚀
  assets/AssistantInfo.story.5a3107ce.js
  assets/AssistantInfo.story.aa87c8c5.js
  assets/Card.story.62aca58d.js
  assets/Card.story.99f6137a.js
  assets/Carousel.story.10db4c4d.js
  assets/Carousel.story.3313e297.js
  assets/Chat.story.ba110393.js
  assets/Chat.story.fc04a609.js
  assets/Color-RQJUDNI5.46ea224c.js
  assets/Color-RQJUDNI5.c780e99f.js
  assets/DocsRenderer-K4EAMTCU.616680f4.js
  assets/Footer.story.021f22a9.js
  assets/Footer.story.3c050869.js
  assets/Header.story.5fa1759b.js
  assets/Header.story.df7f8afd.js
  assets/Input.story.071f6c77.js
  assets/Input.story.5b4440d7.js
  assets/Prompt.story.8243cc9e.js
  assets/Prompt.story.f4b87ca5.js
  assets/SystemResponse.story.771f25e9.js
  assets/UserResponse.story.a85f10ce.js
  assets/UserResponse.story.ee104663.js
  assets/WithTooltip-Y7J54OF7.b8296b46.js
  assets/WithTooltip-Y7J54OF7.ff729828.js
  assets/formatter-B5HCVTEV.f19ac5f9.js
  assets/iframe.437bdf2e.js
  assets/iframe.60bbed76.js
  assets/index.022fc750.js
  assets/index.3cf22372.js
  assets/index.99a2d237.js
  assets/index.c599378f.js
  assets/index.d7516c38.js
  assets/preview.1806fe7a.js
  assets/preview.aa95fd72.js
  assets/syntaxhighlighter-JOJW2KGS.65e1f19b.js
  assets/syntaxhighlighter-JOJW2KGS.f7d0faf1.js
  iframe.html
  index.json
  project.json
Due: none

chore(release): publish --skip-ci
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@cc7ce91e89e0ada68270d2dddf5264f570c96bfe 🚀
  assets/AssistantInfo.story.5a3107ce.js
  assets/AssistantInfo.story.616bdac1.js
  assets/Carousel.story.3313e297.js
  assets/Carousel.story.7bd4ffad.js
  assets/Chat.story.48300e14.js
  assets/Chat.story.fc04a609.js
  assets/Color-RQJUDNI5.21864e39.js
  assets/Color-RQJUDNI5.46ea224c.js
  assets/DocsRenderer-K4EAMTCU.5f7793f3.js
  assets/Footer.story.021f22a9.js
  assets/Footer.story.22f707d9.js
  assets/Header.story.5fa1759b.js
  assets/Header.story.8f18251f.js
  assets/Input.story.071f6c77.js
  assets/Input.story.5b4440d7.js
  assets/Prompt.story.4620cf22.js
  assets/Prompt.story.f4b87ca5.js
  assets/SystemResponse.story.2e0355fc.js
  assets/UserResponse.story.90fdb2c7.js
  assets/UserResponse.story.ee104663.js
  assets/WithTooltip-Y7J54OF7.1c1f30c7.js
  assets/WithTooltip-Y7J54OF7.b8296b46.js
  assets/formatter-B5HCVTEV.eea33bda.js
  assets/iframe.60bbed76.js
  assets/iframe.796cc2b4.js
  assets/index.3cf22372.js
  assets/index.8ae0f68d.js
  assets/index.c599378f.js
  assets/preview.1806fe7a.js
  assets/preview.1d2a2378.js
  assets/syntaxhighlighter-JOJW2KGS.138586f6.js
  assets/syntaxhighlighter-JOJW2KGS.65e1f19b.js
  iframe.html
  project.json
Due: none

fix: lint
  packages/react-chat/src/components/Card/Card.story.tsx
Due: build-apps

fix: card carousel title whitespace
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

fix: button text overflow (#117)
  .gitignore
  packages/react-chat/src/components/Button/Primary.ts
  packages/react-chat/src/components/Card/Card.story.tsx
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@039dd449fd082c625bc82f9200d5322b01f45e22 🚀
  assets/AssistantInfo.story.2aaf52ec.js
  assets/AssistantInfo.story.f1ae8f9f.js
  assets/Carousel.story.3a3d55c5.js
  assets/Carousel.story.e20453f9.js
  assets/Chat.story.452fb759.js
  assets/Chat.story.7787f7ce.js
  assets/Color-RQJUDNI5.a39aaf4d.js
  assets/Color-RQJUDNI5.f23a61e2.js
  assets/DocsRenderer-K4EAMTCU.df376cd1.js
  assets/Footer.story.22ac0e51.js
  assets/Footer.story.92aeb05e.js
  assets/Header.story.321893e2.js
  assets/Header.story.6e0adc7b.js
  assets/Input.story.071f6c77.js
  assets/Input.story.5b4440d7.js
  assets/Prompt.story.9f44852c.js
  assets/Prompt.story.ff24cfb9.js
  assets/SystemResponse.story.bdb30d0e.js
  assets/UserResponse.story.8302ee08.js
  assets/UserResponse.story.9221e41d.js
  assets/WithTooltip-Y7J54OF7.aa9e09c0.js
  assets/WithTooltip-Y7J54OF7.f3bac3f3.js
  assets/formatter-B5HCVTEV.31b06401.js
  assets/iframe.536b5531.js
  assets/iframe.d7c4ee22.js
  assets/index.3cf22372.js
  assets/index.a4da184f.js
  assets/index.c599378f.js
  assets/preview.191a8758.js
  assets/preview.5ce99e0d.js
  assets/syntaxhighlighter-JOJW2KGS.4887a1c2.js
  assets/syntaxhighlighter-JOJW2KGS.9f668df8.js
  iframe.html
  project.json
Due: none

feat: add live agent example (DX-1623)
  examples/live-agent/.eslintrc.js
  examples/live-agent/README.md
  examples/live-agent/index.html
  examples/live-agent/package.json
  examples/live-agent/server/.gitignore
  examples/live-agent/server/README.md
  examples/live-agent/server/package.json
  examples/live-agent/server/src/intercom/intercom-topic.enum.ts
  examples/live-agent/server/src/intercom/intercom.routes.ts
  examples/live-agent/server/src/intercom/intercom.service.ts
  examples/live-agent/server/src/main.ts
  examples/live-agent/server/src/sockets.ts
  examples/live-agent/server/tsconfig.json
  examples/live-agent/shared/live-agent-platform.enum.ts
  examples/live-agent/shared/plugin.interface.ts
  examples/live-agent/shared/socket-event.enum.ts
  examples/live-agent/src/config.ts
  examples/live-agent/src/context.tsx
  examples/live-agent/src/main.tsx
  examples/live-agent/src/traces/LiveAgent.trace.ts
  examples/live-agent/src/traces/types.ts
  examples/live-agent/src/use-live-agent.hook.ts
  examples/live-agent/tsconfig.json
  examples/live-agent/types/env.d.ts
  examples/live-agent/vite.config.ts
  lerna.json
  package.json
  packages/react-chat/package.json
  packages/react-chat/src/contexts/RuntimeContext/index.tsx
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/package.entry.ts
  packages/react-chat/src/types/index.ts
  packages/react-chat/src/types/trace.ts
  packages/react-chat/src/utils/stylesheet.ts
  packages/react-chat/src/views/ChatWidget/index.tsx
  yarn.lock
Due: build-apps, build-all

fix: better stylesheet logic
  packages/react-chat/src/utils/stylesheet.ts
Due: build-apps

refactor: live agent hook
  examples/live-agent/src/use-live-agent.hook.ts
  examples/live-agent/types/env.d.ts
Due: none

docs: update readme
  examples/live-agent/README.md
  examples/live-agent/src/config.ts
  examples/live-agent/src/traces/types.ts
Due: none

add updated image
  examples/live-agent/README.md
Due: none

build: align linting configs
  examples/live-agent/package.json
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

chore: remove unused
  examples/live-agent/shared/plugin.interface.ts
Due: none

chore: dependencies
  examples/live-agent/package.json
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: use newer vite version
  examples/live-agent/README.md
  examples/live-agent/package.json
  yarn.lock
Due: build-all

fix: align all versions of ts-pattern to v4.3.0
  examples/live-agent/package.json
  examples/live-agent/server/package.json
  packages/react-chat/package.json
  packages/react-chat/tsconfig.build.json
  yarn.lock
Due: build-apps, build-all

chore: linting errors
  packages/react-chat/src/styles/theme.ts
Due: build-apps

chore: linting errors
  packages/react-chat/.storybook/main.ts
  packages/react-chat/playwright.config.ts
  packages/react-chat/src/components/Carousel/Carousel.story.tsx
  packages/react-chat/src/hocs/tag.tsx
Due: build-apps

docs: add example project
  examples/live-agent/example_project.vf
Due: none

docs: simplify documentation
  examples/live-agent/README.md
Due: none

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@847f2d2e6076b5a10f859a3ee8e9b54d78fa49bc 🚀
  project.json
Due: none

feat: update all dependencies
  .depcheckrc
  .editorconfig
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .prettierignore
  .releaserc
  .vscode/settings.json
  commitlint.config.js
  examples/live-agent/package.json
  examples/live-agent/server/package.json
  package.json
  packages/react-chat/.depcheckrc
  packages/react-chat/.eslintoutputrc
  packages/react-chat/package.json
  packages/react-chat/tsconfig.build.json
  packages/react-chat/tsconfig.json
  yarn.lock
Due: build-apps, build-all

fix: more working
  .circleci/continue-config.yml
  .vscode/settings.json
  README.md
  eslint.config.mjs
  examples/live-agent/index.html
  examples/live-agent/package.json
  examples/live-agent/server/package.json
  examples/live-agent/server/tsconfig.json
  examples/live-agent/tsconfig.json
  lerna.json
  package.json
  packages/react-chat/.dependency-cruiser.mjs
  packages/react-chat/.eslintignore
  packages/react-chat/.eslintrc.js.old
  packages/react-chat/README.md
  packages/react-chat/chromatic.config.json
  packages/react-chat/e2e/embedded.html
  packages/react-chat/e2e/extensions.html
  packages/react-chat/e2e/overlay.html
  packages/react-chat/e2e/proactive.html
  packages/react-chat/examples/index.html
  packages/react-chat/package.json
  packages/react-chat/src/styles.css
  scripts/setup_github_pages.sh
  scripts/template.html
  turbo.json
  yarn.lock
Due: build-apps, build-all

fix: working vitest unit tests for react-chat
  .prettierignore
  .vscode/settings.json
  eslint.config.mjs
  packages/react-chat/.eslintrc.js.old
  packages/react-chat/.gitignore
  packages/react-chat/.yalc/@voiceflow/test-common/README.md
  packages/react-chat/.yalc/@voiceflow/test-common/jest/main.d.ts
  packages/react-chat/.yalc/@voiceflow/test-common/jest/main.js
  packages/react-chat/.yalc/@voiceflow/test-common/package.json
  packages/react-chat/.yalc/@voiceflow/test-common/vitest/main.d.ts
  packages/react-chat/.yalc/@voiceflow/test-common/vitest/main.mjs
  packages/react-chat/.yalc/@voiceflow/test-common/yalc.sig
  packages/react-chat/config/test/setup.ts
  packages/react-chat/package.json
  packages/react-chat/src/components/Button/Button.test.tsx
  packages/react-chat/src/components/Carousel/CarouselButton.tsx
  packages/react-chat/src/dtos/ChatConfig.dto.test.ts
  packages/react-chat/src/dtos/RenderOptions.dto.test.ts
  packages/react-chat/src/utils/assistant.test.ts
  packages/react-chat/src/utils/assistant.ts
  packages/react-chat/tsconfig.build.json
  packages/react-chat/tsconfig.json
  packages/react-chat/vite.config.ts
  packages/react-chat/vite.package.config.ts
  packages/react-chat/vitest.config.mts
  packages/react-chat/vitest.config.ts
  packages/react-chat/yalc.lock
  yarn.lock
Due: build-apps, build-all

fix: update dependencies
  package.json
  packages/react-chat/.yalc/@voiceflow/test-common/README.md
  packages/react-chat/.yalc/@voiceflow/test-common/jest/main.d.ts
  packages/react-chat/.yalc/@voiceflow/test-common/jest/main.js
  packages/react-chat/.yalc/@voiceflow/test-common/package.json
  packages/react-chat/.yalc/@voiceflow/test-common/vitest/main.d.ts
  packages/react-chat/.yalc/@voiceflow/test-common/vitest/main.mjs
  packages/react-chat/.yalc/@voiceflow/test-common/yalc.sig
  packages/react-chat/package.json
  packages/react-chat/yalc.lock
  yarn.lock
Due: build-apps, build-all

chore: remove redundant config
  eslint.config.mjs
Due: none

fix: all dependency tests
  packages/react-chat/.dependency-cruiser.mjs
  packages/react-chat/src/common/index.ts
  packages/react-chat/src/common/utils.ts
  packages/react-chat/src/components/Card/types.ts
  packages/react-chat/src/components/Proactive/index.tsx
  packages/react-chat/src/components/SystemResponse/index.tsx
  packages/react-chat/src/components/SystemResponse/state/end.tsx
  packages/react-chat/src/components/Textarea/Textarea.story.tsx
  packages/react-chat/src/contexts/RuntimeContext/useNoReply.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/AssistantOptions.dto.ts
  packages/react-chat/src/hooks/useChatAPI.ts
  packages/react-chat/src/types/index.ts
  packages/react-chat/src/types/session.ts
  packages/react-chat/src/utils/assistant.test.ts
  packages/react-chat/src/utils/broadcast.ts
  packages/react-chat/src/utils/session.ts
  packages/react-chat/src/views/ChatWindow/index.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
