Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

.circleci/config.yml:

version: 2.1

# this allows you to use CircleCI's dynamic configuration feature
setup: true

orbs:
  path-filtering: circleci/path-filtering@0.0.2

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: master
          config-path: .circleci/continue-config.yml
          mapping: |
            packages/.* build-apps true
            package.json build-all true
            yarn.lock build-all true

feat: allow button action by entering button label (COR-2196) (#143)
  packages/react-chat/src/contexts/RuntimeContext/runtime.utils.test.ts
  packages/react-chat/src/contexts/RuntimeContext/runtime.utils.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
Due: build-apps

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

fix: word break in card descriptions && image mock url
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/fixtures.ts
Due: build-apps

fix: prettier error
  packages/react-chat/src/fixtures.ts
Due: build-apps

fix: lint
  packages/react-chat/src/fixtures.ts
Due: build-apps

fix: word break in card descriptions && image mock url(DX-1996) (#148)
  packages/react-chat/src/components/Card/styled.ts
  packages/react-chat/src/fixtures.ts
Due: build-apps

fix: update document links
  examples/live-agent/README.md
  packages/react-chat/src/utils/broadcast.ts
Due: build-apps

fix: add space
  packages/react-chat/src/utils/broadcast.ts
Due: build-apps

fix: upgrade ws to latest (DX-2065)
  examples/live-agent/server/package.json
  yarn.lock
Due: build-all

fix: upgrade ws to latest (DX-2065) (#150)
  examples/live-agent/server/package.json
  yarn.lock
Due: build-all

fix: upgrade express to latest (DX-2067)
  examples/live-agent/server/package.json
  yarn.lock
Due: build-all

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
Due: none

fix: upgrade express to latest (DX-2067) (#152)
  examples/live-agent/server/package.json
  yarn.lock
Due: build-all

fix: upgrade intercom-client to latest (DX-2068)
  examples/live-agent/server/package.json
  yarn.lock
Due: build-all

fix: upgrade intercom-client to latest (DX-2068) (#153)
  examples/live-agent/server/package.json
  yarn.lock
Due: build-all

fix: update document links (COR-2745) (#149)
  examples/live-agent/README.md
  packages/react-chat/src/utils/broadcast.ts
Due: build-apps

feat: setup chromatic
  .circleci/continue-config.yml
Due: none

feat: chromatic as post-build script
  .circleci/continue-config.yml
Due: none

fix: working directory for chromatic
  .circleci/continue-config.yml
Due: none

fix: make chromatic exit on changes with code 0
  .circleci/continue-config.yml
Due: none

fix: check if its a pr to run chromatic
  .circleci/continue-config.yml
Due: none

fix: add master pubish
  .circleci/continue-config.yml
  packages/react-chat/package.json
Due: build-apps
