Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

wip: experimentation with voice animations
  packages/chat/package.json
  packages/chat/src/components/VoiceWidget/AltVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/GradientVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/ShrinkingCircle.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/WaveformVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.component.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.ts
  yarn.lock
Due: build-apps, build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

fix: limit the width of user messages (COR-0000) (#367)
  packages/chat/src/components/UserResponse/styles.css.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@27dca37d35ab49942f9f04997b75ab59d10d2f63 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-Bu0DKkIF.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-L-bgRYQ-.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-DVW2w0c5.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-ud4dS2Zj.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@a27234be80f2ed4ee55efe325706d63904f9e98c 🚀
  assets/AssistantInfo.story-PaacIAN4.js
  assets/AssistantInfo.story-tRIFrIn6.js
  assets/Carousel.story-LFX_CleX.js
  assets/Carousel.story-qenpBs5R.js
  assets/Chat.story-fICCJWv4.js
  assets/Chat.story-l-ayWSka.js
  assets/Color-RQJUDNI5-BLuUQTYy.js
  assets/Color-RQJUDNI5-BcvwCCX-.js
  assets/DocsRenderer-K4EAMTCU-CiyZLkrv.js
  assets/Footer.story-CAN1Ugu-.js
  assets/Footer.story-p4deJndQ.js
  assets/Header.story-CjK9lhiR.js
  assets/Header.story-DGCVH6B6.js
  assets/Prompt.story-CwBQqH3q.js
  assets/Prompt.story-CzmKx8Ge.js
  assets/SystemResponse.story-DyUNaS8F.js
  assets/UserResponse.story-CzdQKw4p.js
  assets/UserResponse.story-DTzT458H.js
  assets/WithTooltip-Y7J54OF7-CWEAkCaP.js
  assets/WithTooltip-Y7J54OF7-DoHvQM22.js
  assets/formatter-B5HCVTEV-QNGB_zQK.js
  assets/iframe-BWxtrhzv.js
  assets/iframe-Co-3Px1L.js
  assets/index-BhSsCh1i.js
  assets/preview-CI_88UNK.js
  assets/preview-DCjI_GRz.js
  assets/syntaxhighlighter-JOJW2KGS-BIsN9-dQ.js
  assets/syntaxhighlighter-JOJW2KGS-DetqL0G2.js
  iframe.html
  project.json
Due: none

build(ci): use dummy job for UI Tests on master gtmq_ trying
  .circleci/continue-config.yml
Due: none

fix: remove lottie
  packages/chat/package.json
Due: build-apps

fix:
  yarn.lock
Due: build-all

feat: add new icons for voice mode
  packages/chat/src/assets/svg/end-call.svg
  packages/chat/src/assets/svg/index.ts
  packages/chat/src/assets/svg/phone.svg
Due: build-apps

feat: add icon button for secondary and primary buttons
  packages/chat/src/components/Button/ButtonIcon/ButtonIcon.css.ts
  packages/chat/src/components/Button/ButtonIcon/index.tsx
Due: build-apps

feat: base looking good. dropped experimental work
  packages/chat/src/components/VoiceWidget/GradientVisualizer.component.tsx
  packages/chat/src/components/VoiceWidget/MockVoiceWidgetImage.tsx
  packages/chat/src/components/VoiceWidget/MovingGradient.component.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.component.tsx
  packages/chat/src/components/VoiceWidget/logo-animation.ts
Due: build-apps

fix: footer refactor and implementation
  packages/chat/src/components/NewFooter/BottomLinks/BottomLinks.css.ts
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

feat: expanded variant
  packages/chat/src/components/NewFooter/BottomLinks/index.tsx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
Due: build-apps

feat: early voice shrink animation
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
Due: build-apps

fix: random stuff
  apps/documentation/src/pages/compositions/voice-widget.mdx
  packages/chat/src/components/VoiceWidget/VoiceWidget.css.ts
  packages/chat/src/components/VoiceWidget/VoiceWidget.story.tsx
  packages/chat/src/components/VoiceWidget/index.tsx
  packages/chat/src/components/VoiceWidget/use-microphone-amplitude.tsx
  packages/chat/src/components/index.ts
  packages/chat/src/stories.ts
Due: build-apps

wip: initial work on new WidgetSettings object
  packages/chat/package.json
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/chat/src/utils/assistant.ts
  packages/chat/src/utils/session.ts
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  yarn.lock
Due: build-apps, build-all

feat: expose chat container
  packages/chat/package.json
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.component.tsx
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.css.tsx
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
  yarn.lock
Due: build-apps, build-all

feat: expose chat container (DX-000) (#352)
  packages/chat/package.json
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.component.tsx
  packages/chat/src/components/NewChat/ChatContainer/ChatContainer.css.tsx
  packages/chat/src/components/NewChat/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
  yarn.lock
Due: build-apps, build-all

feat: expose chat container (DX-000) (#352)
  yarn.lock
Due: build-all

Deploying to docs from @ voiceflow/react-chat@aacaaacfee03ee0ca918ec132cbeeae9f75a4cd5 🚀
  project.json
Due: none

feat: add new timing function to match figma "gentle"
  packages/chat/src/styles/animations.ts
Due: build-apps

fix: staged welcome message animation
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.story.tsx
Due: build-apps

build(ci): use dummy job for UI Tests on master gtmq_ trying (DSN-2573) (#369)
  .circleci/continue-config.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@64f214fc5eca178f90f3f436abafef8d3eccc4bd 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@1259a6dcda41408a526e6319314d82402f994eb1 🚀
  project.json
Due: none

feat: improve open animation
  packages/chat/src/components/Header/styles.css.ts
  packages/chat/src/components/NewChat/NewChat.css.ts
  packages/chat/src/components/NewFooter/NewFooter.css.ts
  packages/chat/src/components/NewFooter/NewFooter.story.tsx
  packages/chat/src/components/ScrollToBottom/index.tsx
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
  packages/chat/src/styles/animations.ts
  packages/chat/src/views/ChatWidget/styles.css.ts
Due: build-apps

chore: remove unused import
  packages/chat/src/components/NewChat/NewChat.css.ts
Due: build-apps

feat: interactive prompt
  packages/chat/src/components/Prompt/Prompt.story.tsx
Due: build-apps

fix: increase button animation speed
  packages/chat/src/components/SystemResponse/index.tsx
Due: build-apps

fix: prompt section animation
  packages/chat/src/components/Prompt/styles.css.ts
Due: build-apps

fix: welcome message title bottom margin
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
Due: build-apps

wip: WidgetSettings
  packages/chat/src/__fixtures__/mock-assistant.ts
  packages/chat/src/components/Carousel/Carousel.story.tsx
  packages/chat/src/components/Header/index.tsx
  packages/chat/src/components/Proactive/index.tsx
  packages/chat/src/components/WelcomeMessage/index.tsx
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/chat/src/dtos/ChatConfig.dto.ts
  packages/chat/src/hooks/usePalette.ts
  packages/chat/src/storybook/decorators.tsx
  packages/chat/src/utils/assistant.ts
  packages/chat/src/utils/stylesheet.ts
  packages/chat/src/views/ChatEmbed/index.tsx
  packages/chat/src/views/ChatWidget/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: launcher hitbox
  packages/chat/src/components/Launcher/index.tsx
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

feat: simple launcher animation
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

feat: add background filter to open launcher button
  packages/chat/src/components/Launcher/styles.css.ts
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
