Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
  examples/live-chat/CHANGELOG.md
  examples/live-chat/package.json
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@3f12d9b926d117aa7c0f165fd6c760647f1cfd56 🚀
  project.json
Due: none

fix: fixing the docs app (COR-4237)
  apps/documentation/src/components/StoryEmbed.tsx
Due: none

fix: broken types
  apps/documentation/src/components/StoryEmbed.tsx
Due: none

fix: fixing the docs app (COR-4237) (#460)
  apps/documentation/src/components/StoryEmbed.tsx
Due: none

chore(release): publish --skip-ci
  apps/documentation/CHANGELOG.md
  apps/documentation/package.json
Due: none

Deploying to docs from @ voiceflow/react-chat@d9210c2a5833214aef9cdecc26d149e30b9466d4 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-BGY4mUw1.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-xeVvGudW.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-BuPd2Vnu.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-QENNBt--.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

fix: actually pass in the disclaimer props (COR-4228)
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

fix: actually pass in the disclaimer props (COR-4228) (#462)
  packages/chat/src/components/SystemResponse/index.tsx
  packages/chat/src/views/ChatWindow/index.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@7a663464a881b6c9c08429e8ad03559c89e0b3b6 🚀
  project.json
Due: none

fix: Launcher with label only spacing (COR-4241)
  apps/documentation/src/pages/atomic/launcher.mdx
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/index.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/styles.css.ts
  packages/chat/src/storybook/decorators.tsx
Due: build-apps

fix: Launcher with label only spacing (COR-4241) (#464)
  apps/documentation/src/pages/atomic/launcher.mdx
  packages/chat/src/components/Launcher/Launcher.story.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/index.tsx
  packages/chat/src/components/Launcher/LauncherWithLabel/styles.css.ts
  packages/chat/src/storybook/decorators.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@cbfefe8cb3b02a0b2cbc304cbe8d95ce5d85302c 🚀
  assets/AssistantInfo.story-B36GynEf.js
  assets/AssistantInfo.story-ChdZnOB1.js
  assets/Carousel.story-CjSEihmy.js
  assets/Carousel.story-DlTX5V1z.js
  assets/Chat.story-DMqIInEJ.js
  assets/Chat.story-DPfYJ222.js
  assets/Color-RQJUDNI5-DtV0sBXB.js
  assets/Color-RQJUDNI5-MbcwVRLk.js
  assets/DocsRenderer-K4EAMTCU-DVmJfu8l.js
  assets/Footer.story-Co_ckmV7.js
  assets/Footer.story-DYt3CRSx.js
  assets/Header.story-C-YIKwda.js
  assets/Header.story-D_1Ai7Gc.js
  assets/Prompt.story-2h1TY7r_.js
  assets/Prompt.story-JGvX0u61.js
  assets/SystemResponse.story-DsoI2PX6.js
  assets/UserResponse.story-BGPukUCx.js
  assets/UserResponse.story-CidGeK9Q.js
  assets/WithTooltip-Y7J54OF7-BWqv7wBp.js
  assets/WithTooltip-Y7J54OF7-ClQxJoBl.js
  assets/formatter-B5HCVTEV-r1vpOTtE.js
  assets/iframe-BbdKoP-o.js
  assets/iframe-QXHKYjZf.js
  assets/index-DPXsqhyp.js
  assets/preview-Ttw3aDKn.js
  assets/preview-UUbxlHFH.js
  assets/syntaxhighlighter-JOJW2KGS-D41LoOZb.js
  assets/syntaxhighlighter-JOJW2KGS-DXvyA0-7.js
  iframe.html
  project.json
Due: none

feat: show default banner image (COR-4235)
  packages/chat/src/components/WelcomeMessage/index.tsx
Due: build-apps

fix: change banner padding (COR-4248)
  packages/chat/src/components/WelcomeMessage/WelcomeMessage.css.ts
Due: build-apps

feat: add dep for event stream parsing
  yarn.lock
Due: build-all

feat: add dep for event stream parsing
  packages/chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: circular dep
  packages/chat/src/components/WelcomeMessage/index.tsx
Due: build-apps

feat: show default banner image (COR-4235) (#466)
  packages/chat/src/components/WelcomeMessage/index.tsx
Due: build-apps

these were driving me mad
  packages/chat/src/components/FeedbackButton/ThumbsDownIcon.component.tsx
  packages/chat/src/components/FeedbackButton/ThumbsUpIcon.component.tsx
  packages/chat/src/components/Launcher/ChevronIcon.tsx
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@ab71b70775eccb7e8e138279d4d9eb1a0e0b1d68 🚀
  project.json
Due: none

chore: clean some warnings from the console (COR-4258)
  packages/chat/src/components/FeedbackButton/ThumbsDownIcon.component.tsx
  packages/chat/src/components/FeedbackButton/ThumbsUpIcon.component.tsx
  packages/chat/src/components/Launcher/ChevronIcon.tsx
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/widget.tsx
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
Due: build-apps

chore: clean some warnings from the console (COR-4258) (#469)
  packages/chat/src/components/FeedbackButton/ThumbsDownIcon.component.tsx
  packages/chat/src/components/FeedbackButton/ThumbsUpIcon.component.tsx
  packages/chat/src/components/Launcher/ChevronIcon.tsx
  packages/chat/src/components/UserResponse/index.tsx
  packages/chat/src/widget.tsx
  packages/chat/vite.package.config.ts
  packages/chat/vite.widget.config.ts
Due: build-apps

Deploying to docs from @ voiceflow/react-chat@89e2607d7b2469193924a718f5c55e94ac380be9 🚀
  project.json
Due: none

fucked up state, but wip
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/trace.service.ts
  yarn.lock
Due: build-apps, build-all

fucked up state, but wip
  apps/documentation/src/components/ChatScript/index.tsx
  packages/chat/src/contexts/RuntimeContext/messages.ts
  packages/chat/src/contexts/RuntimeContext/useRuntimeAPI.ts
  packages/chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/trace.service.ts
  yarn.lock
Due: build-apps, build-all

feat: add animations to proactive messages
  packages/chat/src/components/Proactive/index.tsx
  packages/chat/src/components/Proactive/styles.css.ts
Due: build-apps

mad styling
  apps/documentation/src/pages/ProactiveMessage.tsx
  apps/documentation/src/pages/chat.tsx
Due: none

fix: launcher spacing to chat (COR-4256)
  packages/chat/src/components/Launcher/styles.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

fix: launcher spacing to chat (COR-4256) (#472)
  packages/chat/src/components/Launcher/styles.css.ts
  packages/chat/src/views/ChatWidget/index.tsx
Due: build-apps

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
