Repository voiceflow/react-chat: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-apps, build-all

feat: define chromatic job
  .circleci/continue-config.yml
Due: none

fix: review comments
  .circleci/continue-config.yml
Due: none

chore: chromatic setup(DX-1999) (#154)
  .circleci/continue-config.yml
  packages/react-chat/package.json
Due: build-apps

custom-chat-styles.css
  packages/react-chat/src/styles.css
Due: build-apps

fix: update dtos version
  packages/react-chat/package.json
Due: build-apps

fix: update lockfile
  yarn.lock
Due: build-all

Update README.md
  README.md
Due: none

fix: update dtos version(TEC-000) (#158)
  packages/react-chat/package.json
  yarn.lock
Due: build-apps, build-all

fix: prettier
  README.md
Due: none

chore(release): publish --skip-ci
  examples/live-agent/CHANGELOG.md
  examples/live-agent/package.json
  packages/react-chat/CHANGELOG.md
  packages/react-chat/package.json
Due: build-apps

chore: update README.md (TEC-000) (#159)
  README.md
Due: none

ci: fix chromatic publish to production (DX-2335)
  .circleci/continue-config.yml
Due: none

fix: re-attach workspace
  .circleci/continue-config.yml
Due: none

ci: fix chromatic publish to production (DX-2335) (#160)
  .circleci/continue-config.yml
Due: none

fix: install dependencies before chromatic (DX-2335)
  .circleci/continue-config.yml
Due: none

ci: fix chromatic publish to production (DX-2335) (#161)
  .circleci/continue-config.yml
Due: none

fix: use dtos-runtime package to avoid private dependency (DX-2340)
  packages/react-chat/package.json
  packages/react-chat/src/contexts/RuntimeContext/messages.ts
  packages/react-chat/src/contexts/RuntimeContext/runtime.utils.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/types/session.ts
  packages/react-chat/src/utils/broadcast.ts
  yarn.lock
Due: build-apps, build-all

refactor: rename dto-runtime to dto-interact
  packages/react-chat/package.json
  packages/react-chat/src/contexts/RuntimeContext/messages.ts
  packages/react-chat/src/contexts/RuntimeContext/runtime.utils.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/types/session.ts
  packages/react-chat/src/utils/broadcast.ts
  yarn.lock
Due: build-apps, build-all

fix: use static date for storybook
  packages/react-chat/src/components/Timestamp/Timestamp.story.tsx
Due: build-apps

fix: use dtos-interact package to avoid private dependency (DX-2340) (#163)
  packages/react-chat/package.json
  packages/react-chat/src/components/Timestamp/Timestamp.story.tsx
  packages/react-chat/src/contexts/RuntimeContext/messages.ts
  packages/react-chat/src/contexts/RuntimeContext/runtime.utils.ts
  packages/react-chat/src/contexts/RuntimeContext/useRuntimeState.ts
  packages/react-chat/src/dtos/ChatConfig.dto.ts
  packages/react-chat/src/types/session.ts
  packages/react-chat/src/utils/broadcast.ts
  yarn.lock
Due: build-apps, build-all

Deploying to docs from @ voiceflow/react-chat@bb1aa9457b98eee4427154b1d2540e9ad46ad6bd 🚀
  assets/AssistantInfo.story-CFDwj7HM.js
  assets/AssistantInfo.story-CnAsmgXY.js
  assets/Carousel.story-Cw-wGUn2.js
  assets/Carousel.story-DETqwoVY.js
  assets/Chat.story-DhYmwLmi.js
  assets/Chat.story-cR7WbTj0.js
  assets/Color-RQJUDNI5-B_3M17zi.js
  assets/Color-RQJUDNI5-DGSPqGyx.js
  assets/DocsRenderer-K4EAMTCU-gFm8myiM.js
  assets/Footer.story-C_OesD-u.js
  assets/Footer.story-Df16YWME.js
  assets/Header.story-Doc0Lnda.js
  assets/Header.story-M_utC_0r.js
  assets/Prompt.story-C-tR9cUf.js
  assets/Prompt.story-CO9TAmA1.js
  assets/SystemResponse.story-DRVQp2Rk.js
  assets/UserResponse.story-Bdt4eSEV.js
  assets/UserResponse.story-DmopqsOY.js
  assets/WithTooltip-Y7J54OF7-DDXHIwgZ.js
  assets/WithTooltip-Y7J54OF7-lTmHCHoe.js
  assets/formatter-B5HCVTEV-BIseHvTm.js
  assets/iframe--jhygkiR.js
  assets/iframe-KHJds--M.js
  assets/index-C0ARdZzL.js
  assets/preview-BR6BONZg.js
  assets/preview-DUTw_0vU.js
  assets/syntaxhighlighter-JOJW2KGS-Az2Zbg7M.js
  assets/syntaxhighlighter-JOJW2KGS-CZys9W2F.js
  iframe.html
  project.json
Due: none

fix: use volta during github action (Dx-2338)
  .github/workflows/docs.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@856610c11a0112a3ff5a12fc232431513a69b2e9 🚀
  project.json
Due: none

Deploying to docs from @ voiceflow/react-chat@d2ece8be770ae199777629b2bc932cb00ad3a4ad 🚀
  assets/AssistantInfo.story-CFDwj7HM.js
  assets/AssistantInfo.story-CnAsmgXY.js
  assets/Carousel.story-Cw-wGUn2.js
  assets/Carousel.story-DETqwoVY.js
  assets/Chat.story-DhYmwLmi.js
  assets/Chat.story-cR7WbTj0.js
  assets/Color-RQJUDNI5-B_3M17zi.js
  assets/Color-RQJUDNI5-DGSPqGyx.js
  assets/DocsRenderer-K4EAMTCU-Dc8tcS7M.js
  assets/Footer.story-C_OesD-u.js
  assets/Footer.story-Df16YWME.js
  assets/Header.story-Doc0Lnda.js
  assets/Header.story-M_utC_0r.js
  assets/Prompt.story-C-tR9cUf.js
  assets/Prompt.story-CO9TAmA1.js
  assets/SystemResponse.story-DgUck_oX.js
  assets/UserResponse.story-Bdt4eSEV.js
  assets/UserResponse.story-DmopqsOY.js
  assets/WithTooltip-Y7J54OF7-DDXHIwgZ.js
  assets/WithTooltip-Y7J54OF7-lTmHCHoe.js
  assets/formatter-B5HCVTEV-CDoraHPH.js
  assets/iframe--jhygkiR.js
  assets/iframe-KHJds--M.js
  assets/index-CC6KWeNj.js
  assets/preview-BR6BONZg.js
  assets/preview-DUTw_0vU.js
  assets/syntaxhighlighter-JOJW2KGS-Az2Zbg7M.js
  assets/syntaxhighlighter-JOJW2KGS-CZys9W2F.js
  iframe.html
  project.json
Due: none

chore: remove branch for testing
  .github/workflows/docs.yml
Due: none

fix: use volta during github action (DX-2338) (#162)
  .github/workflows/docs.yml
Due: none

Deploying to docs from @ voiceflow/react-chat@78dacb0aad231fee5b3a82ae372191e6e0da844c 🚀
  assets/AssistantInfo.story-CFDwj7HM.js
  assets/AssistantInfo.story-CnAsmgXY.js
  assets/Carousel.story-Cw-wGUn2.js
  assets/Carousel.story-DETqwoVY.js
  assets/Chat.story-DhYmwLmi.js
  assets/Chat.story-cR7WbTj0.js
  assets/Color-RQJUDNI5-B_3M17zi.js
  assets/Color-RQJUDNI5-DGSPqGyx.js
  assets/DocsRenderer-K4EAMTCU-gFm8myiM.js
  assets/Footer.story-C_OesD-u.js
  assets/Footer.story-Df16YWME.js
  assets/Header.story-Doc0Lnda.js
  assets/Header.story-M_utC_0r.js
  assets/Prompt.story-C-tR9cUf.js
  assets/Prompt.story-CO9TAmA1.js
  assets/SystemResponse.story-DRVQp2Rk.js
  assets/UserResponse.story-Bdt4eSEV.js
  assets/UserResponse.story-DmopqsOY.js
  assets/WithTooltip-Y7J54OF7-DDXHIwgZ.js
  assets/WithTooltip-Y7J54OF7-lTmHCHoe.js
  assets/formatter-B5HCVTEV-BIseHvTm.js
  assets/iframe--jhygkiR.js
  assets/iframe-KHJds--M.js
  assets/index-C0ARdZzL.js
  assets/preview-BR6BONZg.js
  assets/preview-DUTw_0vU.js
  assets/syntaxhighlighter-JOJW2KGS-Az2Zbg7M.js
  assets/syntaxhighlighter-JOJW2KGS-CZys9W2F.js
  iframe.html
  project.json
Due: none

feat: add sdk-runtime to monorepo (DX-2058)
  package.json
  packages/react-chat/package.json
  packages/react-chat/src/utils/actions.ts
  packages/sdk-runtime/.dependency-cruiser.mjs
  packages/sdk-runtime/CHANGELOG.md
  packages/sdk-runtime/package.json
  packages/sdk-runtime/sonar-project.properties
  packages/sdk-runtime/src/main.ts
  packages/sdk-runtime/src/runtime/index.ts
  packages/sdk-runtime/src/runtime/runtime.interface.ts
  packages/sdk-runtime/src/runtime/runtime.service.auth.ts
  packages/sdk-runtime/src/runtime/runtime.service.public.ts
  packages/sdk-runtime/src/runtime/runtime.service.ts
  packages/sdk-runtime/src/sdk/index.ts
  packages/sdk-runtime/src/sdk/sdk.interface.ts
  packages/sdk-runtime/src/sdk/sdk.service.ts
  packages/sdk-runtime/src/trace/components/card.component.ts
  packages/sdk-runtime/src/trace/components/cardV2.component.ts
  packages/sdk-runtime/src/trace/components/choice.component.ts
  packages/sdk-runtime/src/trace/components/end.component.ts
  packages/sdk-runtime/src/trace/components/index.ts
  packages/sdk-runtime/src/trace/components/speak.component.ts
  packages/sdk-runtime/src/trace/components/stream.component.ts
  packages/sdk-runtime/src/trace/components/text.component.ts
  packages/sdk-runtime/src/trace/components/visual.component.ts
  packages/sdk-runtime/src/trace/index.ts
  packages/sdk-runtime/src/trace/trace.component.ts
  packages/sdk-runtime/src/trace/trace.interface.ts
  packages/sdk-runtime/src/trace/trace.service.ts
  packages/sdk-runtime/tsconfig.build.cjs.json
  packages/sdk-runtime/tsconfig.build.esm.json
  packages/sdk-runtime/tsconfig.build.json
  packages/sdk-runtime/tsconfig.json
  scripts/build_pkg.sh
  sonar-project.properties
  yarn.lock
Due: build-apps, build-all

Path conditions:
  build-apps: any of: packages/.*
  build-all: (any of: package.json) or (any of: yarn.lock)
